@font-face {
  font-family: "Lulo-OneBold";
  src: url("/FontsFree-Net-Lulo-Clean-W01-One-Bold.ttf");
}

*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html, body {
  font-weight: 400;
  font-size: 16px;
  width: 100vw;
  overflow-x: hidden;
  line-height: normal;
  -moz-osx-font-smoothing: grayscale !important;
  -webkit-font-smoothing: antialiased !important;
  scroll-behavior: smooth;
}

body {
  font-family: 'Inter Variable', sans-serif;
}

h1, h2, h3, h4, .heading {
  font-family: 'Montserrat Variable', sans-serif;
  font-weight: 700;
}

h1, h2 {
  text-transform: uppercase;
}

a, a:hover, a:active, a:visited, a:focus, a:link, .noDecoration {
  text-decoration: none !important;
}

button, button:hover, button:active, button:visited, button:focus {
  outline: none;
  border: 1px solid transparent;
}

.radial_gradient {
  display: block;
  width: 33rem;
  height: 33rem;
  position: absolute;
  background: radial-gradient(50% 50% at 50% 50%, rgba(100, 200, 189, 0.3) 0%, rgba(100, 200, 189, 0) 100%);
}

:root {
  /* Fonts */
  /* --font-lulo-clean: Lulo-Clean; */
  /*--font-lulo-bold: Lulo-OneBold;*/
  /* --font-inter: Inter; */
  --font-extra-bold: "Lulo-OneBold";
  /* Colors */
  --gradient: linear-gradient(to top, #094A6F, #64C8BD);
  --white: #FFFFFF;
  --light-grey: #ECECEC;
  --dark-grey: #898989;
  --black: #000000;
  --green: #204A53;

  /* shadows */
  --box-shadow: 0px 0px 20px 0px rgba(0, 0, 0, 0.15);

  /* Dimensions */
  --full-width: 75rem;
  --full-height: 100vh;
  --reduced-width: 70rem;
  --border-radius: 1.875rem;
  --section-width: 100vw;
}

@media (960px<= width < 1200px) {
  :root {
    --full-width: var(--section-width);
    --reduced-width: 57.25rem;
  }
}

@media (640px<= width < 960px) {
  :root {
    --full-width: var(--section-width);
    --reduced-width: 38.125rem;
  }
}

@media (480px<= width < 640px) {
  :root {
    --full-width: var(--section-width);
    --reduced-width: 27.5rem;
  }
}

@media (320px<= width < 480px) {
  :root {
    --full-width: var(--section-width);
    --reduced-width: 87.5vw;
  }
}

.gradient_span {
  background-color: var(--green);
  background-image: var(--gradient);
  background-size: 100%;
  -webkit-background-clip: text;
  -moz-background-clip: text;
  -webkit-text-fill-color: transparent; 
  -moz-text-fill-color: transparent;
}

li, ul {
  list-style: none;
}

/* p::-moz-selection, a::-moz-selection, span::-moz-selection, h1::-moz-selection, h2::-moz-selection, h3::-moz-selection, h4::-moz-selection {
  color: #fff;
  background: #2f8191;
} */

/* Text link with arrow cap */

a.arrow-cap {
  font-size: inherit;
  background-color: var(--green);
  background-image: var(--gradient);
  background-size: 100%;
  background-clip: text;
  -webkit-background-clip: text;
  -moz-background-clip: text;
  -webkit-text-fill-color: transparent; 
  -moz-text-fill-color: transparent;
  position: relative;
  padding: 3px 0;
}

a.arrow-cap:after {
  content: '';
  display: block;
  width: 10px; height: 17px;
  background: transparent url(../icons/arrow-cap-right.svg) center no-repeat;
  position: absolute;
  right: -20px;
  top: 50%;
  margin-top: -8px;
  transition: right 0.2s;  
}

a.arrow-cap:hover:after {
  right: -25px;
}