@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400&display=swap");
@font-face {
  font-family: "Lulo-OneBold";
  src: url("/FontsFree-Net-Lulo-Clean-W01-One-Bold.ttf");
}

@font-face {
  font-family: "Lulo-Clean";
  src: url("/Inter-VariableFont_slnt,wght.ttf");
}

*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html, body {
  font-weight: 400;
  font-size: 16px;
  width: 100vw;
  overflow-x: hidden;
  line-height: normal;
}

h1, h2, h3, h4 {
  font-weight: normal;
}

h1, h2 {
  text-transform: uppercase;
}

a, a:hover, a:active, a:visited, a:focus {
  text-decoration:none;
}

button, button:hover, button:active, button:visited, button:focus {
  outline: none;
  border: 1px solid transparent;
}

.radial_gradient {
  display: block;
  width: 33rem;
  height: 33rem;
  position: absolute;
  background: radial-gradient(50% 50% at 50% 50%, rgba(100, 200, 189, 0.3) 0%, rgba(100, 200, 189, 0) 100%);
}

:root {
  /* Fonts */
  --font-lulo-clean: Lulo-Clean;
  --font-lulo-bold: Lulo-OneBold;
  --font-inter: Inter;
  /* Colors */
  --gradient: linear-gradient(to top, #094A6F, #64C8BD);
  --white: #FFFFFF;
  --light-grey: #ECECEC;
  --dark-grey: #898989;
  --black: #000000;
  --green: #204A53;

  /* shadows */
  --box-shadow: 0px 0px 20px 0px rgba(0, 0, 0, 0.15);

  /* Dimensions */
  --full-width: 75rem;
  --full-height: 100vh;
  --reduced-width: 70rem;
  --border-radius: 1.875rem;
  --section-width: 100vw;
}

.gradient_span {
  background-color: var(--green);
  background-image: var(--gradient);
  background-size: 100%;
  -webkit-background-clip: text;
  -moz-background-clip: text;
  -webkit-text-fill-color: transparent; 
  -moz-text-fill-color: transparent;
}
