---
import AboutCard from "../../components/main/AboutCard.astro";
import '../../styles/global.css';
import RadialGradient from "../RadialGradient.astro";
---
<section class="about-prj">
    <div class="about-container">
        <RadialGradient topPosition="26.75rem" leftPosition="34.125rem" />
        <RadialGradient topPosition="7rem" leftPosition="42.3125rem" />
        <div class="about-text">
            <div class="about-title">
                <h1 class="about-heading">
                    <span class="about-heading-1">О проекте</span>
                    <span class="gradient_span">ASTROWAY<span class="dash-span">-</span></span>
                </h1>
            </div>
            <div class="about-descr">
                <p class="about-descr-1">благотворительное криптофутурологическое сообщество, 
                    меняющее мир, используя последние технические достижения человечества и собственные 
                    экономические модели и стратегии.</p>
                <p class="about-descr-2">Наше сообщество выпускает криптотокен HELPA, а вырученные средства направляет на развитие четырёх основных направлений:</p>
            </div>
        </div>
        <div class="about-cards">
            <AboutCard href="/eco" cardDescription='Защита природы' imagePath='forestCard' imageDescription='Лес на хребте горы' />
            <AboutCard href="/gemohelp" cardDescription='Помощь онкобольным' imagePath='medicalCard' imageDescription='Два человека держат руки' /> 
            <AboutCard href="/low-income-families" cardDescription='Помощь закредитованным малоимущим семьям' imagePath='loanCard' imageDescription='Семья из 4-ех человек играет в настольные игры' />
            <AboutCard href="/longlongride" cardDescription='Развитие спорта' imagePath='sportCard' imageDescription='Велосепедист стоит на краю горы на фоне заката' />
        </div>
    </div>
</section>

<style>
    .about-prj {
        --title-width: 29.125rem;
        --descr-width: 40.3rem;
        --margin-top: 7rem;
        --margin-bottom-cards: 9.375rem;
        --margin-bottom-title: 5rem;
        --margin-top-descr: 4.375rem;
        --margin-bottom-descr-1: 1.25rem;
        --heading-font-size: 3.125rem;
        --heading-line-height: 3.5rem;
        --dash-font-size: 3.25rem;
        --descr-1-font-size: 1.5rem;
        --descr-1-line-height: 1.875rem;
        --descr-2-font-size: 1rem;
        --descr-2-line-height: 1.25rem;
    }

    .about-prj {
        position: relative;
        display: flex;
        width: 100vw;
        justify-content: center;
    }

    .about-container {
        position: relative;
        display: block;
        width: var(--reduced-width);
        margin-top: var(--margin-top);
    }

    .about-text {
        display: flex;
        margin-bottom: var(--margin-bottom-title);
        justify-content: space-between;
        width: 100%;
    }

    .about-title {
        display: block;
        width: var(--title-width);
    }

    .about-heading {
        font-family: var(--font-lulo-bold);
        font-size: var(--heading-font-size);
        line-height: var(--heading-line-height);
    }

    .dash-span {
        margin-left: 1rem;
        font-size: var(--dash-font-size);
    }

    .about-descr {
        display: inline-block;
        width: var(--descr-width);
        margin-top: var(--margin-top-descr);
    }

    .about-descr-1 {
        font-family: var(--font-inter);
        font-size: var(--descr-1-font-size);
        line-height: var(--descr-1-line-height);
        margin-bottom: var(--margin-bottom-descr-1);
    }

    .about-descr-2 {
        font-family: var(--font-inter);
        font-size: var(--descr-2-font-size);
        line-height: var(--descr-2-line-height);
        color: var(--dark-grey);
    }

    .about-cards {
        display: flex;
        width: 100%;
        justify-content: space-between;
        margin-bottom: var(--margin-bottom-cards);
    }
</style>
