---
import AboutCard from "../AboutCard.astro";
import '../../styles/global.css';
---
<section class="about_prj">
    <div class="radial_gradient radial_gradient__about-1"></div>
    <div class="radial_gradient radial_gradient__about-2"></div>
    <div class="about_container">
        <div class="about_text">
            <div class="about_title">
                <h1 class="about_heading">
                    <span class="about_heading-1">О проекте</span>
                    <span class="about_heading-2">ASTROWAY<span class="dash_span">-</span></span>
                </h1>
            </div>
            <div class="about_descr">
                <p class="about_descr-1">благотворительное криптофутурологическое сообщество, 
                    меняющее мир, используя последние технические достижения человечества и собственные 
                    экономические модели и стратегии.</p>
                <p class="about_descr-2">Наше сообщество выпускает криптотокен HELPA, а вырученные средства направляет на развитие четырёх основных направлений:</p>
            </div>
        </div>
        <div class="about_cards">
			<AboutCard href="/" cardDescription='Защита природы' imagePath='forestCard' imageDescription='Лес на хребте горы' />
            <AboutCard href="/" cardDescription='Помощь онкобольным' imagePath='medicalCard' imageDescription='Два человека держат руки' /> 
            <AboutCard href="/" cardDescription='Помощь закредитованным малоимущим семьям' imagePath='loanCard' imageDescription='Семья из 4-ех человек играет в настольные игры' />
            <AboutCard href="/" cardDescription='Развитие спорта' imagePath='sportCard' imageDescription='Велосепедист стоит на краю горы на флне заката' />
        </div>
    </div>
</section>

<style>
    .about_prj {
		position: relative;
		display: flex;
		width: 100vw;
		justify-content: center;
	}

	.radial_gradient__about-1 {	
		top: 23rem;
		left: calc((100vw - var(--full-width)) / 2 + 44.8rem);
	}

	.radial_gradient__about-2 {	
		top: 31rem;
		right: calc((100vw - var(--full-width)) / 2 + 7rem);
	}

	.about_container {
		display: block;
		width: var(--reduced-width);
		margin-top: 7rem;
	}

	.about_text {
		display: flex;
		margin-bottom: 5rem;
		justify-content: space-between;
		width: 100%;
	}

	.about_title {
		display: block;
		width: 29.125rem;
	}

	.about_heading {
		font-family: var(--font-lulo-bold);
		font-size: 3.125rem;
		line-height: 3.5rem;
	}

	.about_heading-2 {
		background-color: var(--green);
        background-image: var(--gradient);
        background-size: 100%;
        -webkit-background-clip: text;
        -moz-background-clip: text;
        -webkit-text-fill-color: transparent; 
        -moz-text-fill-color: transparent;
	}

	.dash_span {
		margin-left: 1rem;
		font-size: 3.25rem;
	}

	.about_descr {
		display: inline-block;
		width: 40.3rem;
		margin-top: 4.375rem;
	}

	.about_descr-1 {
		font-family: var(--font-inter);
		font-size: 1.5rem;
		line-height: 1.875rem;
		margin-bottom: 1.25rem;
	}

	.about_descr-2 {
		font-family: var(--font-inter);
		font-size: 1rem;
		line-height: 1.25rem;
		color: var(--dark-grey);
	}

	.about_cards {
		display: flex;
		width: 100%;
		justify-content: space-between;
		margin-bottom: 9.375rem;
	}

</style>