---
import AboutCard from "../../components/main/AboutCard.astro";
import '../../styles/global.css';
import RadialGradient from "../RadialGradient.astro";
import { getRelativeLocaleUrl } from 'astro:i18n';

const {locale} = Astro.props;
---
<section class="about-prj">
    <div class="about-container">
        <RadialGradient topPosition="26.75rem" leftPosition="34.125rem" />
        <RadialGradient topPosition="7rem" leftPosition="42.3125rem" />
        <div class="about-text">
            <div class="about-title">
                <h1 class="about-heading">
                    <span class="about-heading-1">
                        {locale === "ru" && "О проекте"}
                        {locale === "en" && "About project"}
                    </span>
                    <span class="gradient_span">BLAGOTVORISM<span class="dash-span">-</span></span>
                </h1>
            </div>
            <div class="about-descr">
                <p class="about-descr-1">
                    {locale === "en" && <>
                    is a charity cryptofuturological community that changes the world through the latest technological
                    achievements of mankind and in-house economic models and strategies. 
                    </> || <>
                    благотворительное криптофутурологическое сообщество, 
                    меняющее мир, используя последние технические достижения человечества и собственные 
                    экономические модели и стратегии.
                    </>}
                    </p>
                <p class="about-descr-2">
                    {locale === "en" && <>
                    Our community issues HELPA crypto token and directs the proceeds to the development of four main areas:
                    </> || <>
                    Наше сообщество выпускает криптотокен HELPA, а вырученные средства направляет на развитие четырёх основных направлений:
                    </>}                    
                </p>
            </div>
        </div>
        <div class="about-cards">
            <AboutCard href={getRelativeLocaleUrl(locale, "/eco")} cardDescription={locale === "en" ? "Nature protection" : "Защита природы"} imagePath='forestCard' imageDescription='Лес на хребте горы' />
            <AboutCard href={getRelativeLocaleUrl(locale, "/gemohelp")} cardDescription={locale === "en" ? "Cancer patients support" : "Помощь онкобольным"} imagePath='medicalCard' imageDescription='Два человека держат руки' /> 
            <AboutCard href={getRelativeLocaleUrl(locale, "/low-income-families")} cardDescription={locale === "en" ? "Indebted low-income families support" : "Помощь закредитованным <br/> малоимущим семьям"} imagePath='loanCard' imageDescription='Семья из 4-ех человек играет в настольные игры' />
            <AboutCard href={getRelativeLocaleUrl(locale, "/longlongride")} cardDescription={locale === "en" ? "Sports development" : "Развитие спорта"} imagePath='sportCard' imageDescription='Велосепедист стоит на краю горы на фоне заката' />
        </div>
    </div>
</section>

<style>
    .about-prj {
        --project-height: 58.75rem;
        --title-width: 29.125rem;
        --descr-width: 40.3rem;
        --margin-top: 7rem;
        --margin-bottom-title: 5rem;
        --margin-top-descr: 4.75rem;
        --margin-bottom-descr-1: 1.25rem;
        --heading-font-size: 3.125rem;
        --heading-line-height: 4.2rem;
        --dash-font-size: 3.25rem;
        --descr-1-font-size: 1.5rem;
        --descr-1-line-height: 1.875rem;
        --descr-2-font-size: 1rem;
        --descr-2-line-height: 1.25rem;
    }

    .about-prj {
        position: relative;
        display: flex;
        width: 100vw;
        height: var(--project-height);
        justify-content: center;
    }

    .about-container {
        position: relative;
        display: block;
        width: var(--reduced-width);
        margin-top: var(--margin-top);
    }

    .about-text {
        display: flex;
        margin-bottom: var(--margin-bottom-title);
        justify-content: space-between;
        width: 100%;
    }

    .about-title {
        display: block;
        width: var(--title-width);
    }

    .about-heading {
        font-family: var(--font-lulo-bold);
        font-size: var(--heading-font-size);
        line-height: var(--heading-line-height);
    }

    .dash-span {
        margin-left: 1rem;
        font-size: var(--dash-font-size);
    }

    .about-descr {
        display: inline-block;
        width: var(--descr-width);
        margin-top: var(--margin-top-descr);
    }

    .about-descr-1 {
        font-family: var(--font-inter);
        font-size: var(--descr-1-font-size);
        line-height: var(--descr-1-line-height);
        margin-bottom: var(--margin-bottom-descr-1);
    }

    .about-descr-2 {
        font-family: var(--font-inter);
        font-size: var(--descr-2-font-size);
        line-height: var(--descr-2-line-height);
        color: var(--dark-grey);
    }

    .about-cards {
        display: flex;
        width: 100%;
        justify-content: space-between;
        /* margin-bottom: var(--margin-bottom-cards); */
    }

    @media (960px <= width < 1200px) {
        .about-prj {
            --project-height: 44rem;
            --title-width: 23.3125rem;
            --descr-width: 32.75rem;
            --margin-top: 7.125rem;
            --margin-bottom-title: 5rem;
            --margin-top-descr: 4.375rem;
            --margin-bottom-descr-1: 1.25rem;
            --heading-font-size: 2.5rem;
            --heading-line-height: 3.125rem;
            --dash-font-size: 2.5rem;
            --descr-1-font-size: 1.25rem;
            --descr-1-line-height: 1.5rem;
            --descr-2-font-size: 0.75rem;
            --descr-2-line-height: 1rem;
        }
    }

    @media (640px <= width < 960px) {
        .about-prj {
            --project-height: 66.0625rem;
            --title-width: 23.3125rem;
            --descr-width: 28.375rem;
            --margin-top: 6.25rem;
            --margin-bottom-title: 3.75rem;
            --margin-top-descr: 1.25rem;
            --margin-bottom-descr-1: 1.25rem;
            --heading-font-size: 2.5rem;
            --heading-line-height: 3.125rem;
            --dash-font-size: 2.5rem;
            --descr-1-font-size: 1.25rem;
            --descr-1-line-height: 1.5rem;
            --descr-2-font-size: 0.75rem;
            --descr-2-line-height: 1rem;
        }

        .about-text {
            display: block;
        }

        .about-descr {
            margin-left: 8.75rem;
        }

        .about-cards {
            flex-wrap: wrap;
            row-gap: 2.5rem;
        }
    }

    @media (480px <= width < 640px) {
        .about-prj {
            --project-height: 39.5rem;
            --title-width: 9.3125rem;
            --descr-width: 20.3125rem;
            --margin-top: 6.25rem;
            --margin-bottom-title: 2.5rem;
            --margin-top-descr: 0.625rem;
            --margin-bottom-descr-1: 0.625rem;
            --heading-font-size: 1rem;
            --heading-line-height: 1.25rem;
            --dash-font-size: 1rem;
            --descr-1-font-size: 0.75rem;
            --descr-1-line-height: 1rem;
            --descr-2-font-size: 0.625rem;
            --descr-2-line-height: 0.75rem;
        }

        .about-text {
            display: block;
        }

        .about-descr {
            margin-left: 7.25rem;
        }

        .about-cards {
            flex-wrap: wrap;
            row-gap: 1.5rem;
        }

        .dash-span {
            margin-left: .5rem;
        }
    }

    @media (320px <= width < 480px) {
        .about-prj {
            --project-height: 285vw;
            --title-width: 46.5625vw;
            --descr-width: var(--reduced-width);
            --margin-top: 3.75rem;
            --margin-bottom-title: 7.5vw;
            --margin-top-descr: 3.125vw;
            --margin-bottom-descr-1: 3.125vw;
            --heading-font-size: 5vw;
            --heading-line-height: 6.25vw;
            --dash-font-size: 5vw;
            --descr-1-font-size: 3.75vw;
            --descr-1-line-height: 5vw;
            --descr-2-font-size: 3.125vw;
            --descr-2-line-height: 3.75vw;
        }

        .about-text {
            display: block;
        }

        .about-descr {
            margin-left: 0;
        }

        .about-cards {
            height: 205.625vw;
            flex-direction: column;
        }

        .dash-span {
            margin-left: .5rem;
        }
    }
</style>
