---
import { Image } from "astro:assets";
import { Icon } from 'astro-icon/components';
import '../../styles/global.css';
import Link from "../Link.astro";

const {mainBackgroundImage, mainLogo} = Astro.props;
---
<section class="astroway">
    <Image src={mainBackgroundImage} alt='background of planet Earth' class="bg-image"  loading="eager" decoding="async"/>
    <div class="main">
        <div class="headings-container">
            <h1 class="main-title-1 gradient_span">Astr</h1>
            <h1 class="main-title-2 gradient_span">way</h1>
            <h2 class="main-subtitle">Help planet</h2>
            <Image src={mainLogo} alt='big Helpa project logo' class="main-logo"  loading="eager" decoding="async"/>
        </div>
        <div class="main_text">
            <div class="main-description">
                <h2 class="main-description-title">Первая благотворительная криптовалюта</h2>
                <p class="main-description-text">Реализуйте криптовалюту и помогайте нашей планете и людям</p>
            </div>
            <div class="main-cta">
                <Link href="/" theme='primary' classes="link link_primary">Приобрести</Link>
                <Link href="/" theme='text' classes="link link_text"><span class="link-innertext-secondary">Узнать подробнее</span><Icon name="arrowText" /></Link>
            </div>
        </div>
    </div>
</section>

<style>
    .astroway {
        --section-height: var(--full-height);
        --title-font-size: 8.125rem;
        --subtitle-font-size: 1.5rem;
        --logo-width: 11.875rem;
        --logo-height: 11.875rem;
        --descr-width: 53.5rem;
        --descr-title-font-size: 3.125rem;
        --descr-title-line-height: 4rem;
        --descr-text-width: 21rem;
        --descr-text-font-size: 1rem;
        --cta-height: 3.625rem;
        --cta-width: 26.875rem;
    }

    .astroway {
        width: 100vw;
        height: var(--section-height);
    }

    .main {
        display: block;
        width: var(--reduced-width);
        height: inherit;
        position: absolute;
        top: 0%;
        left: 50%;
        transform: translateX(-50%);
    }

    .bg-image {
        width: 100vw;
        height: 100%;
    }

    .headings-container {
        display: inline-block;
        position: absolute;
        top: 9.3125rem;
        height: 12.0625rem;
        width: 100%;
    }

    .main-title-1, .main-title-2 {
        position: absolute;
        top: 0%;
        font-family: var(--font-lulo-bold);
        font-size: var(--title-font-size);
    }

    .main-title-1 {
        left: 0;
    }

    .main-title-2 {
        right: -1.85rem;
    }

    .main-subtitle {
        position: absolute;
        top: 0;
        right: 0;
        font-family: var(--font-lulo-clean);
        font-size: var(--subtitle-font-size);
        color: var(--dark-grey);
        letter-spacing: 0.445rem;
    }

    .main-logo {
        position: absolute;
        top: 0%;
        left: 31.972rem;
        width: var(--logo-width);
        height: var(--logo-height);
    }

    .main-description {
        display: block;
        width: var(--descr-width);
        margin-bottom: 2.75rem;
    }

    .main-description-title {
        color: black;
        font-size: var(--descr-title-font-size);
        font-family: var(--font-lulo-bold);
        letter-spacing: 0.05rem;
        line-height: var(--descr-title-line-height);
    }

    .main-description-text {
        display: inline-block;
        width: var(--descr-text-width);
        margin-top: .5rem;
        font-size: var(--descr-text-font-size);
        font-family: var(--font-inter);
        color: var(--dark-grey);
        letter-spacing: .05rem;
    }

    .main_text {
        position: absolute;
        top: 24.25rem;
        display: block;
        height: 17.625rem;
        width: 53rem;
    }

    .main-cta {
        height: var(--cta-height);
        width: var(--cta-width);
        display: flex;
        justify-content: space-between;
        background: transparent;
    }
</style>
