---
import Events from "./Events.svelte";
import '../../styles/global.css';
import RadialGradient from "../RadialGradient.astro";

const {locale} = Astro.props;
---
<section class="main_events" id="component-container">
    <div class="events_container">
		<RadialGradient topPosition="13.0625rem" leftPosition="-8.375rem" />
        <div class="events_text">
            <div class="events_title">
                <p class="events_heading-1">
					{locale === "en" && "We don't just donate to charities" || "Мы не просто вносим пожертвования в благотворительные организации"}					
				</p>
                <h2 class="events_heading-2 gradient_span">
					{locale === "en" && "we also hold out own events" || "а также проводим мероприятия самостоятельно"}
				</h2>
            </div>
            <div class="events_descr">
                <p class="events_heading-3">{locale === "en" && "You can participate in our events without buying or using cryptocurrency." || "Вы можете принять участие в наших событиях без покупки и использования криптовалюты."}</p>
                <p class="events_heading-4">{locale === "en" && "View the archive of events held and appreciate the scale." || "Посмотрите архив проведенных мероприятий и оцените масштаб."}</p>
            </div>
        </div>
		<p class="tab_name">Направление</p>
		<Events locale={locale} client:load />
    </div>
</section>

<style>
	.main_events {
		--events-section-height: 58.875rem;
		--events-container-height: 47.8rem;
		--events-text-width: 66.875rem;
		--descr-margin-top: 2.5rem;
		--descr-margin-left: 29.625rem;
		--descr-width: 37.25rem;
		--headings-1-fs: 1rem;
		--headings-1-lh: 1.25rem;
		--headings-1-width: 19.2rem;
		--headings-2-width: 59.375rem;
		--headings-2-font-size: 3.125rem;
		--headings-2-line-height: 3.5rem;
		--headings-3-font-size: 1.5rem;
		--headings-3-line-height: 1.75rem;
		--headings-3-margin-bottom: 1.25rem;
		--headings-4-width: 23.7rem;
		--headings-4-font-size: 1rem;
	}

    .main_events {
		position: relative;
		display: flex;
		width: 100vw;
		justify-content: center;
		/* min-height: var(--events-section-height); */
		height: auto;
	}
	
	.events_container {
		display: block;
		width: var(--reduced-width);
		/* min-height: var(--events-container-height); */
	}
	
	.events_text {
		display: block;
		width: var(--events-text-width);
	}

	.events_descr {
		display: block;
		margin-top: var(--descr-margin-top);
		margin-left: var(--descr-margin-left);
		width: var(--descr-width);
	}

	.events_heading-1 {
		display: inline-block;
		font-family: var(--font-inter);
		font-size: var(--headings-1-fs);
		line-height: var(--headings-1-lh);
		color: var(--dark-grey);
		width: var(--headings-1-width);
		margin-bottom: 10px;
	}
	
	.events_heading-2 {
		display: inline-block;
		width: var(--headings-2-width);
		font-size: var(--headings-2-font-size);
		line-height: var(--headings-2-line-height);
	}
	
	.events_heading-3 {
		font-family: var(--font-inter);
		font-size: var(--headings-3-font-size);
		line-height: var(--headings-3-line-height);
		margin-bottom: var(--headings-3-margin-bottom);
	}
	
	.events_heading-4 {
		display: inline-block;
		width: var(--headings-4-width);
		font-family: var(--font-inter);
		font-size: var(--headings-4-font-size);
		color: var(--dark-grey);
	}

	.tab_name {
		display: none;
	}

	@media (960px <= width < 1200px) {
        .main_events {
			/* Events section */
			--events-section-height: 55rem;
			--events-container-height: 41.5625rem;

			/* Events container */
			--events-container-mt: 9.375rem;
			--events-text-width: 53.9375rem;

			/* Events description */
			--descr-margin-top: 2.5rem;
			--descr-margin-left: 24.5rem;
			--descr-width: 30rem;

			/* Events headings */
			--headings-1-fs: 0.75rem;
			--headings-1-lh: 1rem;
			--headings-1-width: 16.2rem;
			--headings-2-width: var(--reduced-width);
			--headings-2-font-size: 2.5rem;
			--headings-2-line-height: 3rem;
			--headings-3-font-size: 1.25rem;
			--headings-3-line-height: 1.5rem;
			--headings-3-margin-bottom: 1.25rem;
			--headings-4-width: 17.5rem;
			--headings-4-font-size: 0.75rem;
		}

		.events_container {
			margin-top: var(--events-container-mt);
		}
    }

	@media (640px <= width < 960px) {
        .main_events {
			/* Events section */
			--events-section-height: 52.125rem;
			--events-container-height: 45.4375rem;

			/* Events container */
			--events-container-mt: 3rem;
			--events-text-width: 53.9375rem;

			/* Events description */
			--descr-margin-top: 2.5rem;
			--descr-margin-left: 9.75rem;
			--descr-width: 28.375rem;

			/* Events headings */
			--headings-1-fs: 0.75rem;
			--headings-1-lh: 1rem;
			--headings-1-width: 16.2rem;
			--headings-2-width: var(--reduced-width);
			--headings-2-font-size: 37px;
			--headings-2-line-height: 3rem;
			--headings-3-font-size: 1.25rem;
			--headings-3-line-height: 1.5rem;
			--headings-3-margin-bottom: 1.25rem;
			--headings-4-width: 17.5rem;
			--headings-4-font-size: 0.75rem;
		}

		.events_container {
			margin-top: var(--events-container-mt);
		}
    }

	@media (480px <= width < 640px) {
        .main_events {
			/* Events section */
			--events-section-height: 35.25rem;
			--events-container-height: 30.25rem;

			/* Events container */
			--events-container-mt: 1rem;
			--events-text-width: var(--reduced-width);

			/* Events description */
			--descr-margin-top: 1.25rem;
			--descr-margin-left: 7.1875rem;
			--descr-width: 17.75rem;

			/* Events headings */
			--headings-1-fs: 0.625rem;
			--headings-1-lh: 0.75rem;
			--headings-1-width: 16.2rem;
			--headings-2-width: var(--reduced-width);
			--headings-2-font-size: 1rem;
			--headings-2-line-height: 1.25rem;
			--headings-3-font-size: 0.75rem;
			--headings-3-line-height: 1rem;
			--headings-3-margin-bottom: 0.625rem;
			--headings-4-width: 17.5rem;
			--headings-4-font-size: 0.625rem;
		}

		.events_container {
			margin-top: var(--events-container-mt);
		}
    }

	@media (320px <= width < 480px) {
        .main_events {
			/* Events section */
			/* --events-section-height: 42.375rem;
			--events-container-height: 36.9375rem; */

			/* Events container */
			--events-container-mt: 2.75rem;
			--events-text-width: var(--reduced-width);

			/* Events description */
			--descr-margin-top: 6.25vw;
			--descr-margin-left: 0;
			--descr-width: 88.75vw;

			/* Events headings */
			--headings-1-fs: 3.125vw;
			--headings-1-lh: 3.75vw;
			--headings-1-width: 81vw;
			--headings-2-width: var(--reduced-width);
			--headings-2-font-size: 5vw;
			--headings-2-line-height: 6.25vw;
			--headings-3-font-size: 3.75vw;
			--headings-3-line-height: 5vw;
			--headings-3-margin-bottom: 3.125vw;
			--headings-4-width: 87.5vw;
			--headings-4-font-size: 3.125vw;
		}

		.main_events {
			/* min-height: var(--events-section-height); */
			/* height: auto !important; */
		}

		.events_container {
			margin-top: var(--events-container-mt);
			/* min-height: var(--events-container-height); */
			height: auto;
		}

		.tab_name {
            display: inline-block;
            font-family: var(--font-inter);
            font-size: 2.5vw;
            color: var(--dark-grey);
            margin-bottom: 3.125vw;
			margin-top: 9.375vw;
            height: auto;
        }
    }
</style>