---
import Events from "./Events.svelte";
import '../../styles/global.css';
import RadialGradient from "../RadialGradient.astro";
---
<section class="main_events" id="component-container">
    <div class="events_container">
		<RadialGradient topPosition="13.0625rem" leftPosition="-8.375rem" />
        <div class="events_text">
            <div class="events_title">
                <h4 class="events_heading-1">Мы не просто вносим пожертвования в благотворительные организации</h4>
                <h2 class="events_heading-2 gradient_span">а также проводим мероприятия самостоятельно</h2>
            </div>
            <div class="events_descr">
                <h3 class="events_heading-3">Вы можете принять участие в наших событиях без покупки и использования криптовалюты.</h3>
                <h4 class="events_heading-4">Посмотрите анонс ближайших мероприятий и выберете то, что интересно именно Вам.</h4>
            </div>
        </div>
		<Events client:load />
    </div>
</section>

<style>
    .main_events {
		position: relative;
		display: block;
		width: 100vw;
		min-height: 58.875rem;
	}
	
	.events_container {
		position: absolute;
		display: block;
		width: var(--reduced-width);
		min-height: 47.8rem;
		top: 50%;
		left: 50%;
		transform: translate(-50%, -50%);
	}
	
	.events_text {
		display: block;
		width: 66.875rem;
	}

	.events_descr {
		display: block;
		margin-top: 2.5rem;
		margin-left: 29.625rem;
		width: 37.25rem;
	}

	.events_heading-1 {
		display: inline-block;
		font-family: var(--font-inter);
		font-size: 1rem;
		line-height: 1.25rem;
		color: var(--dark-grey);
		width: 19.2rem;
	}
	
	.events_heading-2 {
		display: inline-block;
		width: 59.375rem;
		font-family: var(--font-lulo-bold);
		font-size: 3.125rem;
		line-height: 3.5rem;
	}
	
	.events_heading-3 {
		font-family: var(--font-inter);
		font-size: 1.5rem;
		line-height: 1.75rem;
		margin-bottom: 1.25rem;
	}
	
	.events_heading-4 {
		display: inline-block;
		width: 31.25rem;
		font-family: var(--font-inter);
		font-size: 1rem;
		color: var(--dark-grey);
	}
</style>