---
import '../../styles/global.css';
import GoalsBusinessCard from './GoalsBusinessCard.astro';
import GoalsCard from '../GoalsCard.astro';
import RadialGradient from '../RadialGradient.astro';
---

<section class="main_goals">
    <div class="goals_container">
        <RadialGradient topPosition="15.625rem" leftPosition="32.125rem" />
        <RadialGradient topPosition="4.125rem" leftPosition="40.3125rem" />
        <div class="goals_title">
            <h1 class="goals_heading-1">Наши&nbsp;</h1>
            <h1 class="gradient_span">долгосрочные&nbsp;</h1>
            <h1 class="goals_heading-1">цели</h1>
        </div>
        <div class="goals_cards">
            <GoalsCard goalsIcon="goalsIcon1" goalsDescr="Развитие цивилизации" />
            <GoalsCard goalsIcon="goalsIcon2" goalsDescr="Эффективная экономика" />
            <GoalsCard goalsIcon="goalsIcon3" goalsDescr="Повышение общей грамотности населения" cardId={3} />
            <GoalsCard goalsIcon="goalsIcon4" goalsDescr="Улучшение качества жизни" />
            <GoalsBusinessCard />
            <GoalsCard goalsIcon="goalsIcon5" goalsDescr="Чистая среда обитания" />
            <GoalsCard goalsIcon="goalsIcon6" goalsDescr="Улучшение здоровья" />
            <GoalsCard goalsIcon="goalsIcon7" goalsDescr="Свободная миграция" />
        </div>
    </div>
</section>

<style>
    .main_goals {
        --section-height: 44.8rem;
        --title-width: 49.75rem;
        --title-font-size: 2.5rem;
        --title-margin-bottom: 3.75rem;
        --cards-height: 28.5rem;
        --card-width: 12rem;
    }

    .main_goals {
        display: flex;
        width: 100vw;
        height: var(--section-height);
        justify-content: center;
    }

    .goals_container {
        position: relative;
        display: block;
        text-align: start;
        width: var(--reduced-width);
    }

    .goals_title {
        display: flex;
        justify-content: space-between;
        width: var(--title-width);
        font-family: var(--font-lulo-bold);
        font-size: var(--title-font-size);
        margin-bottom: var(--title-margin-bottom);
    }

    .goals_cards {
        display: flex;
        width: inherit;
        height: var(--cards-height);
        flex-wrap: wrap;
        justify-content: space-between;
    }

    #thirdCard {
        display: inline-block;
        width: var(--card-width) !important;
    }

    @media (960px <= width < 1200px) {
        .main_goals {
            --title-width: 36.625rem;
            --section-height: 39.8125rem;
            --title-font-size: 2.5rem;
            --title-margin-bottom: 4.5625rem;
            --cards-height: 23.75rem;
            --card-width: 12rem;
        }

    }

    @media (640px <= width < 960px) {
        .main_goals {
            --title-width: var(--reduced-width);
            --section-height: 28rem;
            --title-font-size: 1.65rem;
            --title-margin-bottom: 1.5rem;
            --cards-height: 19.25rem;
            --card-width: 8rem;
        }
    }

    @media (480px <= width < 640px) {
        .main_goals {
            --title-width: 15.625rem;
            --section-height: 26rem;
            --title-font-size: 0.7rem;
            --title-margin-bottom: 1.5rem;
            --cards-height: 19.375rem;
            --card-width: 8rem;
        }
    }

    @media (320px <= width < 480px) {
        .main_goals {
            --title-width: 15.625rem;
            --section-height: 31rem;
            --title-font-size: 0.7rem;
            --title-margin-bottom: 1rem;
            --cards-height: 25.125rem;
            --card-width: 8rem;
        }
    }
</style>
