---
import Slogan from "../Slogan.astro";
import sloganBG1 from '../../images/main/sloganBG1.jpg';
import sloganBG2 from '../../images/main/sloganBG2.jpg';
import '../../styles/global.css';

const locale = Astro.currentLocale || "";
---
<section class="slogans">
    <div class="slogans_container">
        <Slogan sloganBG={sloganBG1} altText='Паутина'>{locale === "en" && "Ahead of time" || "Опережая время"}</Slogan>
        <Slogan>BLAGO<br/>TVORISM</Slogan>
        <Slogan sloganBG={sloganBG2} altText='Иммерсивная выставка'>{locale === "en" && "Creating a new world" || "Создавая новый мир"}</Slogan>
    </div>
</section>

<style>
    .slogans_container {
		display: flex;
		/* width: 100vw; */
	}
</style>