---
import { Icon } from 'astro-icon/components';
import '../../styles/global.css';
import Link from "../Link.astro";
---
<section class="main_token">
    <div class="main_token__container">
        <div class="token_title">
            <h1 class="gradient_span">Helpa</h1>
            <h1 class="gradient_span">-</h1>
            <h1 class="token_heading-3">это</h1>
        </div>
        <div class="token_description">
            <h3 class="token_heading--descr">криптотокен, созданный в сети ВЕР20 и имеющий комиссию 0,5% за трансказацию, которая идет на развитие благотворительности.</h3>
            <p class="token_descr">Сохраняя и приумножая свой собственный капитал, Вы помогаете социально обделённым слоям общества встать на ноги и идти дальше в будущее новых людей и нового времени, терпимости и высокого интеллектуального развития без государственных границ, языковых барьеров.</p>
            <div class="link_container">
                <Link href="/" theme='text' classes="link link_text"><span class="link_innertext_secondary">Узнать подробнее</span><Icon name="arrowText" /></Link>
            </div>
        </div>
    </div>
</section>

<style>
    .main_token {
        --title-width: 26.375rem;
        --title-font-size: 2.37rem;
        --description-width: 40.3rem;
        --description-margin-top: 2rem;
        --heading-descr-line-height: 1.875rem;
        --heading-descr-font-size: 1.5rem;
        --descr-font-size: 1rem;
        --descr-margin-top: 1.25rem;
        --descr-line-height: 1.25rem;
        --descr-margin-bottom: 2.5rem;
        --link-container-width: 9.125rem;
        --icon-font-size: 1rem;
        --section-height: 28.25rem;
        --container-height: 19rem;
    }

    .main_token {
        position: relative;
        display: flex;
        align-items: center;
        justify-content: center;
        width: 100vw;
        height: var(--section-height);
    }

    .main_token__container {
        display: flex;
        justify-content: space-between;
        width: var(--reduced-width);
        height: var(--container-height);
    }

    .token_title {
        display: flex;
        width: var(--title-width);
        justify-content: space-between;
        align-self: flex-start;
        font-family: var(--font-lulo-bold);
        font-size: var(--title-font-size);
    }

    .token_description {
        margin-top: var(--description-margin-top);
        display: block;
        width: var(--description-width);
    }

    .token_heading--descr {
        font-family: var(--font-inter);
        line-height: var(--heading-descr-line-height);
        font-size: var(--heading-descr-font-size);
    }

    .token_descr {
        font-family: var(--font-inter);
        font-size: var(--descr-font-size);
        color: var(--dark-grey);
        margin-top: var(--descr-margin-top);
        line-height: var(--descr-line-height);
        margin-bottom: var(--descr-margin-bottom);
    }

    .link_container {
        display: block;
        width: var(--link-container-width);
    }

    [data-icon] {
        font-size: var(--icon-font-size);
    }

    @media (960px <= width < 1200px) {
        .main_token {
            --title-width: 21.0625rem;
            --title-font-size: 2rem;
            --description-width: 31.75rem;
            --description-margin-top: 2rem;
            --heading-descr-line-height: 1.5rem;
            --heading-descr-font-size: 1.25rem;
            --descr-font-size: 0.75rem;
            --descr-margin-top: 1.25rem;
            --descr-line-height: 1rem;
            --descr-margin-bottom: 1.25rem;
            --link-container-width: 9.125rem;
            --icon-font-size: 1rem;
            --section-height: 28.25rem;
            --container-height: 15rem;
        }
    }

    @media (640px <= width < 960px) {
        .main_token {
            --title-width: 21.0625rem;
            --title-font-size: 2rem;
            --description-width: 28.375rem;
            --description-margin-top: 1.25rem;
            --heading-descr-line-height: 1.5rem;
            --heading-descr-font-size: 1.25rem;
            --descr-font-size: 0.75rem;
            --descr-margin-top: 1.25rem;
            --descr-line-height: 1rem;
            --descr-margin-bottom: 2.5rem;
            --link-container-width: 9.125rem;
            --icon-font-size: 1rem;
            --section-height: 36rem;
            --container-height: 19rem;
        }

        .main_token__container {
            display: block;
        }

        .token_description {
            margin-left: 9.75rem;
        }

    }

    @media (480px <= width < 640px) {
        .main_token {
            --title-width: 12.5rem;
            --title-font-size: 1rem;
            --description-width: 18.3125rem;
            --description-margin-top: 1.25rem;
            --heading-descr-line-height: 1rem;
            --heading-descr-font-size: 0.75rem;
            --descr-font-size: 0.625rem;
            --descr-margin-top: 0.625rem;
            --descr-line-height: 0.75rem;
            --descr-margin-bottom: 1.25rem;
            --link-container-width: 6.875rem;
            --icon-font-size: 1rem;
            --section-height: 20rem;
            --container-height: 14rem;
        }

        .main_token__container {
            display: block;
        }

        .token_description {
            margin-left: 9.75rem;
        }

    }

    @media (320px <= width < 480px) {
        .main_token {
            --title-width: 12.5rem;
            --title-font-size: 1rem;
            --description-width: 15.375rem;
            --description-margin-top: 1.25rem;
            --heading-descr-line-height: 1rem;
            --heading-descr-font-size: 0.75rem;
            --descr-font-size: 0.625rem;
            --descr-margin-top: 0.625rem;
            --descr-line-height: 0.75rem;
            --descr-margin-bottom: 1.25rem;
            --link-container-width: 6.875rem;
            --icon-font-size: 1rem;
            --section-height: 20rem;
            --container-height: 16rem;
        }

        .main_token__container {
            display: block;
        }

    }
</style>
