---
import { Image } from 'astro:assets';
import '../../styles/global.css';
import Link from "../Link.astro";
import welomePng from '../../images/main/welcome.png';

let {locale} = Astro.props;

---
<section class="welcome">
    <div class="welcome_container">
        <div class="container_left">
            <div class="welcome_text">
                <h1 class="welcome_title">
                    <span class="gradient_span">
                        {locale === "en" && "Welcome" || "Добро пожаловать"}
                    </span>
                    <span class="community_span">{locale === "en" && "to our community" || "в наше сообщество"}</span>
                </h1>
                <p class="welcome_descr">
                    {locale === "ru" && <>
                    экоактивистов, криптоэнтузиастов, спортсменов, 
                    интеллектуалов, волонтёров, меценатов, философов, 
                    предпринимателей, учёных, деятелей искусств <br/> и свободных людей.
                    </>}
                    {locale === "en" && <>
                    of eco-activists, crypto enthusiasts, athletes, intellectuals, volunteers,
                    philanthropists, philosophers, entrepreneurs, scientists, artists, and free people.
                    </>}
                </p>
            </div>
            <div class="welcome_link">
                <Link href="https://t.me/astrowayhelpplanet" theme='primary' classes="link link_primary">
                    {locale === "ru" && "Присоединиться"}
                    {locale === "en" && "Join"}
                </Link>
            </div>  
        </div>
        <div class="container_right">
            <Image src={welomePng} alt='Connected people icon' />
        </div>
    </div>
</section>

<style>
	/* variables.css */
	.welcome {
		--welcome-height: 30.7rem;
		--welcome-container-height: 22.1rem;
        --welcome-container-width: 66.375rem;
		--welcome-container-margin-top: 4.375rem;
        --welcome-container-margin-left: -2rem;
		--container-left-width: 41rem;
		--container-right-width: 22.1rem;
		--welcome-title-font-size: 3.125rem;
		--welcome-title-line-height: 3.2rem;
		--welcome-title-letter-spacing: 2px;
		--welcome-title-margin-bottom: 1.25rem;
		--welcome-descr-width: 27.7rem;
		--welcome-descr-font-size: 1rem;
		--welcome-descr-line-height: 1.25rem;
		--welcome-img-width: 22.0625rem;
	}

    .welcome {
        display: flex;
        width: 100vw;
        height: var(--welcome-height);
        justify-content: center;
    }

    .welcome_container {
        display: flex;
        justify-content: space-between;
        width: var(--welcome-container-width);
        height: var(--welcome-container-height);
        margin-top: var(--welcome-container-margin-top);
        margin-left: var(--welcome-container-margin-left);
    }

    .container_left {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        width: var(--container-left-width);
    }

    .container_right {
        display: inline-block;
        height: var(--container-right-width);
        width: var(--container-right-width);
    }

    .container_right img {
        display: inline-block;
        width: 100%;
        height: 100%;
    }

    .welcome_text {
        display: inline-block;
    }

    .welcome_title {
        font-size: var(--welcome-title-font-size);
        line-height: var(--welcome-title-line-height);
        letter-spacing: var(--welcome-title-letter-spacing);
        display: flex;
        flex-direction: column;
        margin-bottom: var(--welcome-title-margin-bottom);
    }

    .welcome_descr {
        display: inline-block;
        width: var(--welcome-descr-width);
        font-family: var(--font-inter);
        font-size: var(--welcome-descr-font-size);
        line-height: var(--welcome-descr-line-height);
        color: var(--dark-grey);
    }

    .welcome_img {
        display: block;
        width: inherit;
        height: inherit;
    }

    @media (960px <= width < 1200px) {
        .welcome {
            --welcome-height: 19.5rem;
            --welcome-container-height: 17rem;
            --welcome-container-width: 53.875rem;
            --welcome-container-margin-top: 2.5rem;
            --welcome-container-margin-left: -3rem;
            --container-left-width: 32rem;
            --container-right-width: 17rem;
            --welcome-title-font-size: 2.5rem;
            --welcome-title-line-height: 3rem;
            --welcome-title-letter-spacing: 2px;
            --welcome-title-margin-bottom: 1.25rem;
            --welcome-descr-width: 27.7rem;
            --welcome-descr-font-size: 0.875rem;
            --welcome-descr-line-height: 1rem;
	    }
    }

    @media (640px <= width < 960px) {
        .welcome {
            --welcome-height: 19.8125rem;
            --welcome-container-height: 14.6875rem;
            --welcome-container-width: var(--reduced-width);
            --welcome-container-margin-top: 3.125rem;
            --welcome-container-margin-left: 0;
            --container-left-width: 29rem;
            --container-right-width: 8.75rem;
            --welcome-title-font-size: 2.29rem;
            --welcome-title-line-height: 2.7rem;
            --welcome-title-letter-spacing: 2px;
            --welcome-title-margin-bottom: 1.25rem;
            --welcome-descr-width: 27.7rem;
            --welcome-descr-font-size: 0.875rem;
            --welcome-descr-line-height: 1rem;
	    }

        .container_right {
            display: inline-block;
            margin-top: 5.5rem;
        }

        .container_left {
            display: inline-flex;
            margin-right: -2rem;
            height: 16.25rem;
        }

        .welcome_img {
            transform: rotateY(180deg);
        }
    }

    @media (480px <= width < 640px) {
        .welcome {
            --welcome-height: 13.375rem;
            --welcome-container-height: 11rem;
            --welcome-container-width: 27.5rem;
            --welcome-container-margin-top: 2.375rem;
            --welcome-container-margin-left: 0;
            --container-left-width: 16.6875rem;
            --container-right-width: 8.8125rem;
            --welcome-title-font-size: 1rem;
            --welcome-title-line-height: 1.25rem;
            --welcome-title-letter-spacing: 2px;
            --welcome-title-margin-bottom: 1.25rem;
            --welcome-descr-width: 16.6875rem;
            --welcome-descr-font-size: 0.625rem;
            --welcome-descr-line-height: 1rem;
	    }
    }

    @media (320px <= width < 480px) {
        .welcome {
            --welcome-height: 20rem;
            --welcome-container-height: 19rem;
            --welcome-container-width: var(--reduced-width);
            --welcome-container-margin-top: 1.875rem;
            --welcome-container-margin-left: 0;
            --container-left-width: 83.75%;
            --container-right-width: 7rem;
            --welcome-title-font-size: 5vw;
            --welcome-title-line-height: 6.25vw;
            --welcome-title-letter-spacing: 2px;
            --welcome-title-margin-bottom: .625rem;
            --welcome-descr-width: 16.7rem;
            --welcome-descr-font-size: .625rem;
            --welcome-descr-line-height: .75rem;
	    }

        .welcome_container {
            flex-direction: column;
        }

        .container_left {
            display: block;
            position: relative;
        }

        .container_right {
            align-self: center;
        }

        .welcome_link {
            display: block;
            position: absolute;
            top: 110%;
            left: 0;
        }
    }
</style>
