---
import '../../styles/global.css';
import Link from "../Link.astro";
import { Icon } from "astro-icon/components";

const { welcomeImg } = Astro.props;
---
<section class="welcome">
    <div class="welcome_container">
        <div class="container_left">
            <div class="welcome_text">
                <h1 class="welcome_title">
                    <span class="gradient_span">добро пожаловать</span>
                    <span class="community_span">в наше сообщество</span>
                </h1>
                <p class="welcome_descr">
                    экоактивистов, криптоэнтузиастов, спортсменов, 
                    интеллектуалов, волонтёров, меценатов, философов, 
                    предпринимателей, учёных, деятелей искусств <br/> и свободных людей. 
                </p>
            </div>
            <Link href="/" theme='primary' classes="link link_primary">Присоединиться</Link>
        </div>
        <div class="container_right">
            <Icon name='connectedLogo' class="welcome_img" />
        </div>
    </div>
</section>

<style>
	/* variables.css */
	.welcome {
		--welcome-height: 30.7rem;
		--welcome-container-height: 22.1rem;
		--welcome-container-margin-top: 4.375rem;
		--container-left-width: 41rem;
		--container-right-width: 22.1rem;
		--welcome-title-font-size: 3.125rem;
		--welcome-title-line-height: 3.2rem;
		--welcome-title-letter-spacing: 2px;
		--welcome-title-margin-bottom: 1.25rem;
		--welcome-descr-width: 27.7rem;
		--welcome-descr-font-size: 1rem;
		--welcome-descr-line-height: 1.25rem;
		--welcome-img-width: 30.2rem;
	}

    .welcome {
        display: flex;
        width: 100vw;
        height: var(--welcome-height);
        justify-content: center;
    }

    .welcome_container {
        display: flex;
        justify-content: space-between;
        width: var(--reduced-width);
        height: var(--welcome-container-height);
        margin-top: var(--welcome-container-margin-top);
    }

    .container_left {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        width: var(--container-left-width);
    }

    .container_right {
        height: 100%;
        width: var(--container-right-width);
    }

    .welcome_text {
        display: inline-block;
    }

    .welcome_title {
        font-family: var(--font-lulo-bold);
        font-size: var(--welcome-title-font-size);
        line-height: var(--welcome-title-line-height);
        letter-spacing: var(--welcome-title-letter-spacing);
        display: flex;
        flex-direction: column;
        margin-bottom: var(--welcome-title-margin-bottom);
    }

    .welcome_descr {
        display: inline-block;
        width: var(--welcome-descr-width);
        font-family: var(--font-inter);
        font-size: var(--welcome-descr-font-size);
        line-height: var(--welcome-descr-line-height);
        color: var(--dark-grey);
    }

    .welcome_img {
        display: block;
        width: var(--welcome-img-width);
        height: 100%;
    }
</style>
