---
const locale = Astro.currentLocale || "";
---
<section class="ride_hero">
    <div class="letters"></div>
    <div class="subheading">
        <div class="subheading_text">
            <h3>{locale === "en" && "International sports community" || <>Международное<br/> спортивное сообщество</>}</h3>
            <p>{locale === "en" && "Regular races around the world" || "Регулярные заезды по всему миру"}</p>
        </div>
    </div>
</section>

<style>
    section {
        position: relative;
        height: 100vh;
        background: url(../../images/longLongRide/rideCover.jpg) no-repeat;
        background-size: cover;
        overflow: hidden;
        margin-bottom: 100px;
    }

    .letters {
        height: 100%;
        background: url(../../images/longLongRide/hero-letters.svg) center no-repeat;
        background-size: cover;
    }

    .subheading {
        position: absolute;
        top: 50%; right: 50%; width: 50%;
        margin-top: 10px;
        padding-left: 7vw;
    }

    .subheading h3,
    .subheading p {
        font-family: 'Inter Variable', sans-serif;
        font-weight: 400;
        color: black;        
    }

    .subheading h3 {
        font-size: 12px;
        margin-bottom: 10px;
    }

    .subheading p {
        font-size: 10px;
        color: #898989;
    }

    @media (width >= 480px) {
        .letters {
            background-image: url(../../images/longLongRide/hero-letters-480.svg);
        }

        .subheading {
            margin-top: 15px;
            padding-left: 4vw;
        }

        h3 br {
            display: none;
        }
    }

    @media (width >= 640px) {
        .subheading h3 {
            font-size: 20px;
        }

        .subheading p {
            font-size: 12px;
        }

        h3 br {
            display: inline;
        }
    }

    @media (width >= 960px) {
        .letters {
            background-image: url(../../images/longLongRide/hero-letters-960.svg);
        }

        .subheading {
            margin-top: 50px;
            padding-right: 10%;
        }
    }

    @media (width >= 1200px) {
        .letters {
            background-size: 1200px;
            position: relative;
        }

        .letters:after {
            content: '';
            display: block;
            position: absolute;
            left: 0; top: 0; bottom: 0;
            width: 50%;
            translate: -600px;
            background: white;
        }

        .subheading {
            width: 600px;
            margin-top: 70px;
            padding-left: 40px;
        }

        .subheading h3 {
            font-size: 24px;
        }

        .subheading p {
            font-size: 16px;
        }
    }
</style>