---
import { Icon } from 'astro-icon/components';
import '../../styles/global.css';
import RadialGradient from '../RadialGradient.astro';

const locale = Astro.currentLocale || "";
---
<section class="ride_philosophy">
    <div class="ride_philosophy__container">
        <RadialGradient topPosition="-9.3125rem" leftPosition="59.875rem" />
        <RadialGradient topPosition="9.4375rem" leftPosition="-23.1875rem" />
        <div class="ride_philosophy__text">
            <h2>
                {locale === "en" &&
                <><span class="gradient_span">The philosophy of the project </span>is</> ||
                <><span class="gradient_span">философия проекта </span>заключается</>
                }                
            </h2>
            <h3>
                {locale === "en" &&
                <>in boundless international friendship based on interest, love for sports and accessibility to everyone, which means the events are free.</> ||
                <>в безграничной интернациональной дружбе на основе интереса, любви к спорту и доступности каждому, 
                а значит предполагает бесплатный характер мероприятий.</>
                }
            </h3>
            <p>
                {locale === "en" &&
                <>Every participant gives the community what they can, contributing to the popularization of sports, health, friendship,
                and mutual assistance, and therefore peace, effective communication and, as a result, the development of human civilization. </> ||
                <>Каждый участник даёт сообществу то, что он может, делая вклад в популяризацию спорта, здоровья, дружбы и взаимопомощи, 
                а следовательно мира, эффективной коммуникации и как результат - развитие человеческой цивилизации. </>
                }
            </p>
        </div>
        <div class="ride_philosophy__logo">
            <Icon name="rideLogo" class="logo" />
        </div>
    </div>
</section>

<style>
    .ride_philosophy {
        --section-height: 34.625rem;
        --container-height: 25rem;
        --container-margin-top: 5rem;
        --text-width: 40rem;
        --h2-font-size: 48px;
        --h2-line-height: 4rem;
        --h2-margin-bottom: 2.5rem;
        --h3-font-size: 1.5rem;
        --h3-line-height: 1.5rem;
        --h3-margin-bottom: 1.25rem;
        --p-width: 33.75rem;
        --p-font-size: 1rem;
        --p-line-height: 1.25rem;
        --logo-width: 19.4375rem;
        --logo-height: 16.875rem;
    }

    section {
        display: flex;
        width: 100vw;
        height: var(--section-height);
        justify-content: center;
    }

    .ride_philosophy__container {
        position: relative;
        display: flex;
        margin-top: var(--container-margin-top);
        justify-content: space-between;
        width: var(--reduced-width);
        height: var(--container-height);
    }

    .ride_philosophy__logo {
        display: flex;
        align-items: center;
    }

    .ride_philosophy__text {
        display: block;
        width: var(--text-width);
    }

    h2 {
        display: inline-block;
        width: inherit;
        font-size: var(--h2-font-size);
        line-height: var(--h2-line-height);
        margin-bottom: var(--h2-margin-bottom);
    }

    h3 {
        font-family: var(--font-inter);
        font-size: var(--h3-font-size);
        font-weight: normal;
        line-height: var(--h3-line-height);
        margin-bottom: var(--h3-margin-bottom);
    }

    p {
        display: inline-block;
        width: var(--p-width);
        font-size: var(--p-font-size);
        line-height: var(--p-line-height);
        color: var(--dark-grey);
    }

    .logo {
        display: block;
        width: var(--logo-width);
        height: var(--logo-height);
    }

    @media (960px <= width < 1200px) {
        .ride_philosophy {
            --section-height: 34.25rem;
            --container-height: 21.625rem;
            --container-margin-top: 6.25rem;
            --text-width: 33.5rem;
            --h2-font-size: 37px;
            --h2-line-height: 3.125rem;
            --h2-margin-bottom: 2.5rem;
            --h3-font-size: 1.25rem;
            --h3-line-height: 1.5rem;
            --h3-margin-bottom: 1.25rem;
            --p-width: 25rem;
            --p-font-size: .75rem;
            --p-line-height: 1rem;
            --logo-width: 19.4375rem;
            --logo-height: 16.875rem;
        }
    }

    @media (640px <= width < 960px) {
        .ride_philosophy {
            --section-height: 35.5rem;
            --container-height: 23rem;
            --container-margin-top: 6.25rem;
            --text-width: 22.625rem;
            --h2-font-size: 37px;
            --h2-line-height: 3.125rem;
            --h2-margin-bottom: 2.5rem;
            --h3-font-size: 1.25rem;
            --h3-line-height: 1.5rem;
            --h3-margin-bottom: 1.25rem;
            --p-width: 20.125rem;
            --p-font-size: .75rem;
            --p-line-height: 1rem;
            --logo-width: 14.125rem;
            --logo-height: 12.25rem;
        }

        .ride_philosophy__logo {
            height: var(--logo-height);
            margin-top: 10rem;
        }

        h2 {
            width: 31.5625rem;
        }
    }

    @media (480px <= width < 640px) {
        .ride_philosophy {
            --section-height: 21.3125rem;
            --container-height: 12.5rem;
            --container-margin-top: 3.75rem;
            --text-width: 18.125rem;
            --h2-font-size: 15px;
            --h2-line-height: 1.25rem;
            --h2-margin-bottom: 1.25rem;
            --h3-font-size: .75rem;
            --h3-line-height: 1rem;
            --h3-margin-bottom: .625rem;
            --p-width: 17rem;
            --p-font-size: .625rem;
            --p-line-height: .75rem;
            --logo-width: 10rem;
            --logo-height: 8.625rem;
        }

        .ride_philosophy__logo {
            height: var(--logo-height);
            margin-top: 3.5rem;
        }

        h2 {
            width: 12.6875rem;
        }
    }

    @media (320px <= width < 480px) {
        .ride_philosophy {
            --section-height: 146.25vw;
            --container-height: 115vw;
            --container-margin-top: 12.5vw;
            --text-width: var(--reduced-width);
            --h2-font-size: 15px;
            --h2-line-height: 6.25vw;
            --h2-margin-bottom: 6.25vw;
            --h3-font-size: 3.75vw;
            --h3-line-height: 5vw;
            --h3-margin-bottom: 3.125vw;
            --p-width: var(--reduced-width);
            --p-font-size: 3.125vw;
            --p-line-height: 3.75vw;
            --logo-width: 50vw;
            --logo-height: 43.125vw;
        }

        .ride_philosophy__container {
            display: block;
        }

        .ride_philosophy__logo {
            height: var(--logo-height);
            width: var(--logo-width);
            margin: auto;
            margin-top: 9.375vw;

        }

        h2 {
            width: 63.4375vw;
        }
    }
</style>
