---
import { Icon } from 'astro-icon/components';
import '../../styles/global.css';
const { iconName, cardText } = Astro.props;
---
<div class="card">
    <Icon name={iconName} class='logo'/>
    <p>{cardText}</p>
</div>

<style>
    .card {
        --card-width: 16.6rem;
        --card-height: 13.625rem;
        --card-border-radius: 1.875rem;
        --logo-size: 2.8rem;
        --logo-margin-bottom: 1.625rem;
        --text-width: 9rem;
        --text-font-size: 1rem;
    }

    .card {
        display: flex;
        flex-direction: column;
        text-align: center;
        width: var(--card-width);
        height: var(--card-height);
        border-radius: var(--card-border-radius);
        justify-content: center;
        align-items: center;
        box-shadow: var(--box-shadow);
        background-color: white;
    }

    .logo {
        display: block;
        width: var(--logo-size);
        height: var(--logo-size);
        margin-bottom: var(--logo-margin-bottom);
    }

    p {
        display: block;
        width: var(--text-width);
        font-family: var(--font-inter);
        font-size: var(--text-font-size);
    }
</style>
