---
import Layout from '../layouts/Layout.astro';
import GemoHeroSection from '../components/gemohelp/GemoHeroSection.astro';
import HelpSection from '../components/HelpSection.astro';
import SocialSection from '../components/SocialSection.astro';
import GoalsSection from '../components/gemohelp-details/GoalsSection.astro';
import TasksSection from '../components/longlongride-details/TasksSection.astro';
import SolutionsSection from '../components/longlongride-details/SolutionsSection.astro';

const locale = Astro.currentLocale || "";
---
<Layout title='Gemohelp'>
    <main>
        <GemoHeroSection />
        <GoalsSection />
        <TasksSection />
        <SolutionsSection />
        <HelpSection page='ride' />
        <SocialSection 
            tg_link='https://t.me/longlongridechannel' 
            inst_link = 'https://www.instagram.com/longlongride?igsh=YnV1YXZ5cTV6eHdi&utm_source=qr' 
            yt_link = 'https://youtube.com/@longlongride?feature=shared'
            fb_link = 'https://www.facebook.com/share/g/5GTkequcC1tW1bSD/?mibextid=adzO7l'
            tiktok_link = 'https://www.tiktok.com/@longlongride?_t=8pQ3gih8h1t&_r=1'
        />
    </main>
</Layout>