---
import Layout from '../layouts/Layout.astro';
import { Image } from 'astro:assets';
import mainBackgroundImage from "../images/main/main-background.png";
import mainLogo from "../images/main/mainLogo.png";
import welcomeImg from "../images/main/welcome.png";
import textButtonArrow from "../images/logos/Vector.svg";
import '../styles/global.css';
import Button from '../components/Button.astro';

---

<Layout title="Welcome to Astro.">
	<main>
		<section class="astroway">
			<Image src={mainBackgroundImage} alt='background of planet Earth' class="bg-image"  loading="eager" decoding="async"/>
			<div class="main">
				<div class="headings-container">
					<h1 class="main_title-1">Astr</h1>
					<h1 class="main_title-2">way</h1>
					<h2 class="main_subtitle">Help planet</h2>
					<Image src={mainLogo} alt='big Helpa project logo' class="main-logo"  loading="eager" decoding="async"/>
				</div>
				<div class="main_description">
					<h3 class="main_description-title">Первая благотворительная криптовалюта</h3>
					<p class="main_description-text">Реализуйте криптовалюту и помогайте нашей планете и людям</p>
				</div>
				<div class="main_cta">
					<Button id='main_btn-1' theme='primary' class="btn btn_primary" !isFilled ><span class="btn_innertext">Приобрести</span></Button>
					<Button id='main_btn-2' theme='text' class="btn btn_text" !isFilled><span class="btn_innertext_secondary">Узнать подробнее</span><span class="btn_arrow"> ❯ </span></Button>
				</div>
			</div>
		</section>
		<section class="welcome">
			<div class="welcome_container">
				<div class="container_left">
					<div class="welcome_text">
						<h1 class="welcome_title">
							<span class="welcome_span">добро пожаловать</span>
							<span class="community_span">в наше сообщество</span>
						</h1>
						<p class="welcome_descr">
							экоактивистов, криптоэнтузиастов, спортсменов, 
							интеллектуалов, волонтёров, меценатов, философов, 
							предпринимателей, учёных, деятелей искусств и свободных людей. 
						</p>
					</div>
					<Button id="main_btn-3" theme='primary' class="btn btn_primary" !isFilled ><span class="btn_innertext">Присоединиться</span></Button>
				</div>
				<div class="container_right">
					<Image src={welcomeImg} alt='Logo of people connected to each other' class="welcome_img" loading="lazy" decoding="async">
				</div>
			</div>
		</section>
		<section class="about_prj">
			<div class="about_container">
				<div class="about_text">
					<div class="about_title">
						<h1 class="about_heading">
							<span class="about_heading-1">О проекте</span>
							<span class="about_heading-2">ASTROWAY&nbsp;-</span>
						</h1>
					</div>
					<div class="about_descr">
						<p class="about_descr-1">благотворительное криптофутурологическое сообщество, 
							меняющее мир, используя последние технические достижения человечества и собственные 
							экономические модели и стратегии.</p>
						<p class="about_descr-2">Наше сообщество выпускает криптотокен HELPA, а вырученные средства направляет на развитие четырёх основных направлений:</p>
					</div>
				</div>
				<div class="about_cards"></div>
			</div>
		</section>
	</main>
</Layout>

<style>
	main {
		position: relative;
		display: block;
		width: 100%;
		height: auto;
	}

	.astroway {
		width: 100vw;
		height: 45rem;
	}

	.main {
		display: block;
		width: var(--reduced-width);
		height: inherit;
		position: absolute;
		top: 0%;
		left: 50%;
		transform: translateX(-50%);
	}

	.bg-image {
		width: 100vw;
		height: 100%;
	}

	.headings-container {
		display: inline-block;
		position: absolute;
		top: 9.3125rem;
		height: 12.0625rem;
		width: 100%;
	}

	.main_title-1, .main_title-2 {
		position: absolute;
		top: 0%;
		font-family: var(--font-lulo-bold);
		font-size: 8.125rem;
		background-color: var(--green);
        background-image: var(--gradient);
        background-size: 100%;
        -webkit-background-clip: text;
        -moz-background-clip: text;
        -webkit-text-fill-color: transparent; 
        -moz-text-fill-color: transparent;
	}

	.main_title-1 {
		left: 0;
	}

	.main_title-2 {
		right: -1.85rem;
	}

	.main_subtitle {
		position: absolute;
		top: 0;
		right: 0;
		font-family: var(--font-lulo-clean);
		font-size: 1.5rem;
		color: var(--dark-grey);
		letter-spacing: 0.445rem;
	}

	.main-logo {
		position: absolute;
		top: 0%;
		left: 31.972rem;
		width: 11.875rem;
		height: 11.875rem;
	}

	.main_description {
		display: inline-block;
		position: absolute;
		top: 24.25rem;
		left: 0;
		width: 50.9375rem;
	}

	.main_description-title {
		color: black;
		font-size: 3.125rem;
		font-family: var(--font-lulo-bold);
		letter-spacing: 0.05rem;
		line-height: 4rem;
	}

	.main_description-text {
		display: inline-block;
		width: 20.3125rem;
		margin-top: .5rem;
		font-size: 1rem;
		font-family: var(--font-inter);
		color: var(--dark-grey);
		letter-spacing: .05rem;
	}

	.main_cta {
		position: absolute;
		top: 38.25rem;
		height: 3.625rem;
		width: 26.875rem;
		display: flex;
		justify-content: space-between;
		background: transparent;
	}

	.btn_text {
		position: relative;
	}

	.btn_arrow {
		font-family: serif;
		position: absolute;
		right: -5px;
		top: 1.38rem;
		display: inline-block;
		font-size: 1rem;
		font-weight: 100;
		background: var(--gradient);
		-webkit-background-clip: text;
		-webkit-text-fill-color: transparent;
	}

	.btn_innertext {
		display: inline-flex;
		align-self: center;
		height: 1rem;
		font-size: 1rem;
	}

	.btn_innertext_secondary {
		display: inline-block;
		font-size: 0.875rem;
		background: var(--gradient);
		-webkit-background-clip: text;
		-webkit-text-fill-color: transparent;
	}

	/* Welcome Section */
	.welcome {
		display: flex;
		width: 100vw;
		height: 30.7rem;
		justify-content: center;
	}

	.welcome_container {
		display: flex;
		justify-content: space-between;
		width: var(--reduced-width);
		height: 22.1rem;
		margin-top: 4.375rem;
	}

	.container_left {
		display: flex;
		flex-direction: column;
		justify-content: space-between;
		width: 38.75rem;
	}

	.container_right {
		height: 100%;
		width: 22.1rem;
	}

	.welcome_text {
		display: inline-block;
	}

	.welcome_title {
		font-family: var(--font-lulo-bold);
		font-size: 3.125rem;
		line-height: 3.2rem;
		letter-spacing: 2px;
		display: flex;
		flex-direction: column;
		margin-bottom: 1.25rem;
	}

	.welcome_span {
		background-color: var(--green);
        background-image: var(--gradient);
        background-size: 100%;
        -webkit-background-clip: text;
        -moz-background-clip: text;
        -webkit-text-fill-color: transparent; 
        -moz-text-fill-color: transparent;
	}

	.welcome_descr {
		display: inline-block;
		width: 27.7rem;
		font-family: var(--font-inter);
		font-size: 1rem;
		line-height: 1.25rem;
		color: var(--dark-grey);
	}

	.welcome_img {
		display: block;
		width: 30.2rem;
		height: 100%;
	}

	/* ABOUT Section */
	.about_prj {
		display: flex;
		width: 100vw;
		justify-content: center;
	}

	.about_container {
		display: flex;
		width: var(--reduced-width);
		margin-top: 7rem;
	}

	.about_text {
		display: flex;
		justify-content: space-between;
		width: 100%;
	}

	.about_title {
		display: block;
		width: 29.125rem;
	}

	.about_heading {
		font-family: var(--font-lulo-bold);
		font-size: 3.125rem;
		line-height: 3.5rem;
	}

	.about_heading-2 {
		background-color: var(--green);
        background-image: var(--gradient);
        background-size: 100%;
        -webkit-background-clip: text;
        -moz-background-clip: text;
        -webkit-text-fill-color: transparent; 
        -moz-text-fill-color: transparent;
	}

	.about_descr {
		display: inline-block;
		width: 40.3rem;
		margin-top: 4.375rem;
	}

	.about_descr-1 {
		font-family: var(--font-inter);
		font-size: 1.5rem;
		line-height: 1.875rem;
		margin-bottom: 1.25rem;
	}

	.about_descr-2 {
		font-family: var(--font-inter);
		font-size: 1rem;
		line-height: 1.25rem;
		color: var(--dark-grey);
	}

</style>