---
import Layout from '../layouts/Layout.astro';
import mainBackgroundImage from "../images/main/main-background.png";
import mainLogo from "../images/main/mainLogo.png";
import '../styles/global.css';
import AstrowaySection from '../components/main/AstrowaySection.astro';
import WelcomeSection from '../components/main/WelcomeSection.astro';
import AboutSection from '../components/main/AboutSection.astro';
import EventsSection from '../components/main/EventsSection.astro';
import IntroSection from '../components/IntroSection.astro';
import TokenSection from '../components/main/TokenSection.astro';
import GoalsSection from '../components/main/GoalsSection.astro';
import SlogansSection from '../components/main/SlogansSection.astro';

const mainPage = true;
---

<Layout title="ASTROWAY" mainPage={mainPage}>
	<main>
		<AstrowaySection mainBackgroundImage={mainBackgroundImage} mainLogo={mainLogo} />
		<WelcomeSection />
		<AboutSection />
		<EventsSection />
		<IntroSection 
			page="home"
			mainHeading='Мы создали уникальный проект и сейчас покажем, как он работает' 
			containerWidth='54.2rem' 
			containerHeight="12.2rem"
			/>
		<TokenSection />
		<GoalsSection />
		<SlogansSection />
	</main>
</Layout>

<style>
	main {
		position: relative;
		display: block;
		width: 100%;
		height: auto;
	}
</style>