---
import GoalsSection from "../components/low-income-families-2/GoalsSection.astro";
import HelpSection from "../components/HelpSection.astro";
import GlobalAftermath from "../components/low-income-families-2/GlobalAftermath.astro";
import Humanism from "../components/low-income-families-2/Humanism.astro";
import LowIncomeHeroSection from "../components/low-income-families/LowIncomeHeroSection.astro";
import SocialSection from "../components/SocialSection.astro";
import Layout from "../layouts/Layout.astro";
---
<Layout title="ECO">
    <main>
        <LowIncomeHeroSection />
        <Humanism />
        <GlobalAftermath />
        <GoalsSection />
        <HelpSection page='low-income-families' />
        <SocialSection />
    </main>
</Layout>