---
import HeroSection from '../components/HeroSection.astro';
import Layout from '../layouts/Layout.astro';
import '../styles/global.css';
import heroCover from '../images/lowIncome/heroCover.jpg';
import DebtProblem from '../components/low-income-families/DebtProblem.astro';
import DebtSolutions from '../components/low-income-families/DebtSolutions.astro';
import IntroSection from '../components/IntroSection.astro';
import ConceptSection from '../components/ConceptSection.astro';
import HelpCTA from '../components/HelpCTA.astro';
import HelpSection from '../components/HelpSection.astro';
import SocialSection from '../components/SocialSection.astro';
---
<Layout title="Welcome to Astro">
    <main>
        <HeroSection  
            pageTitle='low-income-families' 
            heroImage={heroCover} 
            heroImageDescr="Многодетная семья"
        />

        <DebtProblem />
        <DebtSolutions />
        <IntroSection  
            mainHeading="Экономическая теория и философия в долгосрочной перспективе обосновывает здоровый альтруизм как личную выгоду каждого представителя нашего вида"
            text='Относись к ближнему, как к самому себе - на деле представляет железную формулу счастливой цивилизации, идущей в светлое будущее, поскольку мир глобален и моральное, физическое, экономическое состояние каждого зависит в том числе от его соседа.'
            containerWidth='61rem'
            containerHeight='33.125rem'
            textWidth='28.7rem'
        />
        <ConceptSection 
            pagePath='low-income-families'
            usualHeading = 'проект рассчитан на '
            mainHeading="выкуп долга"
            text='безнадёжных заёмщиков, которые представляют самые незащищённые слои общества, - многодетных семей, инвалидов. А также на информирование населения о рисках, скрывающихся в кредитных инструментах.'
        />
        <HelpSection page='low-income-families' />
        <SocialSection />
    </main>
</Layout>
