---
import Layout from '../layouts/Layout.astro';
import '../styles/global.css';
import DebtProblem from '../components/low-income-families/DebtProblem.astro';
import DebtSolutions from '../components/low-income-families/DebtSolutions.astro';
import IntroSection from '../components/IntroSection.astro';
import ConceptSection from '../components/ConceptSection.astro';
import HelpSection from '../components/HelpSection.astro';
import SocialSection from '../components/SocialSection.astro';
import LowIncomeHeroSection from '../components/low-income-families/LowIncomeHeroSection.astro';

const locale = Astro.currentLocale || "";
---
<Layout title="Low Income Families">
    <main>
        <LowIncomeHeroSection />
        <DebtProblem />
        <DebtSolutions />
        <IntroSection  
            page='low-income'
            mainHeading={locale === "en" && "Economic theory and philisophy in the long term justifies healthy altruism as a personal benefit for every representative of our species" || "Экономическая теория и философия в долгосрочной перспективе обосновывает здоровый альтруизм как личную выгоду каждого представителя нашего вида"}
            text={locale === "en" && "Treat your neighbor as yourself – in fact, is an ironclad formula for a happy civilization moving towards a bright future, since the world is global and the moral, physical, economic condition of each person depends, among other things, on his/her neighbor." || 'Относись к ближнему, как к самому себе - на деле представляет железную формулу счастливой цивилизации, идущей в светлое будущее, поскольку мир глобален и моральное, физическое, экономическое состояние каждого зависит в том числе от его соседа.'}
            containerWidth='61rem'
            containerHeight='33.125rem'
            textWidth='28.75rem'
        />
        <ConceptSection 
            pagePath='low-income-families'
            usualHeading = {locale === "en" && "The project is designed to " || 'проект рассчитан на '}
            mainHeading={locale === "en" && "buy out the debt" || "выкуп долга"}
            text={locale === "en" && "of hopeless borrowers who represent the most vulnerable segments of society as large families, disabled people. Also, to inform the population about the risks hidden in credit instruments." || 'безнадёжных заёмщиков, которые представляют самые незащищённые слои общества, - многодетных семей, инвалидов. А также на информирование населения о рисках, скрывающихся в кредитных инструментах.'}
        />
        <HelpSection page='low-income-families' />
        <SocialSection />
    </main>
</Layout>
