---
import '../styles/global.css';
import Events from '../components/main/Events.svelte';
import EventsTab from '../components/EventsTab.astro';
import Modal from '../components/main/Modal.svelte';
---
<body>
    <Modal client:load />
</body>

<style>
   .hero-section {
    position: relative;
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    background: url('../images/eco/ecoCover.jpg') no-repeat center center/cover;
    overflow: hidden;
}
</style>