---
import HeroSection from '../components/eco/EcoHeroSection.astro';
import HelpaSection from '../components/token/HelpaSection.astro';
import Layout from '../layouts/Layout.astro';
import '../styles/global.css';
import tokenCover from '../images/token/tokenCover.jpg';
import TransactionSection from '../components/token/TransactionSection.astro';
import CharitySection from '../components/token/CharitySection.astro';
import TradingStrategySection from '../components/token/TradingStrategySection.astro';
import ProfitSection from '../components/token/ProfitSection.astro';
import SocialSection from '../components/SocialSection.astro';
import SlogansSection from '../components/main/SlogansSection.astro';
import TokenHeroSection from '../components/token/TokenHeroSection.astro';
---
<Layout title="TOKEN">
    <main>
        <TokenHeroSection />
        <HelpaSection />
        <TransactionSection />
        <CharitySection />
        <TradingStrategySection />
        <ProfitSection />
        <SocialSection />
        <SlogansSection />
    </main>
</Layout>