---
import '../../styles/global.css';
import { Image } from 'astro:assets';
import mapImage from '../../images/eco/map.png';
import RadialGradient from '../RadialGradient.astro';
---

<section class="eco_about">
    <div class="eco_about__container">
        <RadialGradient topPosition="40.625rem" leftPosition="-25.25rem" />
        <RadialGradient topPosition="25rem" leftPosition="63.25rem" />
        <h2 class="eco_about__heading">
            <span class="eco_about__heading-gradient">ECO TIME DAY - </span>
            это обособленный проект по защите окружающей среды, не имеющий государственных границ
        </h2>
        <h3 class="eco_about__subheading">
            Первая экологическая акция была проведена 14.02.2022 в Шри-Ланке, г. Велигама.
        </h3>
        <p class="eco_about__text">
            Последующие акции в Грузии, России.
        </p>
        <Image src={mapImage} alt='Карта мира' class='eco_about_image' loading='eager'/>
    </div>
</section>

<style>
    .eco_about {
        position: relative;
        display: block;
        max-width: 100vw;
        height: 76.2rem;
    }

    .eco_about__container {
        display: block;
        position: absolute;
        top: 5rem;
        left: 50%;
        transform: translateX(-50%);
        width: var(--reduced-width);
        height: inherit;
        overflow: hidden;
    }

    .eco_about__heading {
        display: inline-block;
        width: inherit;
        font-family: var(--font-lulo-bold);
        font-size: 3.125rem;
        line-height: 4rem;
        margin-bottom: 2.5rem;
    }

    .eco_about__heading-gradient {
        background-color: var(--green);
        background-image: var(--gradient);
        background-size: 100%;
        -webkit-background-clip: text;
        -moz-background-clip: text;
        -webkit-text-fill-color: transparent; 
        -moz-text-fill-color: transparent;
    }

    .eco_about__subheading {
        display: inline-block;
        width: 34.5rem;
        font-family: var(--font-inter);
        font-size: 1.2rem;
        line-height: 1.6rem;
        margin-bottom: 1.25rem;
    }

    .eco_about__text {
        font-family: var(--font-inter);
        font-size: 1rem;
        color: var(--dark-grey);
        margin-bottom: 5rem;
    }

    .eco_about_image {
        display: block;
        width: 58.75rem;
        height: 32.2rem;
        margin-bottom: 9rem;
    }
</style>