---
import '../../styles/global.css';
import { Image } from 'astro:assets';
import mapImage from '../../images/eco/map.png';
import RadialGradient from '../RadialGradient.astro';
---

<section class="eco_about">
    <div class="eco_about__container">
        <!-- <RadialGradient topPosition="40.625rem" leftPosition="-25.25rem" />
        <RadialGradient topPosition="25rem" leftPosition="63.25rem" /> -->
        <h2 class="eco_about__heading">
            <span class="gradient_span">ECO TIME DAY - </span>
            это обособленный проект по защите окружающей среды, не имеющий государственных границ
        </h2>
        <h3 class="eco_about__subheading">
            Первая экологическая акция была проведена 14.02.2022 в Шри-Ланке, г. Велигама.
        </h3>
        <p class="eco_about__text">
            Последующие акции в Грузии, России.
        </p>
        <Image src={mapImage} alt='Карта мира' class='eco_about_image' loading='eager'/>
    </div>
</section>

<style>
    .eco_about {
        --eco-about-height: 76.2rem;
        --container-top: 5rem;
        --heading-font-size: 3.125rem;
        --heading-line-height: 4rem;
        --subheading-width: 34.5rem;
        --subheading-font-size: 1.2rem;
        --subheading-line-height: 1.6rem;
        --image-width: 58.75rem;
        --image-height: 32.2rem;
        --margin-bottom: 2.5rem;
    }

    .eco_about {
        position: relative;
        display: block;
        max-width: var(--section-width);
        height: var(--eco-about-height);
    }

    .eco_about__container {
        display: block;
        position: absolute;
        top: var(--container-top);
        left: 50%;
        transform: translateX(-50%);
        width: var(--reduced-width);
        height: inherit;
        overflow: hidden;
    }

    .eco_about__heading, .eco_about__subheading, .eco_about__text {
        display: inline-block;
        width: inherit;
    }

    .eco_about__heading {
        font-family: var(--font-lulo-bold);
        font-size: var(--heading-font-size);
        line-height: var(--heading-line-height);
        margin-bottom: var(--margin-bottom);
    }

    .eco_about__subheading {
        width: var(--subheading-width);
        font-family: var(--font-inter);
        font-size: var(--subheading-font-size);
        line-height: var(--subheading-line-height);
        margin-bottom: 1.25rem;
    }

    .eco_about__text {
        font-family: var(--font-inter);
        color: var(--dark-grey);
        margin-bottom: 5rem;
    }

    .eco_about__image {
        display: block;
        width: var(--image-width);
        height: var(--image-height);
        margin-bottom: 9rem;
    }
</style>