---
import '../../styles/global.css';

const { text, textWidth } = Astro.props;
---
<div class="eco-event-chain-card">
    <p class="eco-event-chain-card__text" set:html={text} />
</div>

<style define:vars={{textWidth}}>
    .eco-event-chain-card {
        --card-width: 16.6rem;
        --card-height: 10rem;
        --text-width: var(--textWidth);
    }

    .eco-event-chain-card {
        display: block;
        position: relative;
        width: var(--card-width);
        height: var(--card-height);
        border-radius: var(--border-radius);
        background-color: white;
        box-shadow: var(--box-shadow);
    }

    .eco-event-chain-card__text {
        display: inline-block;
        width: var(--text-width);
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
    }
</style>
