---
import { Icon } from 'astro-icon/components';
import '../../styles/global.css';
import Link from '../Link.astro';
import EcoEventChainCard from './EcoEventChainCard.astro';
import RadialGradient from '../RadialGradient.astro';
---

<section class="eco-events-chain">
    <div class="eco-events-chain__container">
        <!-- <RadialGradient topPosition="-16.8125rem" leftPosition="-14.625rem" />
        <RadialGradient topPosition="3.75rem" leftPosition="45.1875rem" /> -->
        <div class="card" id="air">
            <EcoEventChainCard text="Загрязнение окружающей среды" textWidth="10.125rem" />
        </div>
        <div class="icon" id="arrow-1">
            <Icon name="arrowLong" class='horizontal_arrow'/>
        </div>
        <div class="card" id="eco">
            <EcoEventChainCard text="Нарушение <br/> естественных экосистем" textWidth="10.7rem" />
        </div>
        <div class="icon" id="arrow-2">
            <Icon name="arrowLong" class='horizontal_arrow'/>
        </div>
        <div class="card" id="animals">
            <EcoEventChainCard text="Ухудшение состояния животных и растений" textWidth='10.875rem'/>
        </div>
        <div class="icon"  id="arrow-3">
            <Icon name="arrowLong" id="vertical-arrow" />
        </div>
        <div class="eco-events-chain__text">
            <h3 class="eco-events-chain__heading">
                Посмотрите на эту пугающую цепочку событий
            </h3>
            <h4 class="eco-events-chain__subheading">Но в наших силах ее прекратить!</h4>
            <div class="link_container">
                <Link href="/eco-2" theme="text" classes="link link_text">
                    <span class="link_innertext_secondary">Читать подробнее о последствиях загрязнений</span>
                    <Icon name="arrowText" />
                </Link>
            </div>
        </div>
        <div class="card" id="variety">
            <EcoEventChainCard text="Уменьшение биологического разнообразия <br/> животных и растений" textWidth='10.875rem' />
        </div>
        <div class="icon" id="arrow-4">
            <Icon name="arrowLong" id="rotate-arrow" class='horizontal_arrow' id="special_arrow-2" />
        </div>
        <div class="card" id="species">
            <EcoEventChainCard text="Исчезновение видов" textWidth='8.875rem' />
        </div>
    </div>
</section>

<style>
    .eco-events-chain {
        --chain-height: 33.125rem;
        --container-height: 25rem;
        --column-gap: 19px;
        --vertical-arrow-right: 7rem;
        --vertical-arrow-width: 2.5rem;
        --horizontal-arrow-width: 7.625rem;
        --vertical-arrow-stroke-width: 4px;
        --text-width-no-card: 21.875rem;
        --text-height: 10rem;
        --text-margin-right: 36px;
        --vertical-arrow-top: 12rem;
        --heading-font-size: 1.2rem;
        --heading-margin-bottom: 1.25rem;
        --subheading-font-size: 1rem;
        --subheading-color: var(--dark-grey);
        --subheading-margin-bottom: 1.875rem;
        --link-font-size: .85rem;
        --link-width: 100%;
    }

    .eco-events-chain {
        position: relative;
        display: block;
        width: var(--section-width);
        height: var(--chain-height);
    }

    .eco-events-chain__container {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        display: flex;
        flex-wrap: wrap;
        /* justify-content: space-between; */
        column-gap: var(--column-gap);
        align-items: center;
        align-content: space-between;
        width: var(--reduced-width);
        height: var(--container-height);
    }

    #vertical-arrow {
        display: inline-block;
        position: absolute;
        right: var(--vertical-arrow-right);
        top: var(--vertical-arrow-top);
        transform: rotate(90deg);
        width: var(--vertical-arrow-width);
        stroke: url(#a);
        stroke-width: var(--vertical-arrow-stroke-width);
    }

    .horizontal_arrow {
        width: var(--horizontal-arrow-width);
    }

    #rotate-arrow {
        transform: rotate(180deg);
    }

    #special_arrow-2 {
        transform: rotate(180deg);
    }

    .eco-events-chain__text {
        font-family: var(--font-inter);
        display: inline-block;
        width: var(--text-width-no-card);
        height: var(--text-height);
        margin-right: var(--text-margin-right);
    }

    .eco-events-chain__heading {
        font-size: var(--heading-font-size);
        margin-bottom: var(--heading-margin-bottom);
    }

    .eco-events-chain__subheading {
        font-size: var(--subheading-font-size);
        color: var(--subheading-color);
        margin-bottom: var(--subheading-margin-bottom);
    }

    .link_container {
        width: var(--link-width);
    }

    .link_innertext_secondary {
        font-size: var(--link-font-size);
    }

    @media (960px <= width < 1200px) {
        .eco-events-chain {
            --chain-height: 32.875rem;
            --container-height: 21.125rem;
            --column-gap: 14px;
            --vertical-arrow-right: 5.5rem;
            --vertical-arrow-top: 10rem;
            --vertical-arrow-width: 2.5rem;
            --horizontal-arrow-width: 6.6875rem;
            --vertical-arrow-stroke-width: 4px;
            --text-width-no-card: 20rem;
            --text-height: 7.375rem;
            --text-margin-right: 2px;
            --heading-font-size: 1.25rem;
            --heading-margin-bottom: 1.25rem;
            --subheading-font-size: 0.75rem;
            --subheading-color: var(--dark-grey);
            --subheading-margin-bottom: 1.25rem;
            --link-font-size: .75rem;
            --link-width: 19rem;
        }
    }

    @media (640px <= width < 960px) {
        .eco-events-chain {
            --chain-height: 44rem;
            --container-height: 33.125rem;
            --vertical-arrow-right: 5.5rem;
            --vertical-arrow-width: 2.5rem;
            --horizontal-arrow-width: 6.6875rem;
            --vertical-arrow-stroke-width: 4px;
            --text-width-no-card: 19.5625rem;
            --text-height: 7.625rem;
            --text-margin-right: 0;
            --heading-font-size: 1.25rem;
            --heading-margin-bottom: 1.25rem;
            --subheading-font-size: 0.75rem;
            --subheading-color: var(--dark-grey);
            --subheading-margin-bottom: 1.25rem;
            --link-font-size: .75rem;
            --link-width: 19rem;
        }

        .eco-events-chain__container {
            column-gap: 0;
            justify-content: space-between;
        }

        .eco-events-chain__text {
            order: -1;
        }

        .horizontal_arrow {
            transform: rotate(90deg);
            width: 2.5rem;
        }

        .icon {
            position: absolute;
        }

       #arrow-1 {
            top: 10rem;
            right: 5.5rem;
        }

        #arrow-2 {
            top: 22.2rem;
            right: 5.5rem;
        }

        #arrow-3 {
            transform: rotate(180deg);
            width: 2.5rem;
            top: 35.1rem;
            left: 0;
        }

        #vertical-arrow {
            stroke-width: 1px;
            width: inherit;
        }

        #arrow-4 {
            width: 6.6875rem;
            top: 28rem;
            left: 15.5rem;
            transform: rotate(90deg);
        }

        #special_arrow-2 {
            transform: rotate(90deg);
            width: inherit;
        }
    }

    @media (480px <= width < 640px) {
        .eco-events-chain {
            --chain-height: 27.1875rem;
            --container-height: 19.0625rem;
            --vertical-arrow-right: 5.5rem;
            --vertical-arrow-width: 2.5rem;
            --horizontal-arrow-width: 6.6875rem;
            --vertical-arrow-stroke-width: 4px;
            --text-width-no-card: 13.125rem;
            --text-height: 7.625rem;
            --text-margin-right: 0;
            --heading-font-size: .75rem;
            --heading-margin-bottom: .625rem;
            --subheading-font-size: .625rem;
            --subheading-color: var(--dark-grey);
            --subheading-margin-bottom: 5px;
            --link-font-size: .625rem;
            --link-width: 13.125rem;
        }

        .eco-events-chain__container {
            column-gap: 0;
            justify-content: space-between;
            align-content: space-between;
        }

        .eco-events-chain__text {
            order: -1;
        }

        .horizontal_arrow {
            width: inherit;
            transform: rotate(90deg);
            stroke-width: 10px;
        }

        .icon {
            position: absolute;
        }

        #air {
            margin-bottom: 3.5rem;
        }

       #arrow-1 {
            width: 2.5rem;
            top: 6.3rem;
            right: 5.5rem;
            stroke-width: 10px;
        }

        #arrow-2 {
            transform: rotate(90deg);
            width: 1rem;
            top: 10.5rem;
            right: 13.4rem;
        }

        #arrow-2 .horizontal_arrow {
            width: inherit;
            stroke-width: 1rem;
        }

        #arrow-3 {
            width: 1rem;
            height: 1rem;
            top: 26px;
        }

        #vertical-arrow {
            stroke-width: 4px;
            width: 1rem;
            left: 6rem;
        }

        #arrow-4 {
            width: 1rem;
            top: 16.2rem;
            right: 13.052rem;
            transform: rotate(270deg);
        }

        #special_arrow-2 {
            transform: rotate(90deg);
            width: inherit;
        }
    }

    @media (320px <= width < 480px) {
        .eco-events-chain {
            --chain-height: 136.5625vw;
            --container-height: 105vw;
            --vertical-arrow-right: 5.5rem;
            --vertical-arrow-width: 2.5rem;
            --horizontal-arrow-width: 6.6875rem;
            --vertical-arrow-stroke-width: 4px;
            --text-width-no-card: 79.6875vw;
            --text-height: 25vw;
            --text-margin-right: 0;
            --heading-font-size: .75rem;
            --heading-margin-bottom: 3.125vw;
            --subheading-font-size: 3.125vw;
            --subheading-color: var(--dark-grey);
            --subheading-margin-bottom: 3.125vw;
            --link-font-size: 3.125vw;
            --link-width: 79.6875vw;
        }

        .eco-events-chain__container {
            column-gap: 0;
            justify-content: space-between;
            align-content: space-between;
        }

        .eco-events-chain__text {
            order: -1;
        }

        .horizontal_arrow {
            display: none;
        }

        .icon {
            position: absolute;
        }

        #air {
            margin-bottom: 0;
        }
       
        #vertical-arrow {
            display: none;
        }
    }
</style>
