---
import { Icon } from 'astro-icon/components';
import '../../styles/global.css';
import Link from '../Link.astro';
import EcoEventChainCard from './EcoEventChainCard.astro';
import RadialGradient from '../RadialGradient.astro';
---

<section class="eco-events-chain">
    <div class="eco-events-chain__container">
        <RadialGradient topPosition="-16.8125rem" leftPosition="-14.625rem" />
        <RadialGradient topPosition="3.75rem" leftPosition="45.1875rem" />
        <EcoEventChainCard text="Загрязнение окружающей среды" textWidth="10.125rem" />
        <Icon name="arrowLong" />
        <EcoEventChainCard text="Нарушение <br/> естественных экосистем" textWidth="10.7rem" />
        <Icon name="arrowLong" />
        <EcoEventChainCard text="Ухудшение состояния животных и растений" textWidth='10.875rem'/>
        <Icon name="arrowLong" id="vertical-arrow" />
        <div class="eco-events-chain__text">
            <h3 class="eco-events-chain__heading">
                Посмотрите на эту пугающую цепочку событий
            </h3>
            <h4 class="eco-events-chain__subheading">Но в наших силах ее прекратить!</h4>
            <Link href="/" theme="text" classes="link link_text">
                <span class="link_innertext_secondary">Читать подробнее о последствиях загрязнений</span>
                <Icon name="arrowText" />
            </Link>
        </div>
        <EcoEventChainCard text="Уменьшение биологического разнообразия <br/> животных и растений" textWidth='10.875rem' />
        <Icon name="arrowLong" id="rotate-arrow" />
        <EcoEventChainCard text="Исчезновение видов" textWidth='8.875rem' />
    </div>
</section>

<style>
    .eco-events-chain {
        --chain-height: 33.125rem;
        --container-height: 25rem;
        --vertical-arrow-right: 7rem;
        --vertical-arrow-width: 2.5rem;
        --vertical-arrow-stroke-width: 4px;
        --text-width-no-card: 21.875rem;
        --text-height: 10rem;
        --text-margin-right: 4rem;
        --heading-font-size: 1.2rem;
        --heading-margin-bottom: 1.25rem;
        --subheading-font-size: 1rem;
        --subheading-color: var(--dark-grey);
        --subheading-margin-bottom: 1.875rem;
    }

    .eco-events-chain {
        position: relative;
        display: block;
        width: var(--section-width);
        height: var(--chain-height);
    }

    .eco-events-chain__container {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        align-items: center;
        align-content: space-between;
        width: var(--reduced-width);
        height: var(--container-height);
    }

    #vertical-arrow {
        display: inline-block;
        position: absolute;
        right: var(--vertical-arrow-right);
        transform: rotate(90deg);
        width: var(--vertical-arrow-width);
        stroke: url(#a);
        stroke-width: var(--vertical-arrow-stroke-width);
    }

    #rotate-arrow {
        transform: rotate(180deg);
    }

    .eco-events-chain__text {
        font-family: var(--font-inter);
        display: inline-block;
        width: var(--text-width-no-card);
        height: var(--text-height);
        margin-right: var(--text-margin-right);
    }

    .eco-events-chain__heading {
        font-size: var(--heading-font-size);
        margin-bottom: var(--heading-margin-bottom);
    }

    .eco-events-chain__subheading {
        font-size: var(--subheading-font-size);
        color: var(--subheading-color);
        margin-bottom: var(--subheading-margin-bottom);
    }

    a {
        width: inherit;
    }
</style>
