---
import '../../styles/global.css';
import EcoGaleryCard from './EcoGaleryCard.astro';
import galeryData from '../../data/galery.json';

const { page } = Astro.props;

const ecoRows = {
    row1: galeryData.filter(card => card.id < 4 && card.category === page),
    row2: galeryData.filter(card => [4, 5, 6, 7].includes(card.id) && card.category === page),
    row3: galeryData.filter(card => card.id > 7 && card.category === page),
    row4: galeryData.filter(card => card.id < 3 && card.category === page),
    row5: galeryData.filter(card => [4, 6, 8].includes(card.id) && card.category === page),
    row6: galeryData.filter(card => [9, 11].includes(card.id) && card.category === page),
    row7: galeryData.filter(card => [3, 5, 7].includes(card.id) && card.category === page),
};

const rideRows = {
    row8: galeryData.filter(card => [12, 13, 14].includes(card.id) && card.category === page),
    row9: galeryData.filter(card => [15, 16, 17, 18].includes(card.id) && card.category === page),
    row10: galeryData.filter(card => [19, 20, 21].includes(card.id) && card.category === page),
    row11: galeryData.filter(card => [12, 13].includes(card.id) && card.category === page),
    row12: galeryData.filter(card => [14, 15, 16].includes(card.id) && card.category === page),
    row13: galeryData.filter(card => [17, 18].includes(card.id) && card.category === page),
    row14: galeryData.filter(card => [19, 20, 21].includes(card.id) && card.category === page),
};

const rows = page === 'eco' ? ecoRows : rideRows;

---

<section class="eco-galery">
    <div class="eco-galery__container" id="scrollHorizontal">
        {Object.keys(rows).map((row, index) => (
            <div class={page === 'eco' ? `row row-${index + 1}`: `row row-${index + 8}`}>
                {rows[row].map(card => (
                    <EcoGaleryCard 
                        cardImage={card.imgPath} 
                        cardText={card.cardText} 
                        imgDescr={card.imgDescr} 
                        fontSize={card.fontSize} 
                    />
                ))}
            </div>
        ))}
    </div>
</section>

<style>
    .eco-galery {
        --section-height: 50.3rem;
        --container-padding: 9.375rem;
        --row-width: 93.75rem;
        --row-margin-left-2: -9.375rem;
        --row-margin-left-3: 2.5rem;
    }

    section {
        display: block;
        position: relative;
        width: 100vw;
        height: var(--section-height);
        overflow: auto;
    }

    .eco-galery__container {
        display: block;
        position: relative;
        width: var(--full-width);
        left: 50%;
        transform: translateX(-50%);
        margin: -(var(--container-padding));
        overflow-x: auto;
        scrollbar-width: none;
        -ms-overflow-style: none;
    }

    .scroll-container::-webkit-scrollbar {
        display: none;
        width: 0;
        height: 0;
        -webkit-appearance: none;
    }

    .row {
        display: flex;
        flex-direction: row;
        justify-content: space-evenly;
        margin-bottom: 1.25rem;
    }

    .row-2, .row-9 {
        margin-left: var(--row-margin-left-2); /* Adjust this value to control how much of the 2nd row is hidden initially */
        transition: margin-left 0.5s ease-in-out;
        width: var(--row-width);
    }

    .row-3 {
        width: var(--row-width);
        margin-left: var(--row-margin-left-3);
        transition: margin-left 0.5s ease-in-out;
    }

    .row-4, .row-5, .row-6, .row-7, .row-11, .row-12, .row-13, .row-14 {
        display: none;
    }

    .eco-galery__container:focus-within .row:nth-child(2),
    .eco-galery__container:hover .row:nth-child(2),
    .eco-galery__container:focus-within .row:nth-child(3),
    .eco-galery__container:hover .row:nth-child(3) {
        margin-left: 0; /* This brings the 2nd row into full view on scroll */
    }

    @media (960px <= width < 1200px) {
        .eco-galery {
            --section-height: 40.75rem;
            --container-padding: 9.375rem;
            --row-width: 77rem;
            --row-margin-left-2: -9.375rem;
            --row-margin-left-3: 2.5rem;
        }
    }

    @media (640px <= width < 960px) {
        .eco-galery {
            --section-height: 50.125rem;
            --container-padding: 9.375rem;
            --row-width: 144.375vw;
            --row-margin-left-2: -9.375rem;
            --row-margin-left-3: 2.5rem;
        }

        .row-1, .row-2, .row-3, .row-8, .row-9, .row-10 {
            display: none;
        }

        .row {
            margin-bottom: 1rem;
        }

        .row-4, .row-5, .row-6, .row-7, .row-11, .row-12, .row-13, .row-14  {
            display: flex;
        }

        .row-5, .row-7, .row-12, .row-14 {
            margin-left: var(--row-margin-left-2); /* Adjust this value to control how much of the 2nd row is hidden initially */
            transition: margin-left 0.5s ease-in-out;
            width: var(--row-width);
        }

        .eco-galery__container:focus-within .row-5,
        .eco-galery__container:focus-within .row-7,
        .eco-galery__container:focus-within .row-12,
        .eco-galery__container:focus-within .row-14,
        .eco-galery__container:hover .row-5,
        .eco-galery__container:hover .row-7,
        .eco-galery__container:hover .row-12,
        .eco-galery__container:hover .row-14 {
            margin-left: 0; /* This brings the 2nd row into full view on scroll */
        }
    }

    @media (480px <= width < 640px) {
        .eco-galery {
            --section-height: 35.25rem;
            --container-padding: 23.95833333vw;
            --row-width: 139.6vw;
            --row-margin-left-2: -23.95833333vw;
            --row-margin-left-3: 2.5rem;
        }

        .row-1, .row-2, .row-3, .row-8, .row-9, .row-10 {
            display: none;
        }

        .row {
            margin-bottom: 1rem;
        }

        .row-4, .row-5, .row-6, .row-7, .row-11, .row-12, .row-13, .row-14  {
            display: flex;
        }

        .row-5, .row-7, .row-12, .row-14 {
            margin-left: var(--row-margin-left-2); /* Adjust this value to control how much of the 2nd row is hidden initially */
            transition: margin-left 0.5s ease-in-out;
            width: var(--row-width);
        }

        .eco-galery__container:focus-within .row-5,
        .eco-galery__container:focus-within .row-7,
        .eco-galery__container:focus-within .row-12,
        .eco-galery__container:focus-within .row-14,
        .eco-galery__container:hover .row-5,
        .eco-galery__container:hover .row-7,
        .eco-galery__container:hover .row-12,
        .eco-galery__container:hover .row-14 {
            margin-left: 0; /* This brings the 2nd row into full view on scroll */
        }
    }

    @media (320px <= width < 480px) {
        .eco-galery {
            --section-height: 110.875vw;
            --container-padding: 20.3125vw;
            --row-width: 128.125vw;
            --row-margin-left-2: -20.3125vw;
            --row-margin-left-3: 2.5rem;
        }

        .row-1, .row-2, .row-3, .row-8, .row-9, .row-10 {
            display: none;
        }

        .row {
            margin-bottom: 1rem;
        }

        .row-4, .row-5, .row-6, .row-7, .row-11, .row-12, .row-13, .row-14  {
            display: flex;
        }

        .row-5, .row-7, .row-12, .row-14 {
            margin-left: var(--row-margin-left-2); /* Adjust this value to control how much of the 2nd row is hidden initially */
            transition: margin-left 0.5s ease-in-out;
            width: var(--row-width);
        }

        .eco-galery__container:focus-within .row-5,
        .eco-galery__container:focus-within .row-7,
        .eco-galery__container:focus-within .row-12,
        .eco-galery__container:focus-within .row-14,
        .eco-galery__container:hover .row-5,
        .eco-galery__container:hover .row-7,
        .eco-galery__container:hover .row-12,
        .eco-galery__container:hover .row-14 {
            margin-left: 0; /* This brings the 2nd row into full view on scroll */
        }
    }
</style>