---
import '../../styles/global.css';
import EcoGaleryCard from './EcoGaleryCard.astro';
import galeryData from '../../data/galery.json';

const { page } = Astro.props;

const ecoRows = {
    row1: galeryData.filter(card => card.id < 4 && card.category === page),
    row2: galeryData.filter(card => [4, 5, 6, 7].includes(card.id) && card.category === page),
    row3: galeryData.filter(card => card.id > 7 && card.category === page),
};

const rideRows = {
    row4: galeryData.filter(card => [12, 13, 14].includes(card.id) && card.category === page),
    row5: galeryData.filter(card => [15, 16, 17, 18].includes(card.id) && card.category === page),
    row6: galeryData.filter(card => [19, 20, 21].includes(card.id) && card.category === page),
};

const rows = page === 'eco' ? ecoRows : rideRows;

---

<section class="eco-galery">
    <div class="eco-galery__container" id="scrollHorizontal">
        {Object.keys(rows).map((row, index) => (
            <div class={page === 'eco' ? `row row-${index + 1}`: `row row-${index + 4}`}>
                {rows[row].map(card => (
                    <EcoGaleryCard 
                        cardImage={card.imgPath} 
                        cardText={card.cardText} 
                        imgDescr={card.imgDescr} 
                        fontSize={card.fontSize} 
                    />
                ))}
            </div>
        ))}
    </div>
</section>

<style>
    .eco-galery {
        --container-padding: 9.375rem;
        --row-width: 93.75rem;
        --row-margin-left-2: -9.375rem;
        --row-margin-left-3: 2.5rem;
    }

    section {
        display: block;
        position: relative;
        width: 100vw;
        height: 50.3rem;
        overflow: auto;
    }

    .eco-galery__container {
        display: block;
        position: relative;
        width: var(--full-width);
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        margin: -(var(--container-padding));
        overflow-x: auto;
        scrollbar-width: none; /* For Firefox */
        -ms-overflow-style: none;  /* For Internet Explorer and Edge */
    }

    .scroll-container::-webkit-scrollbar {
        display: none; /* For Chrome, Safari, and Opera */
        width: 0;
        height: 0;
        -webkit-appearance: none;
    }

    .row {
        display: flex;
        flex-direction: row;
        justify-content: space-evenly;
        margin-bottom: 1.25rem;
    }

    .row-2, .row-5 {
        margin-left: var(--row-margin-left-2); /* Adjust this value to control how much of the 2nd row is hidden initially */
        transition: margin-left 0.5s ease-in-out;
        width: var(--row-width);
    }

    .row-3 {
        width: var(--row-width);
        margin-left: var(--row-margin-left-3);
        transition: margin-left 0.5s ease-in-out;
    }

    .eco-galery__container:focus-within .row:nth-child(2),
    .eco-galery__container:hover .row:nth-child(2),
    .eco-galery__container:focus-within .row:nth-child(3),
    .eco-galery__container:hover .row:nth-child(3) {
        margin-left: 0; /* This brings the 2nd row into full view on scroll */
    }
</style>