---
import { Image } from 'astro:assets';
import '../../styles/global.css';

const { cardImage, cardText, imgDescr, fontSize } = Astro.props;
---
<div class="galery-card__container">
    {cardImage && <Image src={import(cardImage)} alt={imgDescr} class="galery-card__img" loading="eager" />}
    {cardText && <p class="galery-card__text gradient_span">{cardText}</p>}
</div>

<style define:vars={{fontSize}}>
    .galery-card__container {
        --card-width: 22.5rem;
        --card-height: 12.8rem;
    }

    .galery-card__container {
        display: flex;
        justify-content: center;
        align-items: center;
        width: var(--card-width);
        height: var(--card-height);
        border-radius: var(--border-radius);
        background-color: white;
        box-shadow: var(--box-shadow);
    }

    .galery-card__img {
        display: block;
        width: 100%;
        height: 100%;
        border-radius: var(--border-radius);
        object-fit: cover;
    }

    .galery-card__text {
        display: inline-block;
        width: 15.25rem;
        font-family: var(--font-inter);
        font-size: var(--fontSize);
    }
</style>
