---
import '../../styles/global.css';
---
<section class="eco-hero">
    <div class="eco-hero__container">
        <div class="hero-text">
            <h1 class="hero-heading">
                <span class="highlight" id="eco">eco</span><span class="usual-text">time </span>
                <span class="highlight" id="day">day</span>
            </h1>
            <h2 class="hero-subheading">Добро пожаловать</h2>
        </div>
    </div>
</section>

<style>
    .eco-hero {
        --hero-height: var(--full-height);
        --container-width: 66.875rem;
        --heading-font-size: 9.8125rem;
        --heading-line-height: 14.5rem;
        --subheading-font-size: 3.125rem;
        --highlight-bg-size: 100vw 100vh;
        --highlight-bg-position-eco: 10% 34%;
        --highlight-bg-position-day: 14% 79%;
    }

    .eco-hero {
        position: relative;
        display: flex;
        justify-content: center;
        width: 100vw;
        height: var(--hero-height);
        background: url('../../images/eco/ecoCover.jpg') no-repeat center center/cover;
        overflow: hidden;
    }

    .eco-hero__container {
        position: relative;
        width: var(--container-width);
        z-index: 1;
        font-family: var(--font-lulo-bold);
        color: white;
        text-align: center;
    }

    .hero-heading {
        position: relative;
        width: 100%;
        font-size: var(--heading-font-size);
        line-height: var(--heading-line-height);
        margin-top: 9.375rem;
        white-space: nowrap;
    }

    .highlight {
        position: absolute;
        top: 0;
        left: 0;
        background: url('../../images/eco/ecoCover.jpg') no-repeat;
        -webkit-background-clip: text;
        background-clip: text;
        color: transparent;
    }

    #eco {
        width: 3em; /* Adjust width to match the size of 'ECO' */
        background-position: var(--highlight-bg-position-eco);
        background-size: var(--highlight-bg-size);
    }

    #day {
        margin-top: 16rem;
        width: 3em; /* Adjust width to match the size of 'ECO' */
        background-position: var(--highlight-bg-position-day);
        background-size: var(--highlight-bg-size);
    }

    .usual-text {
        position: absolute;
        right: 0;
        top: 0;
        font-family: var(--font-lulo-bold);
        font-size: var(--heading-font-size);
        line-height: var(--heading-line-height);
        color: white;
    }

    .hero-subheading {
        position: absolute;
        right: 0;
        top: 32.875rem;
        font-size: var(--subheading-font-size);
    }

    .eco-hero::before {
        content: '';
        position: absolute;
        top: 0;
        left: 0;
        width: 46.5%;
        height: 100%;
        background: white;
        z-index: 0;
    }

    @media (width < 1200px) {
        .eco-hero {
            display: none;
        }
    }
</style>
