---
const locale = Astro.currentLocale || "";
---
<section class="eco_hero">
    <div class="letters"></div>
    <div class="subheading">
        <h2>{locale === "en" && "Welcome" || "Добро пожаловать"}</h2>
    </div>
</section>

<style>

    section {
        position: relative;
        height: 100vh;
        background: url(../../images/eco/ecoCover.jpg) no-repeat;
        background-size: cover;
        overflow: hidden;
    }

    .letters {
        height: 100%;
        background: url(../../images/eco/eco-time-day.svg) center no-repeat;
        background-size: cover;
    }

    .subheading {
        position: absolute;
        left: 50%; top: 50%; right: 10px;
        margin-top: 15px;
        color: white;
    }

    .subheading h2 {
        font-size: 15px;
    }

    @media (width >= 480px) {

        section {
            /* height: 262px; */
        }

        .letters {
            /* height: 110%; */
            /* background-size: 1600px; */
        }

        .subheading {
            margin-top: 50px;
        }
    }

    @media (width >= 640px) {

        section {
            /* height: 720px; */
        }

        .letters {
            /* height: 100%; */
            /* background-size: 2000px; */
        }

        .subheading {
            margin-top: 30px;
        }

        .subheading h2 {
            font-size: 37px;
        }
    }

    @media (width >= 960px) {

        section {
            /* height: 539px; */
        }

        .letters {
            /* background-size: 3300px; */
        }

        .subheading {
            margin-top: 60px;
        }
    }

    @media (width >= 1200px) {

        section {
            /* height: 721px; */
        }

        .letters {
            /* background-position: center;
            background-size: 4000px; */
            background-size: 1200px;
            position: relative;
        }

        .letters:after {
            content: '';
            display: block;
            position: absolute;
            left: 0; top: 0; bottom: 0;
            width: 50%;
            translate: -600px;
            background: white;
        }

        .subheading {
            top: 50%;
            margin-top: 100px;
        }

        .subheading h2 {
            font-size: 48px;
        }
    }
</style>