---
import '../../styles/global.css';
import PolutionCard from '../GoalsCard.astro';
import RadialGradient from '../RadialGradient.astro';

const locale = Astro.currentLocale || "";
---
<section class="eco-pollutions">
    <div class="eco-pollutions__container">
        <RadialGradient topPosition="1rem" leftPosition="43.75rem" />
        <div class="eco-pollutions__text">
            <h2 class="eco-pollutions__heading">
                {locale === "en" && <>The main <span class="gradient_span">areas of pollution</span></> || <>Основными <span class="gradient_span">областями загрязнения</span></>}
            </h2>
            <h3 class="eco-pollutions__subheading">{locale === "en" && "of the environment are" || "окружающей среды являются:"}</h3>
        </div>
        <div class="eco-pollutions__cards">
            <div class="card_box">
                <PolutionCard goalsIcon='Air' goalsDescr={locale === "en" && "Air" || "Воздух"} />
            </div>
            <div class="card_box">
                <PolutionCard goalsIcon='Water' goalsDescr={locale === "en" && "Water" || "Вода"} />
            </div>
            <div class="card_box">
                <PolutionCard goalsIcon='Ground' goalsDescr={locale === "en" && "Soil" || "Почва"} />
            </div>
        </div>
    </div>
</section>

<script>

    const cardsContainer = document.querySelector(".eco-pollutions__cards") as HTMLDivElement;
    const cards = document.querySelectorAll(".card_box");
    console.info('cards.length', cards.length);

    window.addEventListener('scroll', onBodyScroll, {passive: true});

    function onBodyScroll() {
        if (isMostlyVisible()) {
            window.removeEventListener('scroll', onBodyScroll);
            startAnimateAppearing();
        }
    }

    function isMostlyVisible() {
        return cardsContainer!.getBoundingClientRect().top < window.innerHeight / 2 + 50;
    }

    function startAnimateAppearing() {
        let cardIndex = 0;
        animateAppearing(cardIndex++);
        let interval = setInterval(function() {
            animateAppearing(cardIndex++);
            if (cardIndex >= cards.length) clearInterval(interval);
        }, 400);
    }

    function animateAppearing(cardIndex) {
        cards[cardIndex].classList.add("appeared");
    }
</script>

<style>
    .eco-pollutions {
        --section-height: 35.2rem;
        --container-height: 25.8rem;
        --heading-font-size: 3rem;
        --subheading-font-size: 1.5rem;
        --cards-width: 52.2rem;
        --margin-bottom-heading: 1.25rem;
        --margin-bottom-subheading: 5rem;
    }

    .eco-pollutions {
        position: relative;
        display: block;
        height: var(--section-height);
    }

    .eco-pollutions__container {
        display: block;
        width: var(--reduced-width);
        height: var(--container-height);
        position: absolute;
        top: 0;
        left: 50%;
        transform: translateX(-50%);
    }

    .eco-pollutions__text {
        display: inline-block;
        width: 100%;
    }

    .eco-pollutions__heading {
        font-family: var(--font-lulo-bold);
        font-size: var(--heading-font-size);
        margin-bottom: var(--margin-bottom-heading);
    }

    .eco-pollutions__subheading {
        font-family: var(--font-inter);
        font-size: var(--subheading-font-size);
        margin-bottom: var(--margin-bottom-subheading);
    }

    .eco-pollutions__cards {
        display: flex;
        justify-content: space-between;
        width: var(--cards-width);
    }

    .card_box {
        opacity: 0;
        translate: 0 30px;
        transition: translate 0.3s, opacity 0.3s;
    }

    .card_box.appeared {
        opacity: 1;
        translate: 0;
    }

    @media (960px <= width < 1200px) {
        .eco-pollutions {
            --section-height: 29.625rem;
            --container-height: 22.125rem;
            --heading-font-size: 2.5rem;
            --subheading-font-size: 1.25rem;
            --cards-width: 42.8125rem;
            --margin-bottom-heading: 1.25rem;
            --margin-bottom-subheading: 5rem;
        }
    }

    @media (640px <= width < 960px) {
        .eco-pollutions {
            --section-height: 27.875rem;
            --container-height: 21.625rem;
            --heading-font-size: 2.5rem;
            --subheading-font-size: 1.25rem;
            --cards-width: var(--reduced-width);
            --margin-bottom-heading: 1.25rem;
            --margin-bottom-subheading: 2.5rem;
        }

        .card_box {
            display: block;
            width: 12rem;
            height: 10rem;
        }
    }

    @media (480px <= width < 640px) {
        .eco-pollutions {
            --section-height: 17.25rem;
            --container-height: 12.25rem;
            --heading-font-size: 1rem;
            --subheading-font-size: 0.75rem;
            --cards-width: var(--reduced-width);
            --margin-bottom-heading: 0.625rem;
            --margin-bottom-subheading: 2.5rem;
        }

        .card_box {
            display: block;
            width: 8.625rem;
            height: 7rem;
        }
    }

    @media (320px <= width < 480px) {
        .eco-pollutions {
            --section-height: 68.75vw;
            --container-height: 50vw;
            --heading-font-size: 5vw;
            --subheading-font-size: 3.75vw;
            --cards-width: var(--reduced-width);
            --margin-bottom-heading: 0.625rem;
            --margin-bottom-subheading: 1.5rem;
        }

        .card_box {
            display: block;
            width: 27.5vw;
            height: 21.875vw;
        }
    }
</style>
