<section class="eco_hero">
    <div class="letters"></div>
</section>

<style>
    section {
        position: relative;
        height: 100vh;
        background: url(../../images/lowIncome/heroCover.jpg) no-repeat;
        background-size: cover;
        overflow: hidden;
        margin-bottom: 100px;
    }

    .letters {
        height: 100%;
        background: url(../../images/lowIncome/hero-letters.svg) center no-repeat;
        background-size: cover;
    }

    .subheading {
        position: absolute;
        top: 50%; right: 50%; width: 50%;
        margin-top: 15px;
    }

    .subheading p {
        font-size: 12px;
        color: black;
        padding-left: 16%;
    }

    @media (width >= 480px) {

        section {
            /* height: 262px; */
        }

        .letters {
            background-image: url(../../images/lowIncome/hero-letters-paddings.svg);
            /* height: 110%; */
            /* background-size: 1600px; */
        }

        .subheading {
            margin-top: 50px;
        }
    }

    @media (width >= 640px) {

        section {
            /* height: 720px; */
        }

        .letters {
            /* height: 100%; */
            /* background-size: 2000px; */
        }

        .subheading {
            margin-top: 30px;
        }

        .subheading p {
            font-size: 20px;
        }
    }

    @media (width >= 960px) {

        section {
            /* height: 539px; */
        }

        .letters {
            /* background-size: 3300px; */
        }

        .subheading {
            margin-top: 50px;
            padding-right: 10%;
        }
    }

    @media (width >= 1200px) {

        section {
            /* height: 721px; */
        }

        .letters {
            background-size: 1200px;
            position: relative;
        }

        .letters:after {
            content: '';
            display: block;
            position: absolute;
            left: 0; top: 0; bottom: 0;
            width: 50%;
            translate: -600px;
            background: white;
        }

        .subheading {
            width: 600px;
            margin-top: 80px;
        }

        .subheading 0 {
            font-size: 24px;
        }
    }
</style>