<section class="eco_hero">
    <div class="letters"></div>
</section>

<style>
    section {
        --hero-background-position: calc((100vw - var(--reduced-width)) / 2) 0;
        --hero-height: 100vh;

    }

    .eco_hero {
        position: relative;
        display: block;
        width: 100vw;
        height: var(--hero-height);
        background: url(../../images/lowIncome/heroCover.jpg) no-repeat;
        background-size: cover;
        background-position: var(--hero-background-position);
    }

    .letters {
        display: block;
        margin: auto;
        width: var(--reduced-width);
        height: 100%;
        background: url(../../images/lowIncome/heroCover.png) no-repeat;
        background-size: 100% 100%;
    }

    @media (960px <= width < 1200px) {
        section {
            --hero-height: 33.75rem;
        }

        .letters {
            background: url(../../images/lowIncome/heroCover_960.svg) no-repeat;
        }
    }

    @media (640px <= width < 960px) {
        section {
            --hero-height: 45rem;
        }

        .letters {
            background: url(../../images/lowIncome/heroCover_640.svg) no-repeat;
        }

        
    }

    @media (480px <= width < 640px) {
        section {
            --hero-height: 16.375rem;
        }

        .letters {
            background: url(../../images/lowIncome/heroCover_480.svg) no-repeat;
        }
    }

    @media (320px <= width < 480px) {
        section {
            --hero-height: 30rem;
        }

        .letters {
            background: url(../../images/lowIncome/heroCover_320.svg) no-repeat;
            background-position: -20px 0;
        }
    }
</style>