---
import '../styles/global.css';
import { Icon } from 'astro-icon/components';

interface Props {
    goalsIcon?: string;
    goalsDescr: string;
    cardId?: number;
}

const { goalsIcon, goalsDescr, cardId } = Astro.props;
---

<div class="goals-card">
    {goalsIcon && <Icon name={goalsIcon} class="goals-icon" />}
    <p class:list={[cardId === 3 ? 'goals-descr third-card': 'goals-descr']}>{goalsDescr}</p>
</div>

<style>
    .goals-card {
        --card-width: 16.6rem;
        --card-height: 13.625rem;
        --icon-size: 2.5rem;
        --margin-top-bottom: 2.5rem;
        --font-size: 1rem;
        --third-card-width: 12rem;
    }

    .goals-card {
        display: flex;
        flex-direction: column;
        align-items: center;
        width: var(--card-width);
        height: var(--card-height);
        border-radius: var(--border-radius);
        background-color: white;
        box-shadow: var(--box-shadow);
    }

    .goals-icon {
        width: var(--icon-size);
        height: var(--icon-size);
        margin: var(--margin-top-bottom) 0;
    }

    .goals-descr {
        font-family: var(--font-inter);
        font-size: var(--font-size);
    }

    .third-card {
        width: var(--third-card-width);
    }
</style>
