---
import '../styles/global.css';
import { Icon } from 'astro-icon/components';

interface Props {
    goalsIcon?: string;
    goalsDescr: string;
    cardId?: number;
}

const { goalsIcon, goalsDescr, cardId } = Astro.props;
---

<div class:list={goalsIcon === 'Air' || goalsIcon === 'Water' || goalsIcon === 'Ground' ? 'goals-card goals-card_eco' : 'goals-card'}>
    {goalsIcon && <Icon name={goalsIcon} class="goals-icon" />}
    <p class:list={[cardId === 3 ? 'goals-descr third-card': 'goals-descr']}>{goalsDescr}</p>
</div>

<style>
    .goals-card {
        --card-width: 16.6rem;
        --card-height: 13.625rem;
        --icon-size: 2.5rem;
        --margin-top-bottom: 2.5rem;
        --font-size: 1rem;
        --third-card-width: 12rem;
    }

    .goals-card {
        display: flex;
        flex-direction: column;
        align-items: center;
        width: var(--card-width);
        height: var(--card-height);
        border-radius: var(--border-radius);
        background-color: white;
        box-shadow: var(--box-shadow);
    }

    .goals-icon {
        width: var(--icon-size);
        height: var(--icon-size);
        margin: var(--margin-top-bottom) 0;
    }

    .goals-descr {
        font-family: var(--font-inter);
        font-size: var(--font-size);
    }

    .third-card {
        width: var(--third-card-width) !important;
    }

    @media (960px <= width < 1200px) {
        .goals-card {
            --card-width: 13.4375rem;
            --card-height: 11.25rem;
            --icon-size: 2.5rem;
            --margin-top-bottom: 2rem;
            --font-size: 0.75rem;
            --third-card-width: 9.1875rem;
        }
    }

    @media (640px <= width < 960px) {
        .goals-card {
            --card-width: 8.8125rem;
            --card-height: 9.125rem;
            --icon-size: 2rem;
            --margin-top-bottom: 2rem;
            --font-size: 0.625rem;
            --third-card-width: 8rem;
        }

        .goals-card_eco {
            width: 100%;
            height: 100%;
        }

        .goals-descr {
            text-align: center;
            width: 5rem;
        }
    }

    @media (480px <= width < 640px) {
        .goals-card {
            --card-width: 13.125rem;
            --card-height: 4.375rem;
            --icon-size: 2rem;
            --margin-top-bottom: 1.25rem;
            --font-size: 0.625rem;
            --third-card-width: 7.75rem;
        }

        .goals-card {
            flex-direction: row;
        }

        .goals-card_eco {
            width: 100%;
            height: 100%;
        }

        .goals-card_eco {
            display: flex;
            flex-direction: column;
            align-content: center;
        }

        .goals-icon {
            margin-left: 2rem;
        }

        .goals-card_eco .goals-icon {
            margin-left: 0;
            margin-top: 1.25rem;
            margin-bottom: 1.25rem;
        }

        .goals-descr {
            margin-left: 1rem;
            width: 5rem;
        }

        .goals-card_eco .goals-descr {
            margin-top: ;
            text-align: center;
            margin: 0;
        }
    }

    @media (320px <= width < 480px) {
        .goals-card {
            --card-width: 40.625vw;
            --card-height: 29.0625vw;
            --icon-size: 10vw;
            --margin-top-bottom: 0.6rem;
            --font-size: 3.125vw;
            --third-card-width: 37vw;
        }

        .goals-card_eco {
            width: 100%;
            height: 100%;
        }

        .goals-descr {
            text-align: center;
            width: 25vw;
        }
    }
</style>
