---
import '../styles/global.css';
import Button from '../components/Button.astro';
import Link from './Link.astro';
---

<div class="business_card">
    <div class="business_container">
        <div class="business_title">
            <h3 class="business_heading">Тогда нам по пути!</h3>
            <h4 class="business_subheading">Имеете схожие цели?</h4>
        </div>
        <Link href='/' theme='primary' classes="link link_primary">Присоединиться</Link>
    </div>
</div>


<style>
    .business_card {
        display: flex;
        flex-direction: column;
        justify-content: flex-end;
        height: 13.625rem;
    }

    .business_container {
        display: flex;
        flex-direction: column;
        align-items: start;
        justify-content: flex-end;
        width: 16.6rem;
        height: 9.6rem;
    }

    .business_title {
        display: flex;
        flex-direction: column-reverse;
        margin-bottom: 2.8rem;
        font-family: var(--font-inter);
        margin-left: 0.5rem;
    }

    h3 {
        font-size: 1.1rem;
    }

    h4 {
        font-size: 1rem;
        color: var(--dark-grey);
    }
</style>