---
import { Image } from 'astro:assets';
import headerLogo from '../images/logos/logo-grey.svg';
import "../styles/global.css";
import links from '../data/links.json';

const { mainPage } = Astro.props;
---
<header class:list={mainPage ? "" : "header_bg"}>
    <div class="header">
        <a href="/"><Image src={headerLogo} class="header-logo" alt="helpa-project-logo" width="47" height="47" loading="eager" decoding="async" /></a>
        <nav class="nav-links">
            {links.map(link => (
                <a href={link.url} class="nav-link">{link.text}</a>
            ))}
        </nav>
    </div>
</header>

<style>
header {
    --header-bg-color: rgba(255, 255, 255, 0.8);
    --header-width: 70rem;
    --header-height: 4.625rem;
    --nav-links-width: 64rem;
    --font-size: 0.875rem;
}

/* Add any other global styles you need */

    .header {
        z-index: 99;
        display: flex;
        justify-content: space-between;
        width: var(--header-width);
        position: sticky;
        top: 1rem;
        left: 50%;
        transform: translateX(-50%);
    }

    .header_bg {
        z-index: 99;
        position: sticky;
        top: 0;
        left: 0;
        display: block;
        width: 100vw;
        height: var(--header-height);
        background-color: var(--header-bg-color);
        border-bottom-right-radius: var(--border-radius);
    }

    .header-logo {
        display: block;
    }

    .nav-links {
        width: var(--nav-links-width);
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-self: center;
    }

    .nav-link {
        display: inline-block;
        font-family: var(--font-inter);
        font-size: var(--font-size);
        color: var(--dark-grey);
        text-decoration: none;
    }

    a {
        cursor: pointer;
    }

    .nav-link:hover, 
    .nav-link:active {
        background-color: var(--green);
        background-image: var(--gradient);
        background-size: 100%;
        -webkit-background-clip: text;
        -moz-background-clip: text;
        -webkit-text-fill-color: transparent; 
        -moz-text-fill-color: transparent;
    }
</style>
