---
import '../styles/global.css';
import Link from './Link.astro';

const {url_buy, url_join, h3_text, p_text} = Astro.props;

const locale = Astro.currentLocale || "";
---

<div class="help__cta">
    <div class="help__cta-1" id="left">
        <h3 class="help__cta-h3" id="left-heading">{locale === "en" && "Purchase HELPA crypto asset" || "Приобрести криптоактив HELPA"}</h3>
        <p class="help_text" id="left_text">{locale === "en" && "and help the project financially by making transactions." || "и помогать проекту финансово за счет совершения транзакций."}</p>
        <Link href={url_buy} theme='primary' classes="link link_primary">{locale === "en" && "Purchase" || "Приобрести"}</Link>
    </div>
    <div class="help__cta-1" id="right">
        <h3 class="help__cta-h3" id="right-heading">{h3_text}</h3>
        <p class={p_text ? "help_text" : 'help_text hidden'}>{p_text !== '' ? p_text : 'и принимать непосредственное участие в мероприятиях.'}</p>
        <Link href={url_join} theme='primary' classes="link link_primary">{locale === "en" && "Join" || "Присоединиться"}</Link>
    </div>
</div>

<style>
    .help__cta {
        --cta-width: 54rem;
        --cta-block-width: 20rem;
        --cta-block-height: 13.5rem;

        /* fonts */
        --h3-font-size: 1.5rem;
        --h3-margin-bottom: 1.25rem;
        --text-font-size: 1rem;
        --text-margin-bottom: 2.5rem;
    }

    .help__cta {
        display: flex;
        width: var(--cta-width);
        justify-content: space-between;
        font-family: var(--font-inter);
    }

    .help__cta-1 {
        display: block;
        width: var(--cta-block-width);
        height: var(--cta-block-height);
    }

    .help__cta-h3 {
        display: inline-block;
        width: inherit;
        font-size: var(--h3-font-size);
        margin-bottom: var(--h3-margin-bottom);
    }

    .help_text {
        font-size: var(--text-font-size);
        color: var(--dark-grey);
        margin-bottom: var(--text-margin-bottom);
    }

    .hidden {
        visibility: hidden;
    }

    @media (960px <= width < 1200px) {
        .help__cta {
            --cta-width: 48.5rem;
            --cta-block-width: 19.125rem;
            --cta-block-height: 12.25rem;

            /* fonts */
            --h3-font-size: 1.25rem;
            --h3-margin-bottom: 1.25rem;
            --text-font-size: .75rem;
            --text-margin-bottom: 2.5rem;
        }
    }

    @media (640px <= width < 960px) {
        .help__cta {
            --cta-width: var(--reduced-width);
            --cta-block-width: 19.125rem;
            --cta-block-height: 12.25rem;

            /* fonts */
            --h3-font-size: 1.25rem;
            --h3-margin-bottom: 1.25rem;
            --text-font-size: .75rem;
            --text-margin-bottom: 2.5rem;
        }
    }

    @media (480px <= width < 640px) {
        .help__cta {
            --cta-width: var(--reduced-width);
            --cta-block-width: 14.6875rem;
            --cta-block-height: 7.25rem;

            /* fonts */
            --h3-font-size: .75rem;
            --h3-margin-bottom: .625rem;
            --text-font-size: .625rem;
            --text-margin-bottom: 1.25rem;
        }

        #right {
            width: 13rem;
        }

        #left-heading {
            width: 10rem;
        }
    }

    @media (320px <= width < 480px) {
        .help__cta {
            --cta-width: 87.5vw;
            --cta-block-width: 46.375vw;
            --cta-block-height: 36.25vw;

            /* fonts */
            --h3-font-size: 3.3vw;
            --h3-margin-bottom: 3.125vw;
            --text-font-size: 2.5vw;
            --text-margin-bottom: 5vw;
        }

        /* #right {
            width: 40.625vw;
        } */

        #left-heading {
            width: 44.375vw;
        }
    }
</style>
