---
import '../styles/global.css';
interface Props {
	mainHeading: string;
	text?: string;
	containerWidth: string;
	containerHeight: string;
	textWidth?: string;
	page?: string;
}

const { mainHeading, text, containerWidth, containerHeight, textWidth = '30rem', page } = Astro.props;

let containerWidth_960, containerWidth_640, containerWidth_480, containerWidth_320;
let containerHeight_960, containerHeight_640, containerHeight_480, containerHeight_320;
let fontSizeText_960, fontSizeText_480, fontSizeText_320;
let textWidth_960, textWidth_640, textWidth_480, textWidth_320;
let rightPosText_960, rightPosText_480, rightPosText_320;
let headingWidth_480;

switch (page) {
	case 'home':
		containerWidth_960 = '40.875rem';
		containerWidth_640 = '27.25rem';
		containerWidth_480 = '16.3125rem';
		containerWidth_320 = '8rem';
		containerHeight_960 = '9rem';
		containerHeight_640 = '15rem';
		containerHeight_480 = '3.9375rem';
		containerHeight_320 = '31.25vw';
		break;
	case 'eco':
		containerWidth_960 = '41.5625rem';
		containerWidth_640 = '33.5rem';
		containerWidth_480 = '20.125rem';
		containerWidth_320 = '87.5vw';
		containerHeight_960 = '16.375rem';
		containerHeight_640 = '24.375rem';
		containerHeight_480 = '10.25rem';
		containerHeight_320 = '12.25rem';
		headingWidth_480 = '16.5rem';
		fontSizeText_960 = '0.75rem';
		fontSizeText_480 = '0.5rem';
		fontSizeText_320 = '.5rem'
		textWidth_960 = '21.875rem';
		textWidth_480 = '11.875rem';
		textWidth_320 = '11.875rem';
		rightPosText_960 = '0';
		rightPosText_480 = '0';
		rightPosText_320 = '0';
		break;
	case 'low-income':
		containerWidth_960 = '50rem';
		containerWidth_640 = '38.125rem';
		containerWidth_480 = '26.875rem';
		containerWidth_320 = '87.5vw';
		containerHeight_960 = '23.5rem';
		containerHeight_640 = '29rem';
		containerHeight_480 = '12.6875rem';
		containerHeight_320 = '13rem';
		headingWidth_480 = '23.5rem';
		fontSizeText_960 = '.75rem';
		fontSizeText_480 = '0.625rem';
		fontSizeText_320 = '8px'
		textWidth_960 = '26.625rem';
		textWidth_480 = '17.125rem';
		textWidth_320 = '11.875rem';
		rightPosText_960 = '0';
		rightPosText_480 = '0';
		rightPosText_320 = '0';
		break;
	case 'gemo':
		containerWidth_960 = '40.875rem';
		containerWidth_640 = '27.25rem';
		containerWidth_480 = '16.3125rem';
		containerWidth_320 = '50vw';
		containerHeight_960 = '9rem';
		containerHeight_640 = '15rem';
		containerHeight_480 = '3.9375rem';
		containerHeight_320 = '33.125vw';
		break;
	case 'sport':
		// Container width
		containerWidth_960 = '32.625rem';
		containerWidth_640 = '32.625rem';
		containerWidth_480 = '13rem';
		containerWidth_320 = '19rem';
		// Container height
		containerHeight_960 = '11.7rem';
		containerHeight_640 = '11.7rem';
		containerHeight_480 = '5.75rem';
		containerHeight_320 = '5.75rem';
		// Text
		textWidth_960 = '10.625rem';
		textWidth_640 = '10.625rem';
		textWidth_480 = '8.4375rem';
		textWidth_320 = '8.4375rem';
		// Font
		fontSizeText_960 = '.75rem';
		fontSizeText_480 = '.625rem';
		fontSizeText_320 = '0.625rem';
		rightPosText_960 = '0';
		rightPosText_480 = '-3.5rem';
		rightPosText_320 = '0';
		break;
}
---
<section class="main_intro" id="main_intro">
    <div class="main_intro__container">
        <h2 class="main_intro__title">
            {mainHeading}
        </h2>
		{text && <h4 class="main_intro__text">{text}</h4>}
    </div>
</section>

<style define:vars=
	{{
		containerWidth, containerHeight, textWidth, 
		containerWidth_960, containerWidth_640, containerWidth_480, containerWidth_320,
		containerHeight_960, containerHeight_640, containerHeight_480, containerHeight_320,
		fontSizeText_960, fontSizeText_480, fontSizeText_320,
		textWidth_960, textWidth_480, textWidth_320,
		rightPosText_960, rightPosText_480, rightPosText_320,
		headingWidth_480
	}}>
	.main_intro {
		--section-height: 45rem;
		--font-size-title: 3.125rem;
		--line-height-title: 4rem;
		--font-size-text: 1rem;
	}

    .main_intro {
		position: relative;
		display: block;
		width: 100vw;
		height: var(--section-height);
		background: linear-gradient( rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2) ), url('../images/main/interBG.jpg');
		background-size: cover;
	}
	.main_intro__container {
		display: block;
		color: white;
		width: var(--containerWidth);
		height: var(--containerHeight);
		position: absolute;
		top: 50%;
		left: 50%;
		transform: translate(-50%, -50%);
		text-align: start;
	}
	.main_intro__title {
		display: inline;
		font-size: var(--font-size-title);
		line-height: var(--line-height-title);
		position: absolute;
		top: 0;
		left: 0;
		width: inherit;
	}

	.main_intro__text {
		display: inline;
		font-size: 1rem;
		width: var(--textWidth);
		position: absolute;
		right: -1rem;
		bottom: 0;
	}

	@media (960px <= width < 1200px) {
		.main_intro {
			--section-height: 45rem;
			--font-size-title: 2.5rem;
			--line-height-title: 3rem;
		}

		.main_intro__container {
			width: var(--containerWidth_960);
			height: var(--containerHeight_960);
		}

		.main_intro__text {
			font-size: var(--fontSizeText_960);
			width: var(--textWidth_960);
			right: var(--rightPosText_960);
		}
	}

	@media (640px <= width < 960px) {
		.main_intro {
			--section-height: 51.8125rem;
			--font-size-title: 2.5rem;
			--line-height-title: 3rem;
		}

		.main_intro__container {
			width: var(--containerWidth_640);
			height: var(--containerHeight_640);
		}

		.main_intro__text {
			font-size: var(--fontSizeText_960);
			width: var(--textWidth_960);
			right: var(--rightPosText_960);
		}
	}

	@media (480px <= width < 640px) {
		.main_intro {
			--section-height: 16.25rem;
			--font-size-title: 1rem;
			--line-height-title: 1.25rem;
		}

		.main_intro__container {
			width: var(--containerWidth_480);
			height: var(--containerHeight_480);
		}

		.main_intro__title {
			width: var(--headingWidth_480);
		}

		.main_intro__text {
			font-size: var(--fontSizeText_480);
			width: var(--textWidth_480);
			right: var(--rightPosText_480);
		}
	}

	@media (320px <= width < 480px) {
		.main_intro {
			--section-height: 30rem;
			--font-size-title: 1rem;
			--line-height-title: 1.25rem;
		}

		.main_intro__container {
			width: var(--containerWidth_320);
			height: var(--containerHeight_320);
		}

		.main_intro__text {
			font-size: var(--fontSizeText_320);
			width: var(--textWidth_320);
			right: var(--rightPosText_320);
		}
	}
</style>