---
import '../styles/global.css';

interface Props {
    href: string;
    theme?: 
        | "primary"
        | "text"
        | "slider-round"
        | "slider-square"
        | "tab-link";
    classes?: string;
    target?: string;
    rel?: string;
}

const { href, theme, classes, target, rel } = Astro.props;
---
<a target={target} rel={rel} href={href} class={`link ${theme ? `link_${theme}` : ''} ${classes ? classes : ''}`} id={theme === 'slider-square' ? 'svg_color' : ''}>
    <slot />
</a>

<style>
    a {
        --primary-color: #64C8BD;
        --link-width: 16.6rem;
        --link-height: 3.5rem;
        --square-size: 3.6rem;
        --text-gap: 0.625rem;
        --font-size-link: 16px;
    }

    @media (640px <= width < 1200px) {
        a {
            --link-width: 13.4375rem;
            --link-height: 2.625rem;
            --square-size: 3.6rem;
            --text-gap: 0.625rem;
            --font-size-link: 12px;
        }
    }

    @media (480px <= width < 640px) {
        a {
            --link-width: 13.0625rem;
            --link-height: 1.875rem;
            --square-size: 2.8125rem;
            --text-gap: 0.625rem;
            --font-size-link: 10px;
        }
    }

    @media (320px <= width < 480px) {
        a {
            --link-width: 8.125rem;
            --link-height: 1.875rem;
            --square-size: 3.6rem;
            --text-gap: 0.625rem;
            --font-size-link: 10px;
        }
    }
    .link {
        cursor: pointer;
        font-family: var(--font-inter);
        font-size: var(--font-size-link);
        color: black;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .link_primary {
        --color1: rgba(255, 255, 255, 0.6);
        --color2: rgba(255, 255, 255, 0.6);
        height: var(--link-height);
        width: var(--link-width);
        border-radius: var(--border-radius);
        border: 2px solid var(--primary-color);
        background: linear-gradient(to top, var(--color1), var(--color2));
    }


    .link_primary:hover,
    .link_primary:active {
        --color1: #094A6F;
        --color2: #64C8BD;
        border: none;
        color: white;
    }

    .link_text {
        margin: 0;
        padding: 0;
        height: auto;
        width: auto;
        display: flex;
        gap: var(--text-gap);
        justify-content: space-between;
        font-size: var(--font-size-link);
        background: var(--gradient);
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
    }

    .link_square {
        border-radius: 1rem 0 1.875rem 0;
        width: var(--square-size);
        height: var(--square-size);
        background-color: var(--white);
        box-shadow: 0px 0px 20px 0px rgba(0, 0, 0, 0.15);
        transition: background 0.3s;
    }

    .link_about_card {
        position: absolute;
        right: 0;
        bottom: 0;
        z-index: 10;
    }

    .link_square:hover,
    .link_square:active {
        background: var(--gradient);
    }

    .link_square:hover #right_arrow_svg path {
        fill: white !important;
    }
</style>
