---
import '../styles/global.css';
---
<div class="svg_container">
    <svg width="20" height="20" viewBox="0 0 20 20" fill="none" xmlns="http://www.w3.org/2000/svg" aria-labelledby="arrowTitle arrowDesc">
        <title id="catTitle">Arrow that points right direction</title>
        <desc id="arrowDesc">An illustrated linear-gradient arrow that turns white on hover.</desc>
        <path d="M11.1838 19.5166L19.5172 11.1833C19.6689 11.0248 19.7878 10.8379 19.8672 10.6333C20.0339 10.2275 20.0339 9.77242 19.8672 9.36665C19.7878 9.16206 19.6689 8.97516 19.5172 8.81665L11.1838 0.483317C11.0284 0.327919 10.844 0.204652 10.6409 0.120551C10.4379 0.0364506 10.2203 -0.00683594 10.0005 -0.00683594C9.55666 -0.00683594 9.131 0.169477 8.81716 0.483317C8.50333 0.797156 8.32701 1.22281 8.32701 1.66665C8.32701 2.11049 8.50333 2.53614 8.81716 2.84998L14.3172 8.33332L1.66717 8.33332C1.22514 8.33332 0.801214 8.50891 0.488653 8.82147C0.176092 9.13403 0.000499725 9.55795 0.000499725 9.99998C0.000499725 10.442 0.176092 10.8659 0.488653 11.1785C0.801214 11.4911 1.22514 11.6666 1.66717 11.6666L14.3172 11.6666L8.81716 17.15C8.66095 17.3049 8.53696 17.4893 8.45235 17.6924C8.36773 17.8955 8.32417 18.1133 8.32417 18.3333C8.32417 18.5533 8.36773 18.7712 8.45235 18.9743C8.53696 19.1774 8.66095 19.3617 8.81716 19.5166C8.9721 19.6729 9.15644 19.7969 9.35954 19.8815C9.56264 19.9661 9.78048 20.0096 10.0005 20.0096C10.2205 20.0096 10.4384 19.9661 10.6415 19.8815C10.8446 19.7969 11.0289 19.6729 11.1838 19.5166Z" fill="url(#paint0_linear_605_7)"/>
        <defs>
        <linearGradient id="paint0_linear_605_7" x1="0.000499725" y1="10.0014" x2="19.9922" y2="10.0014" gradientUnits="userSpaceOnUse">
            <stop stop-color="#094A6F"/>
            <stop offset="1" stop-color="#64C8BD"/>
        </linearGradient>
        </defs>
    </svg>
</div>

<style>
    .svg_container {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 3.6rem;
        height: 3.6rem;
    }

    .svg_container:hover svg path {
        fill: white;
    }

    svg {
        display: inline-block;
    }

    svg:hover path {
        fill: white;
    }
</style>