---
import { Icon } from 'astro-icon/components';
import '../styles/global.css';
import RadialGradient from './RadialGradient.astro';
import { Image } from 'astro:assets';
import ecoLogo from '../images/eco/ecoSocial.PNG';

const { page } = Astro.props;
---
<section class="social">
    <div class="social__container">
        <RadialGradient />
        <div class="white_round">
            {!page && <Icon name='mainLogoSocial' class='main_logo' />}
            {page && <Image src={ecoLogo} alt='Логотиа проекта эко день' loading='eager' />}
        </div>
        <div class="social__text">
            <h2 class="social__heading"><span>Подписывайтесь</span> на наши социальные сети</h2>
            <h3 class="social__subheading">чтобы быть в курсе самых свежих новостей и предстоящих мероприятий</h3>
            <div class="socil__logos">
                <a href="/" aria-label="логотип телеграма"><Icon name='tgSocial' /></a>
                <a href="/" aria-label="логотип ютуба"><Icon name='youtubeSocial' /></a>
                <a href="/" aria-label="логотип IG"><Icon name='instSocial' /></a>
            </div>
        </div>
    </div>
</section>

<style>
    .social {
        position: relative;
        display: block;
        width: 100vw;
        height: 38.5rem;
    }

    .social__container {
        display: block;
        position: absolute;
        top: 3.375rem;
        left: calc((100vw - var(--full-width)) / 2 - 6.8rem);
        width: 68.25rem;
        height: 33.125rem;
    }

    .white_round {
        display: block;
        position: absolute;
        left: 9.375rem;
        top: 8.7rem;
        width: 17.875rem;
        height: 17.875rem;
        border-radius: 50%;
        background-color: white;
        box-shadow: 0px 0px 20px 0px rgba(0, 0, 0, 0.15);
    }

    .main_logo {
        display: block;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        width: 11.875rem;
        height: 11.875rem;
    }

    .social__text {
        display: block;
        position: absolute;
        right: 0;
        top: 6.125rem;
        width: 34.375rem;
        height: 21.9rem;
    }

    h2 {
        font-family: var(--font-lulo-bold);
        font-size: 3.125rem;
        line-height: 4rem;
        margin-bottom: 1.25rem;
    }

    span {
        background-color: var(--green);
        background-image: var(--gradient);
        background-size: 100%;
        -webkit-background-clip: text;
        -moz-background-clip: text;
        -webkit-text-fill-color: transparent; 
        -moz-text-fill-color: transparent;
    }

    h3 {
        font-family: var(--font-inter);
        font-size: 1.3rem;
        margin-bottom: 2.5rem;
    }

    .socil__logos {
        display: flex;
        width: 15rem;
        height: 2.5rem;
        justify-content: space-between;
        align-items: center;
    }

    .socil__logos svg {
        height: inherit;
        width: 2.5rem;
    }
</style>