---
const locale = Astro.currentLocale || "";
---
<section class="gemohelp_hero">
    <div class="letters"></div>
    <div class="subheading">
        <h3>{locale === "en" && "90% of patients in the hematology department are cancer patients" || "90% пациентов в отделении гематологии являются онкобольными"}</h3>
    </div>
</section>

<style>
    section {
        --hero-background-position: calc((100vw - var(--reduced-width)) / 2) 0;
        --hero-height: 100vh;
        --h3-font-size: min(3vh, 36px);
        --h3-width: min(45vh, 37.5rem);
        --h3-bottom: 0;
        --h3-left: 5%;
        --subheading-top: 30vh;
        --subheading-width: var(--reduced-width);
        --subheading-height: min(39.5vh, 42rem);

    }

    .gemohelp_hero {
        position: relative;
        display: block;
        width: 100vw;
        height: var(--hero-height);
        background: url(../../images/gemohelp/gemoCover.jpg) no-repeat;
        background-size: cover;
        background-position: var(--hero-background-position);
    }

    .letters {
        display: block;
        margin: auto;
        width: var(--reduced-width);
        height: 100%;
        background: url(../../images/gemohelp/gemoCover.png) no-repeat;
        background-size: 100% 100%;
    }

    .subheading {
        display: block;
        position: absolute;
        left: 50%;
        transform: translateX(-50%);
        top: var(--subheading-top);
        width: var(--subheading-width);
        height: var(--subheading-height);
    }

    h3 {
        display: inline-block;
        position: absolute;
        width: var(--h3-width);
        font-family: var(--font-inter);
        font-size: var(--h3-font-size);
        color: black;
        left: var(--h3-left);
        bottom: var(--h3-bottom);
    }

    @media (960px <= width < 1200px) {
        section {
            --hero-height: 33.75rem;
            --h3-font-size: 1.25rem;
            --h3-bottom: 0%;
            --h3-left: 3%;
            --h3-width: 20rem;
            --subheading-top: 28%;
            --subheading-width: 56rem;
            --subheading-height: 15rem;
        }

        .letters {
            background: url(../../images/gemohelp/gemo_letters_960.svg) no-repeat;
        }
    }

    @media (640px <= width < 960px) {
        section {
            --hero-height: 45rem;
            --h3-font-size: 1.25rem;
            --h3-width: 20rem;
            --h3-bottom: 0%;
            --h3-left: 6%;
            --subheading-top: 35%;
            --subheading-width: 40.25rem;
            --subheading-height: 13rem;
        }

        .letters {
            background: url(../../images/gemohelp/gemo_letters_640.svg) no-repeat;
        }

        
    }

    @media (480px <= width < 640px) {
        section {
            --hero-height: 16.375rem;
            --h3-font-size: .75rem;
            --h3-width: 12.25rem;
            --h3-bottom: 2%;
            --h3-left: 5%;
            --subheading-top: 24%;
            --subheading-width: 30rem;
            --subheading-height: 10.25rem;
        }

        .letters {
            background: url(../../images/gemohelp/gemo_letters_480.svg) no-repeat;
            background-position: -21px 0;
        }
    }

    @media (320px <= width < 480px) {
        section {
            --hero-height: 30rem;
            --h3-font-size: .75rem;
            --h3-width: 8.625rem;
            --h3-bottom: 0;
            --h3-left: 2%;
            --subheading-top: 36%;
            --subheading-width: 17.5rem;
            --subheading-height: 7.5rem;
        }

        .letters {
            background: url(../../images/gemohelp/gemo_letters_320.svg) no-repeat;
            background-position: -20px 0;
        }

        .subheading {
            position: absolute;
            transform: translateX(0);
            left: 6.25%;
        }
    }
</style>