---
import '../../styles/global.css';
---
<section class="communication">
    <div class="communication__container">
        <div class="scroll_content">
            <h2 class="scroll-content">Коммуникация позволила виду <span class="gradient_span">действовать сообща. Вместе человечество достигает целей</span>, которые ставит перед ним <br/> природа.</h2>
        </div>
    </div>
</section>

<style>
    section {
        display: flex;
        justify-content: center;
        width: 100vw;
        height: 33.5125rem;
    }

    .communication__container {
        display: block;
        width: var(--reduced-width);
        height: inherit;
        overflow: hidden;
    }

    h2 {
        display: block;
        width: 100%;
        font-family: var(--font-lulo-bold);
        font-size: 3.125rem;
        line-height: 4.0625rem;
        margin-bottom: 13.2rem;
    }
</style>