---
import '../../styles/global.css';

interface Props {
    num: string;
    heading: string;
    text?: string;
}

const { num, heading, text } = Astro.props;

let textHeight, textWidth, textSpanWidth;
switch(num) {
    case '1':
        textHeight = '26.3rem';
        textWidth = '32.375rem';
        textSpanWidth = '28rem';
        break;
    case '2':
        textHeight = '26.6rem';
        textWidth = '29rem';
        textSpanWidth = '26.3rem';
        break;

    case '3':
        textHeight = '40.875rem';
        textWidth = '32.375rem';
        textSpanWidth = '29.75rem';
        break;
    case '4':
        textHeight = '22.6rem';
        textWidth = '32.375rem';
        textSpanWidth = '26.3rem';
        break;
    case '5':
        textHeight = '27.875rem';
        textWidth = '30.8rem';
        textSpanWidth = '27.75rem';
        break;
}
---
<div class="nums">
    <h2 class="num_heading">{num}</h2>
    <p class="text_heading">
        <span class="heading">{heading}</span>
        <span class="facts_text" set:html={text} />
    </p>
</div>

<style define:vars={{textHeight, textWidth, textSpanWidth}}>
    .nums {
        display: block;
        position: relative;
        width: var(--textWidth);
        height: var(--textHeight);
    }

    .num_heading {
        position: relative;
        display: inline;
        height: inherit;
        font-family: var(--font-lulo-bold);
        font-size: 12.5rem;
        color: rgba(236, 236, 236, 1);
    }

    .text_heading {
        display: inline-block;
        position: absolute;
        width: inherit;
        height: 8.125rem;
        top: 11.5rem;
        left: 2.75rem;
        font-size: 3.125rem;
        color: black;
        margin-bottom: 0.75rem;
    }

    .heading {
        display: block;
        width: 25rem;
        line-height: 3.5rem;
    }

    .facts_text {
        display: inline-block;
        font-size: 1rem;
        color: var(--dark-grey);
        line-height: 1.4rem;
        width: var(--textSpanWidth);
        margin-top: 1.25rem;
    }
</style>