---
import '../../styles/global.css';
import GemoFactsImg from './GemoFactsImg.astro';
import GemoFactsNums from './GemoFactsNums.astro';
import img1 from '../../images/gemohelp/gemoConceptCard1.jpg';
import img2 from '../../images/gemohelp/gemoConceptCard2.jpeg';
import img3 from '../../images/gemohelp/gemoConceptCard3.jpg';
import RadialGradient from '../RadialGradient.astro';
---
<section class="gemo_facts">
    <div class="gemo_facts__container">
        <RadialGradient topPosition="6.1875rem" leftPosition="58.125rem" />
        <RadialGradient topPosition="89.875rem" leftPosition="-24.375rem" />
        <h2 class="gemo_facts__container-heading">Несколько фактов о <span class="gemo_facts__container-span gradient_span">лейкемии</span></h2>
        <div class="facts">
            <GemoFactsNums 
                num='1' 
                heading='Лейкемия' 
                text='Лейкемия - это онкологическое заболевание крови и кроветворных клеток в костном мозге. Они делятся на две основные категории: острые (развиваются внезапно и имеют кратковременный характер) и хронические (развиваются в течение длительного периода времени и носят долгосрочный характер). Лейкемия подразделяется на другие типы, названные по типу клеток, которые становятся злокачественными.'
            />
            <GemoFactsNums 
                num='2' 
                heading='Типы лейкемии' 
                text='Острый лимфолейкоз (ОЛЛ)<br> Острый миелоидный лейкоз (ОМЛ)<br> Хронический лимфолейкоз (ХЛЛ)<br> Хронический миелоидный лейкоз (ХМЛ)<br> Хронический миеломоноцитарный лейкоз (CMML)'
            />
            <GemoFactsNums 
                num='3' 
                heading='Возраст заболевших' 
                text='В 2015-2019 годах в среднем у 18 мужчин из 100 000 ежегодно диагностировалась лейкемия, и в среднем у 11 женщин из 100 000 ежегодно диагностировалось это заболевание.<br> Лейкемия является наиболее распространенным видом рака у детей, но она по-прежнему встречается редко. Наиболее распространенным типом лейкоза у детей является острый лимфоцитарный лейкоз, за которым следует острый миелоидный лейкоз. У детей в возрасте до 15 лет, 5,3 из 100 000, в 2019 году был диагностирован лейкоз.<br> Последние тенденции заболеваемости лейкемией по SEER с поправкой на возраст, 2000-2019 гг.. Средний возраст на момент постановки диагноза составляет 67 лет. У мужчин лейкемия диагностируется чаще, чем у женщин, а у взрослых - чаще, чем у детей.'
            />
            <GemoFactsImg 
                img1={img1} imgDescr1='Сравнение крови при лийкемии и без' 
                img2={img2} imgDescr2='Тромбоциты' 
                img3={img3} imgDescr3='Лийкемия' 
            />
            <GemoFactsNums 
                num='4' 
                heading='Происхождение' 
                text='Лейкемия начинается, когда ДНК (наследственный материал) внутри клетки костного мозга становится аномальной, что приводит к развитию большего количества аномальных клеток. Что именно вызывает изменение ДНК неизвестно.'
            />
            <GemoFactsNums 
                num='5' 
                heading='Выживаемость' 
                text='В целом по ОЛЛ пятилетняя выживаемость составляет почти 66%. Выживаемость примерно одинакова среди людей любого пола. Пятилетняя выживаемость у детей младше 15 лет составляет 88%. Однако существуют мутации, влияющие на более тяжёлое течение болезни. В связи с этим, данный средний процент выживаемости иногда падает ниже 20%. При неоказании своевременной медицинской помощи смерть наступает в течении нескольких месяцев.'
            />
        </div>
        <div class="afterfacts_text">
            <h2 class="afterfacts_heading">из этого следует <span class="gradient_span">Вывод</span></h2>
            <h3>Исходя из статистики, опроса населения и личного мониторинга, мы наблюдаем серьёзный недостаток медикаментов по всему миру</h3>
            <p>начиная с дорогостоящих химиопрепаратов, до обычных пластырей, катетеров и вспомогательных таблеток, смягчающих негативный эффект от тяжёлого лечения.</p>
        </div>
    </div>
</section>

<style>
    .gemo_facts {
        --section-height: 140rem;
        --container-height: 132.6rem;
        --h2-width: 35.625rem;
        --afterfacts-text-width: 45.75rem;
        --afterfacts-text-height: 18rem;
        --afterfacts-margin-top: 7.1875rem;
        --afterfacts-heading-margin-bottom: 2.5rem;
        --h3-width: 39.3rem;
        --p-width: 34.75rem;
        --h2-font-size: 3.125rem;
        --h3-font-size: 1.5rem;
        --h3-margin-bottom: 1.25rem;
        --p-font-size: 1rem;
    }

    section {
        display: flex;
        justify-content: center;
        width: 100vw;
        height: var(--section-height);
    }

    .gemo_facts__container {
        position: relative;
        display: block;
        width: var(--reduced-width);
        height: var(--container-height);
    }

    h2 {
        display: inline-block;
        font-family: var(--font-lulo-bold);
        font-size: var(--h2-font-size);
    }

    .gemo_facts__container-heading {
        width: var(--h2-width);
    }

    .facts {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: space-between;
    }

    .afterfacts_text {
        display: block;
        width: var(--afterfacts-text-width);
        height: var(--afterfacts-text-height);
        margin-top: var(--afterfacts-margin-top);
    }

    .afterfacts_heading {
        margin-bottom: var(--afterfacts-heading-margin-bottom);
    }

    h3 {
        margin-bottom: var(--h3-margin-bottom);
        font-family: var(--font-inter);
        font-size: var(--h3-font-size);
        width: var(--h3-width);
    }

    p {
        font-family: var(--font-inter);
        font-size: var(--p-font-size);
        color: var(--dark-grey);
        width: var(--p-width);
    }

    @media (960px <= width < 1200px) {
        .gemo_facts {
            --section-height: 111.5625rem;
            --container-height: 105.125rem;
            --h2-width: 35.625rem;
            --afterfacts-text-width: 36.625rem;
            --afterfacts-text-height: 14.5rem;
            --afterfacts-margin-top: 6.25rem;
            --afterfacts-heading-margin-bottom: 2.5rem;
            --h3-width: 39.375rem;
            --h3-margin-bottom: 1.25rem;
            --p-width: 34.75rem;
            --h2-font-size: 2.5rem;
            --h3-font-size: 1.5rem;
            --p-font-size: 1rem;
        }
    }

    @media (640px <= width < 960px) {
        .gemo_facts {
            --section-height: 137.375rem;
            --container-height: 116.375rem;
            --h2-width: 35.625rem;
            --afterfacts-text-width: var(--reduced-width);
            --afterfacts-text-height: 17.3125rem;
            --afterfacts-margin-top: 6.25rem;
            --afterfacts-heading-margin-bottom: 2.5rem;
            --h3-width: 30.8125rem;
            --h3-margin-bottom: 1.25rem;
            --p-width: 21.75rem;
            --h2-font-size: 2.5rem;
            --h3-font-size: 1.5rem;
            --p-font-size: .75rem;
        }
    }

    @media (480px <= width < 640px) {
        .gemo_facts {
            --section-height: 92.1875rem;
            --container-height: 87.5rem;
            --h2-width: 13.125rem;
            --afterfacts-text-width: 21.75rem;
            --afterfacts-text-height: 8.4375rem;
            --afterfacts-margin-top: 5rem;
            --afterfacts-heading-margin-bottom: 2.5rem;
            --h3-width: 20.4375rem;
            --h3-margin-bottom: .625rem;
            --p-width: 21.75rem;
            --h2-font-size: 1rem;
            --h3-font-size: .75rem;
            --p-font-size: .625rem;
        }
    }

    @media (320px <= width < 480px) {
        .gemo_facts {
            --section-height: 530.75vw;
            --container-height: 450.0625vw;
            --h2-width: 60vw;
            --afterfacts-text-width: 73.125vw;
            --afterfacts-text-height: 10.1875vw;
            --afterfacts-margin-top: 3.75rem;
            --afterfacts-heading-margin-bottom: 1.25rem;
            --h3-width: 78.4375vw;
            --h3-margin-bottom: .625rem;
            --p-width: 73.125vw;
            --h2-font-size: 5vw;
            --h3-font-size: 3.75vw;
            --p-font-size: 3.125vw;
        }
    }

    @media (450px <= width < 480px) {
        .gemo_facts {
            --section-height: 400.75vw;
            --container-height: 350.0625vw;
        }
    }

    @media (400px <= width < 450px) {
        .gemo_facts {
            --section-height: 430.75vw;
            --container-height: 400.0625vw;
        }
    }

    @media (370px <= width < 400px) {
        .gemo_facts {
            --section-height: 460.75vw;
            --container-height: 400.0625vw;
        }
    }

    @media (340px <= width < 370px) {
        .gemo_facts {
            --section-height: 485.75vw;
            --container-height: 400.0625vw;
        }
    }

    @media (320px <= width < 340px) {
        .gemo_facts {
            --section-height: 510.75vw;
            --container-height: 400.0625vw;
        }
    }
</style>
