---
import '../../styles/global.css';
import RadialGradient from '../RadialGradient.astro';
import CharityCard from './CharityCard.astro';
---
<section class="charity">
    <div class="charity__container">
        <RadialGradient topPosition="-5.25rem" leftPosition="-23.0625rem" />
        <h2>направления <span class="gradient_span">благотворительности</span></h2>
        <div class="charity__cards">
            <CharityCard heading="gemohelp" subheading="Международный благотворительный проект" text="Помощь больным лейкемией" />
            <CharityCard heading="eco<br>time day" subheading="Международное экологическое сообщество" text="Уборка береговых зон" />
            <CharityCard heading="long<br>long ride" subheading="Международное спортивное сообщество" text="Бесплатные массовые заезды" />
            <CharityCard heading="repay" subheading="Международный благотворительный проект" text="Выкуп долга социально незащищенных" />
        </div>
    </div>
</section>

<style>
    :root {
        --charity-section-height: 36rem;
        --charity-container-height: 26.5625rem;
        --charity-heading-font-size: 3.125rem;
        --charity-heading-margin-bottom: 5rem;
        --charity-cards-height: 17.5rem;
    }

    section {
        display: flex;
        justify-content: center;
        width: 100vw;
        height: var(--charity-section-height);
    }

    .charity__container {
        position: relative;
        display: block;
        width: var(--reduced-width);
        height: var(--charity-container-height);
    }

    h2 {
        display: inline-block;
        font-family: var(--font-lulo-bold);
        font-size: var(--charity-heading-font-size);
        margin-bottom: var(--charity-heading-margin-bottom);
    }

    .charity__cards {
        display: flex;
        justify-content: space-between;
        width: 100%;
        height: var(--charity-cards-height);
    }
</style>
