---
import '../../styles/global.css';

const { heading, subheading, text } = Astro.props;

let marginBottom, marginTop;
heading.includes('<br>') ? marginBottom = '1.8rem' : marginBottom = '2.775rem';
heading.includes('<br>') ? marginTop = '1.8rem' : marginTop = '2.6rem';
---
<div class="card">
    <div class="text">
        <p class="heading" set:html={heading} />
        <p class="subheading">{subheading}</p>
        <p class="text">{text}</p>
    </div>
</div>

<style define:vars={{ marginBottom, marginTop }}>
    .card {
        --card-width: 16.5625rem;
        --card-height: 17.5rem;
        --text-width: 11rem;
        --heading-font-size: 1.125rem;
        --subheading-font-size: 1rem;
        --subheading-margin-bottom: 1.25rem;
        --text-font-size: 0.75rem;
    }

    .card {
        display: flex;
        justify-content: center;
        width: var(--card-width);
        height: var(--card-height);
        background-color: white;
        border-radius: var(--border-radius);
        box-shadow: var(--box-shadow);
    }

    .text {
        display: block;
        width: var(--text-width);
    }

    p {
        display: inline-block;
        width: 100%;
        color: black;
    }

    .heading {
        text-align: center;
        text-transform: uppercase;
        font-family: var(--font-lulo-bold);
        font-size: var(--heading-font-size);
        margin-bottom: var(--marginBottom);
        margin-top: var(--marginTop);
    }

    .subheading, .text {
        font-family: var(--font-inter);
    }

    .subheading {
        font-size: var(--subheading-font-size);
        margin-bottom: var(--subheading-margin-bottom);
    }

    .text {
        color: var(--dark-grey);
        font-size: var(--text-font-size);
    }
</style>
