---
import '../../styles/global.css';
import RadialGradient from '../RadialGradient.astro';
import CharityCard from './CharityCard.astro';

const locale = Astro.currentLocale || "";

---
<section class="charity">
    <div class="charity__container">
        <RadialGradient topPosition="-5.25rem" leftPosition="-23.0625rem" />
        <h2>
            {locale === "en" &&
            <>Charity <span class="gradient_span">areas</span></> ||
            <>направления <span class="gradient_span">благотворительности</span></>
            }            
        </h2>
        <div class="charity__cards">
            <CharityCard id="gemo" heading="gemohelp" subheading={locale === "en" && "International charity project" || "Международный благотворительный проект"} text={locale === "en" && "Help for leukemia patients" || "Помощь больным лейкемией"} />
            <CharityCard id="eco" heading="eco<br>time day" subheading={locale === "en" && "International environmental community" || "Международное экологическое сообщество"} text={locale === "en" && "Coastal cleaning" || "Уборка береговых зон"} />
            <CharityCard id="ride" heading="long<br>long ride" subheading={locale === "en" && "International sports community " || "Международное спортивное сообщество"} text={locale === "en" && "Free mass races" || "Бесплатные массовые заезды"} />
            <CharityCard id="repay" heading="repay" subheading={locale === "en" && "International charity project" || "Международный благотворительный проект"} text={locale === "en" && "Buying out debt of socially vulnerable people " || "Выкуп долга социально незащищенных"} />
        </div>
    </div>
</section>

<script>

	const cardsContainerElement = document.querySelector(".charity__cards");

    if (cardsContainerElement) {

        for (let i = 0; i < cardsContainerElement.children.length; i++) {
            const item = cardsContainerElement.children[i] as HTMLElement;
            item.style.opacity = "0";
            item.style.translate = "0 30px";
            setTimeout(() => item.style.transition = "opacity 0.5s, translate 0.5s", 0);            
        }

        window.addEventListener('scroll', onBodyScroll, {passive: true});

        function onBodyScroll() {
            if (isMostlyVisible()) {
                window.removeEventListener('scroll', onBodyScroll);
                animateAppearing();			
            }
        }

        function isMostlyVisible() {
            return cardsContainerElement!.getBoundingClientRect().top < window.innerHeight / 2;
        }

        function animateAppearing() {
            const items = cardsContainerElement?.children;
            let counter = 0;
            appear(items![counter++]);
            const interval = setInterval(function() {
                appear(items![counter++]);
                if (counter >= items!.length) clearInterval(interval);
            }, 300);
        }

        function appear(item) {
            item.style.opacity = "1";
            item.style.translate = "0";
        }
    }
</script>

<style>
    :root {
        --charity-section-height: 36rem;
        --charity-container-height: 26.5625rem;
        --charity-heading-font-size: 48px;
        --charity-heading-margin-bottom: 5rem;
        --charity-cards-height: 17.5rem;
    }

    section {
        display: flex;
        justify-content: center;
        width: 100vw;
        height: var(--charity-section-height);
    }

    .charity__container {
        position: relative;
        display: block;
        width: var(--reduced-width);
        height: var(--charity-container-height);
    }

    h2 {
        display: inline-block;
        font-size: var(--charity-heading-font-size);
        margin-bottom: var(--charity-heading-margin-bottom);
    }

    .charity__cards {
        display: flex;
        justify-content: space-between;
        width: 100%;
        height: var(--charity-cards-height);
    }

    @media (960px <= width < 1200px) {
        :root {
            --charity-section-height: 28.25rem;
            --charity-container-height: 20.75rem;
            --charity-heading-font-size: 37px;
            --charity-heading-margin-bottom: 2.5rem;
            --charity-cards-height: 13.5rem;
        }
    }

    @media (640px <= width < 960px) {
        :root {
            --charity-section-height: 45.125rem;
            --charity-container-height: 38.875rem;
            --charity-heading-font-size: 37px;
            --charity-heading-margin-bottom: 2.5rem;
            --charity-cards-height: 13.625rem;
        }

        .charity__cards {
            flex-wrap: wrap;
            row-gap: 2.625rem;
        }
    }

    @media (480px <= width < 640px) {
        :root {
            --charity-section-height: 28.25rem;
            --charity-container-height: 23.25rem;
            --charity-heading-font-size: 1rem;
            --charity-heading-margin-bottom: 1.25rem;
            --charity-cards-height: 9.75rem;
        }

        .charity__cards {
            flex-wrap: wrap;
            row-gap: 1.25rem;
        }
    }

    @media (320px <= width < 480px) {
        :root {
            --charity-section-height: 157.5vw;
            --charity-container-height: 138.75vw;
            --charity-heading-font-size: 15px;
            --charity-heading-margin-bottom: 20px;
            --charity-cards-height: 40.625vw;
        }

        .charity__cards {
            flex-wrap: wrap;
            row-gap: 3.25vw;
        }

        .card {
            border-radius: 20px;
        }
    }
</style>
