---
import '../../styles/global.css';
import RadialGradient from '../RadialGradient.astro';

const locale = Astro.currentLocale || "";
---
<section class="helpa" id="helpa">
    <div class="helpa__container">
        <RadialGradient topPosition="-19rem" leftPosition="58.125rem" />
        <RadialGradient topPosition="14.6875rem" leftPosition="-23rem" />
        <h2 class="helpa__container-heading">HELP PLANET (<span class="gradient_span">HELPA</span>)</h2>
        <p class="helpa__container-text">{locale === "en" && "Contract" || "Контракт"}: 0x6B8686BDF9DfE41790B0147d4096BF0c44b9c90f</p>
        <div class="helpa__container_cards">
            <div class="card">
                <div class="text1">
                    <p class="card_name">{locale === "en" && "Total token supply:" || "Общее количество токена составляет:"}</p>
                    <p class="card_text-bold token-total-amount"><span class="gradient_span">12345678987654321</span></p>
                </div>
            </div>
            <div class="card">
                <div class="text2">
                    <p class="card_name">
                        {locale === "en" &&
                        <>Tokensale <span class="gradient_span">up to 1%</span> ANNUALLY</> || 
                        <>Токенсейл <span class="gradient_span">до 1%</span> ЕЖЕГОДНО</>
                        }
                    </p>
                    <p class="card_text-common">
                        {locale === "en" && "Unsold tokens are allocated to the next year" || "Нераспроданное количество токенов переносится на следующий год"}</p>
                </div>
            </div>
            <div class="card">
                <div class="text3">
                    <p class="card_name-h2 token-sell-percent"><span class="gradient_span">100%</span></p>
                    <p class="card_text-black">{locale === "en" && "Full token sale is scheduled for 100 years" || "Полная продажа токена рассчитана на 100 лет"}</p>
                </div>
            </div>
        </div>
    </div>
</section>

<style>
    .helpa {
        --helpa-section-height: 42rem;
        --helpa-container-height: 26.375rem;
        --helpa-container-margin-top: 9.375rem;
        --helpa-heading-font-size: 3.125rem;
        --helpa-heading-margin-bottom: 1.25rem;
        --helpa-text-font-size: 1rem;
        --helpa-text-margin-bottom: 3.25rem;
        --card-width: 22.5rem;
        --card-height: 16.6rem;
        --card-name-font-size: 1.5rem;
        --card-text-bold-font-size: 1.0625rem;
        --card-text-common-font-size: 1rem;
        --card-name-h2-font-size: 3.125rem;
        --card-name-h2-margin-bottom: 0.625rem;
        --card-name-margin-bottom: 2.5rem;
        --card-text-black-font-size: 0.75rem;

        --text1-text2-width: 15.25rem;
        --text3-width: 12.1rem;
        --text1-height: 7.625rem;
        --text2-height: 8.75rem;
        --text2-card-name-margin-bottom: 1.25rem;
        --card-text-common-width: 15.2rem;
    }

    section {
        display: flex;
        justify-content: center;
        width: 100vw;
        height: var(--helpa-section-height);
    }

    .helpa__container {
        position: relative;
        display: block;
        width: var(--reduced-width);
        height: var(--helpa-container-height);
        margin-top: var(--helpa-container-margin-top);
    }

    h2 {
        display: inline-block;
        font-family: var(--font-lulo-bold);
        font-size: var(--helpa-heading-font-size);
        letter-spacing: 1px;
        margin-bottom: var(--helpa-heading-margin-bottom);
    }

    .helpa__container-text {
        font-family: var(--font-inter);
        font-size: var(--helpa-text-font-size);
        color: var(--dark-grey);
        margin-bottom: var(--helpa-text-margin-bottom);
    }

    .helpa__container_cards {
        display: flex;
        justify-content: space-between;
        width: inherit;
        height: var(--card-height);
    }

    .card {
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        height: 100%;
        width: var(--card-width);
        background-color: white;
        box-shadow: var(--box-shadow);
        border-radius: var(--border-radius);
    }

    .text1, .text2, .text3 {
        display: block;
    }

    .text1, .text2 {
        width: var(--text1-text2-width);
    }

    .text3 {
        width: var(--text3-width);
        text-align: center;
    }

    .text1 {
        height: var(--text1-height);
    }

    .text2 {
        height: var(--text2-height);
    }

    .card_name {
        text-align: center;
        font-family: var(--font-inter);
        font-size: var(--card-name-font-size);
        margin-bottom: var(--card-name-margin-bottom);
    }

    .text2 .card_name {
        margin-bottom: var(--text2-card-name-margin-bottom);
    }

    .card_text-bold {
        font-family: var(--font-lulo-bold);
        font-size: var(--card-text-bold-font-size);
    }

    .card_text-common {
        display: inline-block;
        font-size: var(--card-text-common-font-size);
        color: var(--dark-grey);
        width: var(--card-text-common-width);
    }

    .card_name-h2 {
        font-family: var(--font-lulo-clean);
        font-size: var(--card-name-h2-font-size);
        margin-bottom: var(--card-name-h2-margin-bottom);
    }

    .card_text-black {
        color: var(--dark-grey);
        font-size: var(--card-text-black-font-size);
    }

    .token-sell-percent {
        font-family: 'Montserrat Variable';
        font-weight: 700;
    }

    .token-total-amount {
        font-family: var(--font-extra-bold);
        text-align: justify;
        text-align-last: justify;
    }

    @media (960px <= width < 1200px) {
        .helpa {
            --helpa-section-height: 35.25rem;
            --helpa-container-height: 21.5rem;
            --helpa-container-margin-top: 6.25rem;
            --helpa-heading-font-size: 2.5rem;
            --helpa-heading-margin-bottom: 1.25rem;
            --helpa-text-font-size: .75rem;
            --helpa-text-margin-bottom: 2.5rem;
            --card-width: 18.375rem;
            --card-height: 13.5rem;
            --card-name-font-size: 1.25rem;
            --card-text-bold-font-size: 1.0625rem;
            --card-text-common-font-size: .75rem;
            --card-name-h2-font-size: 2.5rem;
            --card-name-h2-margin-bottom: 1.25rem;
            --card-name-margin-bottom: 2.5rem;
            --card-text-black-font-size: .75rem;

            --text1-text2-width: 15.25rem;
            --text3-width: 9.75rem;
            --text1-height: 6.375rem;
            --text2-height: 7.25rem;
            --text2-card-name-margin-bottom: 1.25rem;
            --card-text-common-width: 15.2rem;
        }

        .card_text-common br {
            display: none;
        }
    }

    @media (640px <= width < 960px) {
        .helpa {
            --helpa-section-height: 50.75rem;
            --helpa-container-height: 40.5rem;
            --helpa-container-margin-top: 5rem;
            --helpa-heading-font-size: 2.5rem;
            --helpa-heading-margin-bottom: 1.25rem;
            --helpa-text-font-size: .75rem;
            --helpa-text-margin-bottom: 2.5rem;
            --card-width: 18.625rem;
            --card-height: 13.5rem;
            --card-name-font-size: 1.25rem;
            --card-text-bold-font-size: 1.0625rem;
            --card-text-common-font-size: .75rem;
            --card-name-h2-font-size: 2.5rem;
            --card-name-h2-margin-bottom: 1.25rem;
            --card-name-margin-bottom: 1.875rem;
            --card-text-black-font-size: .75rem;

            --text1-text2-width: 15.25rem;
            --text3-width: 9.75rem;
            --text1-height: 6.375rem;
            --text2-height: 7.25rem;
            --text2-card-name-margin-bottom: 1.25rem;
            --card-text-common-width: 15.2rem;
        }

        .helpa__container_cards {
            flex-wrap: wrap;
            row-gap: 1.25rem;
        }

        .card_text-common br {
            display: none;
        }
    }

    @media (480px <= width < 640px) {
        .helpa {
            --helpa-section-height: 30.625rem;
            --helpa-container-height: 21.875rem;
            --helpa-container-margin-top: 5rem;
            --helpa-heading-font-size: 1rem;
            --helpa-heading-margin-bottom: .625rem;
            --helpa-text-font-size: .65rem;
            --helpa-text-margin-bottom: 1.25rem;
            --card-width: 13.125rem;
            --card-height: 8.25rem;
            --card-name-font-size: .75rem;
            --card-text-bold-font-size: 1rem;
            --card-text-common-font-size: .625rem;
            --card-name-h2-font-size: 1rem;
            --card-name-h2-margin-bottom: 1rem;
            --card-name-margin-bottom: 1.25rem;
            --card-text-black-font-size: .75rem;

            --text1-text2-width: 9.75rem;
            --text3-width: 9.75rem;
            --text1-height: 6.375rem;
            --text2-height: 4.875rem;
            --text2-card-name-margin-bottom: 1.25rem;
            --card-text-common-width: 9.75rem;
        }

        .helpa__container_cards {
            flex-wrap: wrap;
            row-gap: 1.25rem;
        }

        .card:nth-of-type(1) {
            width: 100%;
        }

        .card:nth-of-type(1) .card_name {
            margin: auto;
            margin-bottom: 1rem;
            width: 10.375rem;
        }

        .card:nth-of-type(1) .text1 {
            height: 4.5rem;
            width: 14.375rem;
        }

        .card_text-common br {
            display: none;
        }
    }

    @media (320px <= width < 480px) {
        .helpa {
            --helpa-section-height: 150.625vw;
            --helpa-container-height: 119.375vw;
            --helpa-container-margin-top: 12.5vw;
            --helpa-heading-font-size: 5vw;
            --helpa-heading-margin-bottom: 3.125vw;
            --helpa-text-font-size: 3.25vw;
            --helpa-text-margin-bottom: 3.25vw;
            --card-width: 40.625vw;
            --card-height: 46.875vw;
            --card-name-font-size: 3.75vw;
            --card-text-bold-font-size: 5vw;
            --card-text-common-font-size: 3.125vw;
            --card-name-h2-font-size: 5vw;
            --card-name-h2-margin-bottom: 4.375vw;
            --card-name-margin-bottom: 3.25vw;
            --card-text-black-font-size: 3.75vw;

            --text1-text2-width: 32.1875vw;
            --text3-width: 30.625vw;
            --text1-height: 22.5vw;
            --text2-height: 31.875vw;
            --text2-card-name-margin-bottom: 3.25vw;
            --card-text-common-width: 30.625vw;
        }

        .helpa__container_cards {
            flex-wrap: wrap;
            row-gap: 1.25rem;
        }

        .card:nth-of-type(1) {
            width: 100%;
        }

        .card:nth-of-type(1) .card_name {
            margin: auto;
            margin-bottom: 1rem;
            width: 10.375rem;
        }

        .card:nth-of-type(1) .text1 {
            height: 4.5rem;
            width: 71.875vw;
        }

        .card_text-common br {
            display: none;
            text-align: center;
        }
    }
</style>
