---
import '../../styles/global.css';
import RadialGradient from '../RadialGradient.astro';
---
<section class="profit">
    <div class="profit__container">
        <RadialGradient topPosition="var(--radial-gradient-top1)" leftPosition="var(--radial-gradient-left1)" />
        <RadialGradient topPosition="var(--radial-gradient-top2)" leftPosition="var(--radial-gradient-left2)" />
        <h2>ваша <span class="gradient_span">польза</span></h2>
        <div class="profit__cards">
            <div class="profit_row row-center">
                <div class="card">
                    <p>Возможность участия в проектах без приобретения токена в качестве волонтера</p>
                </div>
                <div class="card">
                    <p>Позитивный эффект на окружающую среду от реализации проектов</p>
                </div>
            </div>
            <div class="profit_row row-middle">
                <div class="card" id="card3">
                    <p>Создание благоприятной социальной среды</p>
                </div>
                <div class="card">
                    <p>Сохранение и приумножение капитала</p>
                </div>
                <div class="card">
                    <p>Позитивный эффект на экономическую систему</p>
                </div>
            </div>
            <div class="profit_row row-center">
                <div class="card">
                    <p>Благотворительность без специальной траты времени и средств</p>
                </div>
                <div class="card">
                    <p>Резонирование позитивного эффекта за счет трансляции положительного примера поведения</p>
                </div>
            </div>
        </div>
    </div>
</section>

<style>
    .profit {
        --radial-gradient-top1: -1.6875rem;
        --radial-gradient-left1: 58.75rem;
        --radial-gradient-top2: 17.3125rem;
        --radial-gradient-left2: -7.9375rem;
        --section-height: 54.6875rem;
        --container-height: 50rem;
        --heading-font-size: 3.125rem;
        --heading-margin-bottom: 5rem;
        --cards-height: 41rem;
        --row-height: 12.8125rem;
        --card-width: 22.5rem;
        --card-bg-color: white;
        --p-width: 14.5rem;
        --p-font-size: 1rem;
    }

    section {
        display: flex;
        justify-content: center;
        width: 100vw;
        height: var(--section-height);
    }

    .profit__container {
        position: relative;
        display: block;
        width: var(--reduced-width);
        height: var(--container-height);
    }

    h2 {
        display: inline-block;
        font-family: var(--font-lulo-bold);
        font-size: var(--heading-font-size);
        margin-bottom: var(--heading-margin-bottom);
    }

    .profit__cards {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        width: 100%;
        height: var(--cards-height);
    }

    .profit_row {
        display: flex;
        width: 100%;
        height: var(--row-height);
    }

    .row-middle {
        justify-content: space-between;
    }

    .row-center {
        column-gap: 1.25rem;
        justify-content: center;
    }

    .card {
        display: flex;
        justify-content: center;
        align-items: center;
        height: 100%;
        width: var(--card-width);
        border-radius: var(--border-radius);
        box-shadow: var(--box-shadow);
        background-color: var(--card-bg-color);
    }

    p {
        display: inline-block;
        width: var(--p-width);
        height: auto;
        font-family: var(--font-inter);
        font-size: var(--p-font-size);
    }

    @media (960px <= width < 1200px) {
        .profit {
            --section-height: 40rem;
            --container-height: 39.25rem;
            --heading-font-size: 2.5rem;
            --heading-margin-bottom: 2.5rem;
            --cards-height: 33.5rem;
            --row-height: 10.375rem;
            --card-width: 18.375rem;
            --p-width: 11rem;
            --p-font-size: .75rem;
        }
    }

    @media (640px <= width < 960px) {
        .profit {
            --section-height: 38.625rem;
            --container-height: 38.625rem;
            --heading-font-size: 2.5rem;
            --heading-margin-bottom: 2.5rem;
            --cards-height: 32.875rem;
            --row-height: 10.375rem;
            --card-width: 18.625rem;
            --p-width: 11rem;
            --p-font-size: .75rem;
        }

        .row-middle .card {
            width: 12.25rem;
        }

        .row-middle .card p {
            width: 9.75rem;
        }
    }

    @media (480px <= width < 640px) {
        .profit {
            --section-height: 26.125rem;
            --container-height: 26.125rem;
            --heading-font-size: 1rem;
            --heading-margin-bottom: 1.25rem;
            --cards-height: 23.625rem;
            --row-height: 7.375rem;
            --card-width: 13.125rem;
            --p-width: 10.625rem;
            --p-font-size: .625rem;
        }

        .row-middle .card {
            width: 8.625rem;
        }

        .row-middle .card p {
            width: 6.375rem;
        }
    }

    @media (320px <= width < 480px) {
        .profit {
            --section-height: 130.625vw;
            --container-height: 130.625vw;
            --heading-font-size: 5vw;
            --heading-margin-bottom: 6.25vw;
            --cards-height: 118.125vw;
            --row-height: 36.875vw;
            --card-width: 40.625vw;
            --p-width: 29.375vw;
            --p-font-size: 2.5vw;
        }

        .row-middle .card {
            width: 27.5vw;
        }

        .row-middle .card p {
            width: 20.625vw;
        }
    }
</style>
