---
import { Icon } from 'astro-icon/components';
import '../../styles/global.css';
import Link from '../Link.astro';
---
<section class="ride_hero">
    <div class="ride_hero__container">
        <div class="hero_text">
            <h1 class="hero_heading">
                <span class="highlight" id="helpa">helpa</span><span class="usual_text1">help</span>
                <span class="usual_text2">planet</span>
            </h1>
            <div class="hero_subtext">
                <p class="hero-descr">Первая благотворительная криптовалюта</p>
                <div class="token__buttons">
                    <Link href="/" theme='primary' classes="link link_primary">Приобрести</Link>
                    <Link href="/" theme='text' classes="link link_text"><span class="link_innertext_secondary">Подробнее</span><Icon name="arrowText" /></Link>    
                </div>
            </div>
        </div>
    </div>
</section>

<style>
    .ride_hero {
        position: relative;
        display: flex;
        width: 100vw;
        height: var(--full-height);
        justify-content: center;
        background: url(../../images/token/tokenCover.jpg) no-repeat center center/cover;
        overflow: hidden;
    }

    .ride_hero__container {
        position: relative;
        width: var(--reduced-width);
        height: 100%;
        z-index: 1;
        font-family: var(--font-lulo-bold);
        color: white;
    }

    .hero_text {
        display: block;
        width: 71rem;
        height: 20.5rem;
        margin-top: 15.1875rem;
    }

    .hero_heading {
        position: relative;
        width: 100%;
        height: 100%;
        display: inline-block;
        overflow: hidden;
        white-space: nowrap;
        
        font-size: 5.625rem;
    }

    .hero_heading .highlight {
        position: absolute;
        top: 1.1rem;
        left: 0;
        background: url('../../images/token/tokenCover.jpg') no-repeat;
        -webkit-background-clip: text;
        background-clip: text;
        color: transparent;
    }

    #helpa {
        width: 5em; /* Adjust width to match the size of 'ECO' */
        background-position: 9% 46%; /* Center of the background image */
        background-size: 100vw 100vh; /* Cover entire viewport */
    }

    .usual_text1 {
        font-size: 6.875rem;
        position: absolute;
        right: 14rem;
        top: 0;
    }

    .usual_text2 {
        font-size: 6.875rem;
        position: absolute;
        right: 0rem;
        bottom: 0;
    }

    .hero_subtext {
        position: absolute;
        top: 24.2rem;
        left: .2rem;
        display: flex;
        flex-direction: column;
        row-gap: 4.875rem;
        width: 23.875rem;
        height: 9.625rem;
    }

    .hero-subheading {
        display: inline-block;
        font-family: var(--font-inter);
        color: black;
        width: 100%;
        font-size: 1.5rem;
    }

    .hero-descr {
        display: inline-block;
        font-family: var(--font-inter);
        color: var(--dark-grey);
        font-size: 1rem;
    }

    .token__buttons {
        width: 100%;
        display: flex;
        justify-content: space-between;
    }

    .ride_hero::before {
        content: '';
        position: absolute;
        top: 0;
        left: 0;
        width: 42.5%;
        height: 100%;
        background: white;
        z-index: 0;
    }
</style>