---
import Link from "../Link.astro";

const locale = Astro.currentLocale || "";
---

<section class="token_hero">
    <div class="letters"></div>
    <div class="subheading">
        <div class="subheading_text">
            <p>{locale === "en" && "The first charity cryptocurrency" || "Первая благотворительная криптовалюта"}</p>
            <div class="token__buttons">
                <Link href="http://t.me/HelpPlanetSourceBot" theme='primary' classes="link link_primary">{locale === "en" && "Purchase" || "Приобрести"}</Link>
                <div class="token_text_link">
                    <a href={locale === "en" && "/White Paper ENG.pdf" || "/White Paper RUS.pdf"} target="_blank" class="arrow-cap">White paper</a>
                </div>
            </div>
        </div>
    </div>
</section>

<style>
    section {
        position: relative;
        height: 100vh;
        background: url(../../images/token/tokenCover.jpg) no-repeat;
        background-size: cover;
        overflow: hidden;
        margin-bottom: 100px;
    }

    .letters {
        height: 100%;
        background: url(../../images/token/token_letters_320.svg) center no-repeat;
        background-size: cover;
    }

    .subheading {
        position: absolute;
        top: 50%; right: 50%; width: 50%;
        margin-top: -10%;
        padding-left: 7vw;
    }

    .subheading h3,
    .subheading p {
        font-family: 'Inter Variable', sans-serif;
        font-weight: 400;
        color: black;        
    }

    .subheading h3 {
        font-size: 12px;
        margin-bottom: 10px;
    }

    .subheading p {
        font-size: 10px;
        color: #898989;
        margin-bottom: 10px;
    }

    .token__buttons {
        display: flex;
        flex-direction: column-reverse;
        align-items: start;
        gap: 50px;
    }
    
    .token_text_link {
        font-size: 10px;
    }

    @media (width >= 480px) {
        .letters {
            background-image: url(../../images/token/token_letters_480.svg);
        }

        .subheading {
            margin-top: -5%;
        }

        h3 br {
            display: none;
        }
    }

    @media (width >= 640px) {
        .subheading h3 {
            font-size: 20px;
        }

        .subheading p {
            font-size: 12px;
        }

        h3 br {
            display: inline;
        }

        .token_text_link {
            font-size: 14px;
        }
    }

    @media (width >= 960px) {
        .letters {
            background-image: url(../../images/token/token_letters_960.svg);
        }

        .subheading {
            margin-top: 30px;
            padding-right: 10%;
            padding-left: 2.5vw;
        }

        .token__buttons {
            flex-direction: row;
            align-items: center;
            gap: 20px;
            padding-top: 50px;
        }
    }

    @media (width >= 1200px) {
        .letters {
            background-size: 1200px;
            position: relative;
        }

        .letters:after {
            content: '';
            display: block;
            position: absolute;
            left: 0; top: 0; bottom: 0;
            width: 50%;
            translate: -600px;
            background: white;
        }

        .subheading {
            width: 600px;
            margin-top: 40px;
            padding-left: 30px;
        }

        .subheading h3 {
            font-size: 24px;
        }

        .subheading p {
            font-size: 16px;
        }
    }
</style>