---
import '../../styles/global.css';

interface Props {
    num: string;
    heading: string;
    text?: string;
}

const { num, heading, text } = Astro.props;

let alignFlex;
num === '2' || num === '4' ? alignFlex = 'flex-end' : alignFlex = 'flex-start';
---
<div class="nums">
    <h2 class="num_heading">{num}</h2>
    <p class="text_heading">
        <span class="heading">{heading}</span>
        <span class="facts_text" set:html={text} />
    </p>
</div>

<style define:vars={{ alignFlex }}>
    .nums {
        --num-font-size: 12.5rem;
        --num-color: rgba(236, 236, 236, 1);
        --text-heading-width: 19.125rem;
        --text-heading-height: 8.125rem;
        --text-heading-top: 11.5rem;
        --text-heading-left: 2.75rem;
        --text-heading-font-size: 2.5rem;
        --text-heading-line-height: 2.85rem;
        --text-heading-margin-bottom: 0.75rem;
        --nums-width: 22rem;
        --heading-width: 17.5rem;
        --heading-line-height: 3.5rem;
        --facts-text-font-size: 1rem;
        --facts-text-line-height: 1.4rem;
        --facts-text-width: 19.125rem;
    }

    .nums {
        display: block;
        position: relative;
        width: var(--nums-width);
        height: auto;
        align-self: var(--alignFlex);
    }

    .num_heading {
        position: relative;
        display: inline;
        height: inherit;
        width: inherit;
        font-family: var(--font-extra-bold);
        font-size: var(--num-font-size);
        color: var(--num-color);
    }

    .text_heading {
        display: inline-block;
        position: absolute;
        width: var(--text-heading-width);
        height: var(--text-heading-height);
        top: var(--text-heading-top);
        left: var(--text-heading-left);
        font-size: var(--text-heading-font-size);
        line-height: var(--text-heading-line-height);
        color: black;
        margin-bottom: var(--text-heading-margin-bottom);
    }

    .heading {
        text-transform: uppercase;
        display: block;
        width: var(--heading-width);
        line-height: var(--heading-line-height);
    }

    .facts_text {
        display: inline-block;
        font-size: var(--facts-text-font-size);
        color: var(--dark-grey);
        line-height: var(--facts-text-line-height);
        width: var(--facts-text-width);
    }

    @media (960px <= width < 1200px) {
        .nums {
            --num-font-size: 10rem;
            --text-heading-width: 12rem;
            --text-heading-height: 4.875rem;
            --text-heading-top: 9.5rem;
            --text-heading-left: 2.75rem;
            --text-heading-font-size: 1.875rem;
            --text-heading-line-height: 2rem;
            --text-heading-margin-bottom: 0.5rem;
            --heading-width: 12rem;
            --heading-line-height: 2.4rem;
            --facts-text-font-size: 1rem;
            --facts-text-line-height: 1.4rem;
            --facts-text-width: 19.125rem;
        }
    }

    @media (640px <= width < 960px) {
        .nums {
            --num-font-size: 10rem;
            --nums-width: 18rem;
            --text-heading-width: 12rem;
            --text-heading-height: 4.875rem;
            --text-heading-top: 9.5rem;
            --text-heading-left: 2.75rem;
            --text-heading-font-size: 1.875rem;
            --text-heading-line-height: 2rem;
            --text-heading-margin-bottom: 0.5rem;
            --heading-width: 12rem;
            --heading-line-height: 2.4rem;
            --facts-text-font-size: 1rem;
            --facts-text-line-height: 1.4rem;
            --facts-text-width: 19.125rem;
        }
    }

    @media (480px <= width < 640px) {
        .nums {
            --num-font-size: 6.25rem;
            --nums-width: 7rem;
            --text-heading-width: 7.375rem;
            --text-heading-height: 4.875rem;
            --text-heading-top: 5.5rem;
            --text-heading-left: 1.5rem;
            --text-heading-font-size: 1.125rem;
            --text-heading-line-height: 1.4rem;
            --text-heading-margin-bottom: 0.5rem;
            --heading-width: 7rem;
            --heading-line-height: 1.4rem;
            --facts-text-font-size: .625rem;
            --facts-text-line-height: .75rem;
            --facts-text-width: 8.875rem;
        }
    }

    @media (320px <= width < 480px) {
        .nums {
            --num-font-size: 6.25rem;
            --nums-width: 42vw;
            --text-heading-width: 36.875vw;
            --text-heading-height: 14.375vw;
            --text-heading-top: 5.5rem;
            --text-heading-left: 1.5rem;
            --text-heading-font-size: 5.625vw;
            --text-heading-line-height: 7.3125vw;
            --text-heading-margin-bottom: 1.5vw;
            --heading-width: 36.875vw;
            --heading-line-height: 7.3125vw;
            --facts-text-font-size: 3.124vw;
            --facts-text-line-height: 3.75vw;
            --facts-text-width: 44.375vw;
        }
    }
</style>
