---
import '../../styles/global.css';
import RadialGradient from '../RadialGradient.astro';
import TradingStrategy from '../token/TradingStrategy.astro';
---
<section class="trading">
    <div class="trading__container">
        <RadialGradient topPosition="var(--radial-gradient-top1)" leftPosition="var(--radial-gradient-left1)" />
        <RadialGradient topPosition="var(--radial-gradient-top2)" leftPosition="var(--radial-gradient-left2)" />
        <h2>наша торговая <span class="gradient_span">стратегия</span></h2>
        <div class="strategy_nums">
            <TradingStrategy
                num="1"
                heading="Закрытый токенсейл"
                text="между людьми, активно принимающими участие в запуске проекта"
            />
            <TradingStrategy 
                num="2"
                heading="Открытый токенсейл"
                text="для всех желающих, ограниченный количеством токена в одни руки"
            />
            <TradingStrategy 
                num="3"
                heading="открытый токенсейл"
                text="для всех желающих"
            />
            <TradingStrategy 
                num="4"
                heading="Выход на биржи"
            />
        </div>
    </div>
</section>

<style>
    .trading {
        --radial-gradient-top1: -16.8125rem;
        --radial-gradient-left1: 58.125rem;
        --radial-gradient-top2: 16.6875rem;
        --radial-gradient-left2: -22.75rem;
        --container-height: 43.75rem;
        --h2-font-size: 3.125rem;
        --spacing-between-strategies: 40rem;
    }

    section {
        display: flex;
        justify-content: center;
        width: 100vw;
        height: calc(var(--container-height) + 9.375rem);
    }

    .trading__container {
        position: relative;
        display: block;
        width: var(--reduced-width);
        height: var(--container-height);
    }

    h2 {
        display: inline-block;
        font-family: var(--font-lulo-bold);
        font-size: var(--h2-font-size);
    }

    .strategy_nums {
        display: flex;
        justify-content: space-between;
        width: 100%;
        height: var(--spacing-between-strategies);
    }

    @media (960px <= width < 1200px) {
        .trading {
            --radial-gradient-top1: -16.8125rem;
            --radial-gradient-left1: 58.125rem;
            --radial-gradient-top2: 16.6875rem;
            --radial-gradient-left2: -22.75rem;
            --container-height: 43.75rem;
            --h2-font-size: 2.5rem;
            --spacing-between-strategies: 32.5rem;
        }
    }

    @media (640px <= width < 960px) {
        .trading {
            --radial-gradient-top1: -16.8125rem;
            --radial-gradient-left1: 58.125rem;
            --radial-gradient-top2: 16.6875rem;
            --radial-gradient-left2: -22.75rem;
            --container-height: 32rem;
            --h2-font-size: 2.5rem;
            --spacing-between-strategies: 33rem;
        }

        .strategy_nums {
            flex-wrap: wrap;
        }
    }

    @media (480px <= width < 640px) {
        .trading {
            --radial-gradient-top1: -16.8125rem;
            --radial-gradient-left1: 58.125rem;
            --radial-gradient-top2: 16.6875rem;
            --radial-gradient-left2: -22.75rem;
            --container-height: 17.25rem;
            --h2-font-size: 1rem;
            --spacing-between-strategies: 20rem;
        }
    }

    @media (320px <= width < 480px) {
        .trading {
            --radial-gradient-top1: -16.8125rem;
            --radial-gradient-left1: 58.125rem;
            --radial-gradient-top2: 16.6875rem;
            --radial-gradient-left2: -22.75rem;
            --container-height: 178.125vw;
            --h2-font-size: 5vw;
            --spacing-between-strategies: 188.75vw;
        }

        .strategy_nums {
            flex-wrap: wrap;
        }
    }
</style>
