---
import { Icon } from 'astro-icon/components';
import '../../styles/global.css';
---
<section class="transaction">
    <div class="transaction__container">
        <h2><span>0,6%</span> комиссия за трансказацию:</h2>
        <div class="transaction__container-box">
            <Icon name='transactionLogo' class='transactionLogo'/>
            <div class="transaction__container-text">
                <h3>Комиссия за транзакцию в размере 0,5%, выделяющаяся на благотворительность, откладывается в отдельное хранилище.</h3>
                <p>После чего этот токен будет вновь распродан в конце каждого месяца, а вырученные средства пойдут на развитие выбранных проектов.</p>
            </div>
        </div>
        <div class="transaction_values">
            <div class="transaction_value">
                <p class="text-bold"><span>0,1%</span></p>
                <p class="text_descr">от каждой трансказации сгорает</p>
            </div>
            <div class="transaction_value">
                <p class="text-bold"><span>0,5%</span></p>
                <p class="text_descr">от каждой трансказации откладывается на благотворительность</p>
            </div>
            <div class="transaction_value">
                <p class="text-bold"><span>0,1%</span></p>
                <p class="text_descr">каждая трансказация повышает стоимость токена на 0,1% от трансказации</p>
            </div>
        </div>
    </div>
</section>

<style>
    section {
        display: flex;
        justify-content: center;
        width: 100vw;
        height: 54.3125rem;
    }

    .transaction__container {
        margin-top: 4.6875rem;
        display: block;
        width: var(--reduced-width);
        height: 44.9375rem;
    }

    h2, .text-bold {
        display: inline-block;
        font-family: var(--font-lulo-bold);
        font-size: 3.125rem;
    }

    h2 {
        margin-bottom: 3.75rem;
    }

    span {
        background-color: var(--green);
        background-image: var(--gradient);
        background-size: 100%;
        -webkit-background-clip: text;
        -moz-background-clip: text;
        -webkit-text-fill-color: transparent; 
        -moz-text-fill-color: transparent;
    }

    .transaction__container-box {
        display: flex;
        justify-content: space-between;
        align-items: center;
        height: 16.5625rem;
        width: 57.5rem;
        margin: auto;
        margin-bottom: 6.25rem;
    }

    .transactionLogo {
        display: block;
        height: 100%;
        width: 16.5625rem;
    }

    .transaction__container-text {
        display: block;
        width: 33.75rem;
        height: 10.625rem;
    }

    h3 {
        font-family: var(--font-inter);
        font-size: 1.3rem;
        margin-bottom: 1.25rem;
    }

    .transaction__container-text p {
        font-family: var(--font-inter);
        font-size: 1rem;
        color: var(--dark-grey);
    }

    .transaction_values {
        display: flex;
        width: 100%;
        justify-content: space-between;
    }

    .transaction_value {
        display: block;
        width: 21.5625rem;
    }

    .text_descr {
        font-family: var(--font-inter);
        font-size: 1.5rem;
        margin-top: 1.25rem;
    }
</style>